%% -*- mode: erlang; -*-

{erl_opts, [debug_info]}.
{deps, [
    {ecql, {git, "https://github.com/emqx/ecql.git", {tag, "v0.7.0"}}},
    {emqx_connector, {path, "../../apps/emqx_connector"}},
    {emqx_resource, {path, "../../apps/emqx_resource"}},
    {emqx_bridge, {path, "../../apps/emqx_bridge"}}
]}.

{shell, [
    {apps, [emqx_bridge_cassandra]}
]}.
