%% -*- mode: erlang -*-

{erl_opts, [debug_info]}.
{deps, [
    {emqx, {path, "../emqx"}},
    {grpc, {git, "https://github.com/emqx/grpc-erl", {tag, "0.6.4"}}}
]}.

{plugins, [
    {grpc_plugin, {git, "https://github.com/HJianBo/grpc_plugin", {tag, "v0.10.2"}}}
]}.

{grpc, [
    {protos, ["src/exproto/protos"]},
    {out_dir, "src/exproto/"},
    {gpb_opts, [
        {module_name_prefix, "emqx_"},
        {module_name_suffix, "_pb"}
    ]}
]}.

{provider_hooks, [
    {pre, [
        {compile, {grpc, gen}},
        {clean, {grpc, clean}}
    ]}
]}.

{xref_ignores, [emqx_exproto_pb]}.

{cover_excl_mods, [
    emqx_exproto_pb,
    emqx_exproto_v_1_connection_adapter_client,
    emqx_exproto_v_1_connection_adapter_bhvr,
    emqx_exproto_v_1_connection_handler_client,
    emqx_exproto_v_1_connection_handler_bhvr
]}.

{project_plugins, [erlfmt]}.
