deps/
ebin/
_rel/
.erlang.mk/
*.d
*.o
*.exe
data/
*.iml
.idea/
logs/
*.beam
emqx_coap.d
intergration_test/emqx-rel/
intergration_test/libcoap/
intergration_test/case*.txt
.DS_Store
_build/
rebar.lock
rebar3.crashdump
*.swp
erlang.mk
.rebar3/
etc/emqx_coap.conf.rendered
.tags*
