## Default
* @emqx/emqx-review-board

## apps
/apps/emqx/                @emqx/emqx-review-board @lafirest
/apps/emqx_authn/          @emqx/emqx-review-board @JimMoen @savonarola
/apps/emqx_authz/          @emqx/emqx-review-board @JimMoen @savonarola
/apps/emqx_connector/      @emqx/emqx-review-board @JimMoen
/apps/emqx_dashboard/      @emqx/emqx-review-board @JimMoen @lafirest
/apps/emqx_exhook/         @emqx/emqx-review-board @JimMoen @lafirest
/apps/emqx_gateway/        @emqx/emqx-review-board @lafirest
/apps/emqx_management/     @emqx/emqx-review-board @lafirest @sstrigler
/apps/emqx_plugin_libs/    @emqx/emqx-review-board @lafirest
/apps/emqx_plugins/        @emqx/emqx-review-board @JimMoen
/apps/emqx_prometheus/     @emqx/emqx-review-board @JimMoen
/apps/emqx_psk/            @emqx/emqx-review-board @lafirest
/apps/emqx_retainer/       @emqx/emqx-review-board @lafirest
/apps/emqx_rule_engine/    @emqx/emqx-review-board @kjellwinblad
/apps/emqx_slow_subs/      @emqx/emqx-review-board @lafirest
/apps/emqx_statsd/         @emqx/emqx-review-board @JimMoen

## CI
/deploy/  @emqx/emqx-review-board @Rory-Z

## no owner for changelogs, anyone can approve
/changes
