%% -*- mode: erlang; -*-

{erl_opts, [debug_info]}.

{deps, [
    {emqx_connector, {path, "../../apps/emqx_connector"}},
    {emqx_resource, {path, "../../apps/emqx_resource"}},
    {emqx_bridge, {path, "../../apps/emqx_bridge"}},
    {greptimedb, {git, "https://github.com/GreptimeTeam/greptimedb-ingester-erl", {tag, "v0.2.0"}}}
]}.
{plugins, [rebar3_path_deps]}.
{project_plugins, [erlfmt]}.
