{erl_opts, [
    debug_info
]}.

{deps, [
       {emqx_connector, {path, "../../apps/emqx_connector"}},
       {emqx_resource, {path, "../../apps/emqx_resource"}},
       {emqx_bridge, {path, "../../apps/emqx_bridge"}},
       {greptimedb_client_erl, {git, "https://github.com/GreptimeTeam/greptimedb-client-erl", {tag, "v0.1.1"}}}
]}.
{plugins, [rebar3_path_deps]}.
{project_plugins, [erlfmt]}.
