[submodule "plugins/emqttd_dashboard"]
	path = plugins/emqttd_dashboard
	url = https://github.com/emqtt/emqttd_dashboard.git
[submodule "plugins/emqttd_plugin_template"]
	path = plugins/emqttd_plugin_template
	url = https://github.com/emqtt/emqttd_plugin_template.git
[submodule "plugins/emqttd_plugin_pgsql"]
	path = plugins/emqttd_plugin_pgsql
	url = https://github.com/emqtt/emqttd_plugin_pgsql.git
[submodule "plugins/emqttd_plugin_mysql"]
	path = plugins/emqttd_plugin_mysql
	url = https://github.com/emqtt/emqttd_plugin_mysql.git
[submodule "plugins/emqttd_sockjs"]
	path = plugins/emqttd_sockjs
	url = https://github.com/emqtt/emqttd_sockjs.git
[submodule "plugins/emqttd_stomp"]
	path = plugins/emqttd_stomp
	url = https://github.com/emqtt/emqttd_stomp.git
[submodule "plugins/emqttd_recon"]
	path = plugins/emqttd_recon
	url = https://github.com/emqtt/emqttd_recon.git
[submodule "plugins/emqttd_plugin_redis"]
	path = plugins/emqttd_plugin_redis
	url = https://github.com/emqtt/emqttd_plugin_redis.git
