.eunit
test-data/
deps
!deps/.placeholder
*.o
*.beam
*.plt
erl_crash.dump
ebin
!ebin/.placeholder
.concrete/DEV_MODE
.rebar
test/ebin/*.beam
.exrc
plugins/*/ebin
*.swp
*.so
.erlang.mk/
cover/
eunit.coverdata
test/ct.cover.spec
ct.coverdata
.idea/
_build
.rebar3
rebar3.crashdump
.DS_Store
etc/gen.emqx.conf
compile_commands.json
cuttlefish
xrefr
*.coverdata
etc/emqx.conf.rendered
Mnesia.*/
*.DS_Store
_checkouts
rebar.config.rendered
/rebar3
rebar.lock
.stamp
tmp/
_packages
elvis
emqx_dialyzer_*_plt
*/emqx_dashboard/priv/www
dist.zip
scripts/git-token
etc/*.seg
_upgrade_base/
