.eunit
*.conf.all
test-data/
deps
!deps/.placeholder
*.o
*.beam
*.plt
#*.example
erl_crash.dump
ebin
!ebin/.placeholder
.concrete/DEV_MODE
.rebar
.exrc
*.swp
*.so
.erlang.mk/
cover/
test/ct.cover.spec
.idea/
_build
.rebar3
rebar3.crashdump
.DS_Store
# emqx_ds_replication_layer_meta:ensure_site/0
data
etc/gen.emqx.conf
compile_commands.json
cuttlefish
xrefr
*.coverdata
Mnesia.*/
*.DS_Store
_checkouts
rebar.config.rendered
/rebar3
rebar.lock
.stamp
tmp/
_packages
elvis
emqx_dialyzer_*_plt
*/emqx_dashboard/priv/
dist.zip
scripts/git-token
apps/*/etc/*.all
_upgrade_base/
TAGS
erlang_ls.config
.els_cache/
# VSCode files
.vs/
.vscode/
# Emacs Backup files
*~
# Emacs temporary files
.#*
*#
# For direnv
.envrc
# elixir
mix.lock
apps/emqx/test/emqx_static_checks_data/master.bpapi2
# rendered configurations
*.conf.rendered
*.conf.rendered.*
lux_logs/
/.prepare
bom.json
ct_run*/
apps/emqx_conf/etc/emqx.conf.all.rendered*
rebar-git-cache.tar
# build docker image locally
.dockerignore
.docker_image_tag
.emqx_docker_image_tags
.git/
apps/emqx_utils/src/emqx_variform_parser.erl
apps/emqx_utils/src/emqx_variform_scan.erl
default-profile.mk

/_build.*
