[
 {
   elvis,
   [
    {config,
     [
      {dirs => ["apps"],
        filter => "*.erl",
        ruleset => erl_files,
#        rules => [
#            {elvis_style, max_module_length, #{}},
#            {elvis_style, no_common_caveats_call, #{}}
#          ]
       },
      {dirs => ["."],
        filter => "Makefile",
        ruleset => makefiles
       },
      {dirs => ["."],
        filter => "rebar.config",
        ruleset => rebar_config
       },
      {dirs => ["."],
        filter => "elvis.config",
        ruleset => elvis_config
       }
     ]
    }
   ]
 }
].
