{deps, [{jsx, "2.9.0"},
        {gproc, "0.8.0"},
        {cowboy, "2.4.0"}
       ]}.

%% appended to deps in rebar.config.script
{github_emqx_deps,
    [{gen_rpc, "2.3.0"},
     {ekka, "v0.5.1"},
     {esockd, "v5.4.3"},
     {cuttlefish, "v2.2.0"}
    ]}.

{edoc_opts, [{preprocess, true}]}.
{erl_opts, [warn_unused_vars,
            warn_shadow_vars,
            warn_unused_import,
            warn_obsolete_guard,
            debug_info,
            {d, 'APPLICATION', emqx}]}.
{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, deprecated_function_calls,
               warnings_as_errors, deprecated_functions]}.
{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.

{plugins, [coveralls]}.

