%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{require_min_otp_vsn, "R17"}.

%% fail_on_warning,
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{erl_opts, [warn_export_all,
            warn_unused_import,
            {i, "include"},
			{src_dirs, ["src"]}]}.

{validate_app_modules, true}.

{erl_first_files, ["src/gen_server2.erl",
                   "src/emqttd_auth_mod.erl",
                   "src/emqttd_acl_mod.erl"]}.

{eunit_opts, []}. %%verbose

{ct_dir, "test"}.

{ct_log_dir, "logs"}.

{ct_extra_params, "-name ct_emqttd@127.0.0.1 -config rel/files/emqttd.test.config"}.

{ct_use_short_names, false}.

{xref_checks, [undefined_function_calls]}.

{cover_enabled, true}.

%% plugins cannot find emqttd.hrl without ".." lib dirs:(
%% but this setting will make deps apps collision
%% comment in 0.13.0 release
%% {lib_dirs, ["../"]}.

{sub_dirs, ["rel", "plugins/*/"]}.

{deps, [
	{gproc, ".*", {git, "git://github.com/uwiger/gproc.git", {branch, "master"}}},
	{lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}},
	{esockd, ".*", {git, "git://github.com/emqtt/esockd.git", {tag, "4.0"}}},
	{mochiweb, "4.*", {git, "git://github.com/emqtt/mochiweb.git", {tag, "4.1"}}}
]}.

{recursive_cmds, [ct, eunit, clean]}.
