
{release, {emqttd, "2.0"}, [
  sasl,
  os_mon,
  asn1,
  syntax_tools,
  ssl,
  crypto,
  xmerl,
  os_mon,
  inets,
  goldrush,
  compiler,
  runtime_tools,
  {observer, load},
  {wx, load},
  lager,
  gen_logger,
  gproc,
  esockd,
  mochiweb,
  {mnesia, load},
  emqttd
]}.

{include_src, false}.

{extended_start_script, false}.

{sys_config, "rel/sys.config"}.

{vm_args, "rel/vm.args"}.

{overlay_vars, "./rel/vars.config"}.

{overlay, [
    {mkdir, "etc/"},
    {mkdir, "etc/ssl/"},
    {mkdir, "data/"},
    {mkdir, "data/mnesia"},
    {mkdir, "log/"},
    {copy, "etc/ssl/ssl.crt", "etc/ssl/ssl.crt"},
    {copy, "etc/ssl/ssl.key", "etc/ssl/ssl.key"},

    {template, "bin/emqttd", "bin/emqttd"},
    {template, "bin/emqttd_ctl", "bin/emqttd_ctl"},
    {copy, "bin/nodetool", "bin/nodetool"},
    {copy, "bin/nodetool", "erts-\{\{erts_vsn\}\}/bin/nodetool"},
    {copy, "bin/install_upgrade_escript", "bin/install_upgrade_escript"},

    {template, "etc/acl.conf", "etc/acl.conf"},
    {template, "etc/client.conf", "etc/client.conf"},
    {template, "etc/emqttd.conf", "etc/emqttd.conf"},
    {template, "etc/passwd.conf", "etc/passwd.conf"},
    {template, "etc/rewrite.conf", "etc/rewrite.conf"}
]}.

