{erl_opts, [debug_info]}.
{deps, [
    {redbug, "2.0.7"},
    {alinkcore, {git, "git@github.com:alinkiot/alinkcore.git", {branch, "dev"}}},
    {alinkdata, {git, "git@github.com:alinkiot/alinkdata.git", {branch, "dev"}}},
    {alinkalarm, {git, "git@github.com:alinkiot/alinkalarm.git", {branch, "master"}}},
    {alinkiot_tdengine, {git, "git@github.com:alinkiot/alinkiot_tdengine.git", {branch, "dev"}}}
]}.
