{plugins, [rebar3_proper]}.

{deps,
 [{emqx_rule_engine, {git, "https://github.com/emqx/emqx-rule-engine"}}
 ]}.

{edoc_opts, [{preprocess, true}]}.
{erl_opts, [warn_unused_vars,
            warn_shadow_vars,
            warn_unused_import,
            warn_obsolete_guard,
            debug_info,
            {parse_transform}]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, deprecated_function_calls,
               warnings_as_errors, deprecated_functions]}.
{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.

{profiles,
 [{test,
   [{erl_opts, [export_all, nowarn_export_all]},
    {deps,
     [{emqx_ct_helper, {git, "https://github.com/emqx/emqx-ct-helpers", {tag, "1.3.0"}}},
      {cuttlefish, {git, "https://github.com/emqx/cuttlefish", {tag, "v3.0.0"}}},
      {emqtt, {git, "https://github.com/emqx/emqtt", {tag, "1.2.0"}}}
     ]}
   ]}
 ]}.
