.rebar/
.eunit/
.erlang.mk/
emqttd_auth_redis.d
deps/
ct.coverdata
logs/
test/ct.cover.spec
ebin/
*.o
*.beam
*.plt
erl_crash.dump
data
emqx_auth_redis.d
cover/
eunit.coverdata
_build/
rebar.lock
erlang.mk
*.conf.rendered
.rebar3/
*.swp
rebar.lock
/.idea/
.DS_Store
/.ci/redis/nodes.*.conf
/.ci/redis/*.log