%% -*- mode: erlang -*-
{deps, [
    {emqx_plugin_helper, {git, "https://github.com/emqx/emqx-plugin-helper.git", {tag, "v5.9.2"}}}
]}.

{plugins, [
    {emqx_plugrel, {git, "https://github.com/emqx/emqx_plugrel.git", {tag, "0.6.3"}}}
]}.

{profiles, [
    {test, [
        {deps, [
            {emqtt, {git, "https://github.com/emqx/emqtt", {tag, "1.13.5"}}},
            {hackney, "1.20.1"},
            {jiffy, "1.1.2"},
            {mysql, {git, "https://github.com/emqx/mysql-otp", {tag, "1.8.0.1"}}},
            {eredis_cluster, {git, "https://github.com/emqx/eredis_cluster", {tag, "0.8.8"}}}
        ]}
    ]}
]}.

{erl_opts, [debug_info]}.

%% this is the release version, different from app vsn in .app file
{relx, [
    {release,
        %% Do not update version manually; edit the VERSION file.
        {emqx_offline_messages, {file, "VERSION"}}, [
            emqx_offline_messages,
            emqx_plugin_helper
        ]},
    {dev_mode, false},
    {include_erts, false},
    {include_src, false}
]}.

%% Additional info of the plugin
{emqx_plugrel, [
    {authors, ["EMQX"]},
    {builder, [
        {name, "EMQX"},
        {contact, "developer@emqx.io"},
        {website, "https://www.emqx.com"}
    ]},
    {repo, "https://github.com/emqx/emqx"},
    {functionality, ["Offline message persistence"]},
    {compatibility, [{emqx, "~> 5.10"}]},
    {description, "Offline message persistence plugin for EMQX."}
]}.
