%% -*- mode:erlang -*-
{deps, [{emqx_utils, {path, "../emqx_utils"}}]}.

{erl_opts, [{src_dirs, ["src", "gen_src"]}]}.

{pre_hooks, [
    {"(linux|darwin|solaris)", compile, "erlc -bper +noobj -o gen_src asn.1/DurableMessage.asn"},
    {"(linux|darwin|solaris)", compile, "erlc -bper +noobj -o gen_src asn.1/DSBuiltinMetadata.asn"}
]}.
