[{elvis, [{config, [

#{dirs => ["src"],
  filter => "*.erl",
  %ignore => [],
  ruleset => erl_files,
  rules => [{elvis_style, operator_spaces, #{
              rules => [{right, ","},
                        {right, "|"},
                        {left, "|"},
                        {right, "||"},
                        {left, "||"}]}},
            {elvis_style, god_modules, #{limit => 100}}]}
]}]}].
