{erl_opts, [ debug_info
           %, {d, 'RESOURCE_DEBUG'}
           ]}.

{erl_first_files, ["src/emqx_resource_transform.erl"]}.

{extra_src_dirs, ["examples"]}.

{deps, [ {hocon, {git, "https://github.com/emqx/hocon", {branch, "master"}}}
       , {gproc, {git, "https://github.com/uwiger/gproc", {tag, "0.8.0"}}}
       , {minirest, {git, "https://github.com/emqx/minirest", {tag, "0.3.5"}}}
       , {jsx, {git, "https://github.com/talentdeficit/jsx", {tag, "v3.1.0"}}}
       ]}.

