%% -*- mode: erlang -*-

{erl_opts, [
    debug_info,
    nowarn_unused_import
    %, {d, 'RESOURCE_DEBUG'}
]}.

{erl_first_files, ["src/emqx_resource_transform.erl"]}.

{extra_src_dirs, ["examples"]}.

%% try to override the dialyzer 'race_conditions' defined in the top-level dir,
%% but it doesn't work
{dialyzer, [{warnings, [unmatched_returns, error_handling]}]}.

{deps, [
    {jsx, {git, "https://github.com/talentdeficit/jsx", {tag, "v3.1.0"}}},
    {emqx, {path, "../emqx"}}
]}.

{project_plugins, [erlfmt]}.
