{erl_opts, [ debug_info
           , nowarn_unused_import
           %, {d, 'RESOURCE_DEBUG'}
           ]}.

{erl_first_files, ["src/emqx_resource_transform.erl"]}.

{extra_src_dirs, ["examples"]}.

{dialyzer, [{warnings, [unmatched_returns, error_handling]}
           ]}.

{deps, [ {hocon, {git, "https://github.com/emqx/hocon", {branch, "master"}}}
       , {jsx, {git, "https://github.com/talentdeficit/jsx", {tag, "v3.1.0"}}}
       ]}.

