%% -*- mode: erlang -*-

{erl_opts, [debug_info]}.
{deps, [
    {emqx, {path, "../emqx"}},
    {emqx_utils, {path, "../emqx_utils"}},
    {emqx_rule_engine, {path, "../emqx_rule_engine"}},
    {erlavro, {git, "https://github.com/emqx/erlavro.git", {tag, "2.10.2-emqx-1"}}},
    {jesse, {git, "https://github.com/emqx/jesse.git", {tag, "1.8.1.1"}}},
    {gpb, "4.21.1"},
    {avlizer, {git, "https://github.com/emqx/avlizer.git", {tag, "0.5.1.1"}}}
]}.

{shell, [
    % {config, "config/sys.config"},
    {apps, [emqx_schema_registry]}
]}.
