%% -*- mode: erlang -*-

{deps, [
    {pot, "1.0.2"},
    {emqx, {path, "../emqx"}},
    {emqx_utils, {path, "../emqx_utils"}},
    {emqx_bridge_http, {path, "../emqx_bridge_http"}}
]}.

{edoc_opts, [{preprocess, true}]}.
{erl_opts, [
    warn_unused_vars,
    warn_shadow_vars,
    warn_unused_import,
    warn_obsolete_guard,
    debug_info,
    {d, 'APPLICATION', emqx}
]}.
{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    warnings_as_errors,
    deprecated_functions
]}.
{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.
{eunit_first_files, ["test/emqx_swagger_remote_schema.erl"]}.

{project_plugins, [erlfmt]}.
