%% -*- mode: erlang -*-

{emqx_plugrel, [
    {authors, ["EMQX"]},
    {builder, [
        {name, "EMQX"},
        {contact, "developer@emqx.io"},
        {website, "https://www.emqx.com"}
    ]},
    {repo, "https://github.com/emqx/emqx"},
    {functionality, ["Synchronous MQTT request over HTTP"]},
    {compatibility, [{emqx, "~> 5.10"}]},
    {description, "Synchronous MQTT request plugin for EMQX."}
]}.
