.rebar
.eunit
deps
!deps/.placeholder
*.o
*.beam
*.plt
erl_crash.dump
ebin
!ebin/.placeholder
.exrc
log/
*.swp
*.so
.erlang.mk/
logs/
ct.coverdata
test/ct.cover.spec
.idea/
emqx_recon.iml
Mnesia.nonode@nohost/
data/
cover/
emqx_recon.d
eunit.coverdata
.DS_Store
_build/
rebar.lock
erlang.mk
rebar3.crashdump
.rebar3/
