%% -*- mode: erlang -*-
%%--------------------------------------------------------------------
%% Copyright (c) 2025 EMQ Technologies Co., Ltd. All Rights Reserved.
%%--------------------------------------------------------------------

{erl_opts, [debug_info]}.
{deps, [
    {emqx, {path, "../../apps/emqx"}},
    {emqx_utils, {path, "../emqx_utils"}},
    {emqx_gateway, {path, "../../apps/emqx_gateway"}}
]}.
