%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{require_min_otp_vsn, "R17"}.

%% fail_on_warning, 
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{erl_opts, [warn_export_all,
            warn_unused_import,
            {i, "include"},
			{src_dirs, ["src"]}]}.

{xref_checks, [undefined_function_calls]}.

{deps, [
	{'Emysql', "*", {git, "git://github.com/Eonblast/Emysql.git", {branch, "master"}}}
]}.

