%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
[{kernel, 
	[{start_timer, true}, 
	 {start_pg2, true}
 ]},
 {sasl, [
	{sasl_error_logger, {file, "log/emqtt_sasl.log"}}
 ]},
 {mnesia, [
	{dir, "var/mnesia"}
 ]},
 {emqtt, [
    {tcp_listeners, [1883]},
    {tcp_listen_options, [
        binary,
        {packet,    raw},
        {reuseaddr, true},
        {backlog,   128},
        {nodelay,   true}]}
 ]}
].


