services:
  greptimedb:
    container_name: greptimedb
    hostname: greptimedb
    image: greptime/greptimedb:v0.17.2
    expose:
      - "4000"
      - "4001"
    restart: always
    networks:
      - emqx_bridge
    command:
      standalone start
      --user-provider=static_user_provider:cmd:greptime_user=greptime_pwd
      --http-addr="0.0.0.0:4000"
      --rpc-addr="0.0.0.0:4001"

  greptimedb_tls:
    container_name: greptimedb_tls
    hostname: greptimedb_tls
    image: greptime/greptimedb:v0.17.2
    expose:
      - "4000"
      - "4001"
    restart: always
    networks:
      - emqx_bridge
    volumes:
      - ./greptimedb/certs:/etc/greptime/certs
      - ./greptimedb/tls.toml:/etc/greptimedb/tls.toml
    command:
      standalone start
      --user-provider=static_user_provider:cmd:greptime_user=greptime_pwd
      --http-addr="0.0.0.0:4000"
      --rpc-addr="0.0.0.0:4001"
      -c /etc/greptimedb/tls.toml
