services:
  nats:
    container_name: nats
    image: public.ecr.aws/docker/library/nats:${NATS_TAG:-2.10}
    restart: always
    expose:
      - "4222"
      - "9222"
    volumes:
      - ./nats/nats.conf:/etc/nats/nats.conf
      - ./certs:/etc/nats/certs:ro
    command:
      - "-c"
      - "/etc/nats/nats.conf"
    networks:
      emqx_bridge:
        aliases:
          - nats
          - nats.emqx.net
  nats_wss:
    container_name: nats_wss
    image: public.ecr.aws/docker/library/nats:${NATS_TAG:-2.10}
    restart: always
    expose:
      - "4222"
      - "9322"
    volumes:
      - ./nats/nats-wss.conf:/etc/nats/nats.conf
      - ./certs:/etc/nats/certs:ro
    command:
      - "-c"
      - "/etc/nats/nats.conf"
    networks:
      emqx_bridge:
        aliases:
          - nats-wss
          - nats-wss.emqx.net
  nats_tls:
    container_name: nats_tls
    image: public.ecr.aws/docker/library/nats:${NATS_TAG:-2.10}
    restart: always
    expose:
      - "4422"
    volumes:
      - ./nats/nats-tls.conf:/etc/nats/nats.conf
      - ./certs:/etc/nats/certs:ro
    command:
      - "-c"
      - "/etc/nats/nats.conf"
    networks:
      emqx_bridge:
        aliases:
          - nats-tls
          - nats-tls.emqx.net
