services:
  nats:
    container_name: nats
    image: public.ecr.aws/docker/library/nats:${NATS_TAG:-2.10}
    restart: always
    expose:
      - "4222"
      - "9222"
    volumes:
      - ./nats/nats.conf:/etc/nats/nats.conf
      - ./certs:/etc/nats/certs:ro
    command:
      - "-c"
      - "/etc/nats/nats.conf"
    networks:
      emqx_bridge:
        aliases:
          - nats
          - nats.emqx.net
  nats_token:
    container_name: nats_token
    image: public.ecr.aws/docker/library/nats:${NATS_TAG:-2.10}
    restart: always
    expose:
      - "4222"
      - "9222"
    volumes:
      - ./nats/nats-token.conf:/etc/nats/nats.conf
      - ./certs:/etc/nats/certs:ro
    command:
      - "-c"
      - "/etc/nats/nats.conf"
    networks:
      emqx_bridge:
        aliases:
          - nats-token
          - nats-token.emqx.net
  nats_noauth:
    container_name: nats_noauth
    image: public.ecr.aws/docker/library/nats:${NATS_TAG:-2.10}
    restart: always
    expose:
      - "4222"
      - "9222"
    volumes:
      - ./nats/nats-noauth.conf:/etc/nats/nats.conf
      - ./certs:/etc/nats/certs:ro
    command:
      - "-c"
      - "/etc/nats/nats.conf"
    networks:
      emqx_bridge:
        aliases:
          - nats-noauth
          - nats-noauth.emqx.net
  nats_tls:
    container_name: nats_tls
    image: public.ecr.aws/docker/library/nats:${NATS_TAG:-2.10}
    restart: always
    expose:
      - "4422"
      - "9322"
    volumes:
      - ./nats/nats-tls.conf:/etc/nats/nats.conf
      - ./certs:/etc/nats/certs:ro
    command:
      - "-c"
      - "/etc/nats/nats.conf"
    networks:
      emqx_bridge:
        aliases:
          - nats-tls
          - nats-tls.emqx.net
          - nats-wss
          - nats-wss.emqx.net
  nats_tls_token:
    container_name: nats_tls_token
    image: public.ecr.aws/docker/library/nats:${NATS_TAG:-2.10}
    restart: always
    expose:
      - "4422"
      - "9322"
    volumes:
      - ./nats/nats-tls-token.conf:/etc/nats/nats.conf
      - ./certs:/etc/nats/certs:ro
    command:
      - "-c"
      - "/etc/nats/nats.conf"
    networks:
      emqx_bridge:
        aliases:
          - nats-token-tls
          - nats-token-tls.emqx.net
  nats_tls_noauth:
    container_name: nats_tls_noauth
    image: public.ecr.aws/docker/library/nats:${NATS_TAG:-2.10}
    restart: always
    expose:
      - "4422"
      - "9322"
    volumes:
      - ./nats/nats-tls-noauth.conf:/etc/nats/nats.conf
      - ./certs:/etc/nats/certs:ro
    command:
      - "-c"
      - "/etc/nats/nats.conf"
    networks:
      emqx_bridge:
        aliases:
          - nats-tls-noauth
          - nats-tls-noauth.emqx.net
