{erl_opts, [debug_info]}.
{deps, [
  {esockd, {git, "https://github.com/emqx/esockd", {tag, "5.9.3"}}},
  {alinkutil, {git, "git@github.com:alinkiot/alinkutil", {branch, "master"}}},
  {recon, {git, "https://github.com/ferd/recon", {tag, "2.5.1"}}},
  {mysql,  {git, "https://github.com/mysql-otp/mysql-otp", {tag, "1.7.0"}}},
  {alinkformula,  {git, "git@github.com:alinkiot/alinkformula.git", {branch, "main"}}}
]}.
