%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

%% Platform-specific installation paths
{platform_bin_dir,  "bin"}.
{platform_data_dir, "data"}.
{platform_etc_dir,  "etc"}.
{platform_lib_dir,  "lib"}.
{platform_log_dir,  "log"}.
{platform_plugins_dir,  "plugins"}.

%%
%% bin/emqx
%%
{runner_root_dir,    "$(cd $(dirname $(readlink $0 || echo $0))/..; pwd -P)"}.
{runner_bin_dir,     "$RUNNER_ROOT_DIR/bin"}.
{runner_etc_dir,     "$RUNNER_ROOT_DIR/etc"}.
{runner_lib_dir,     "$RUNNER_ROOT_DIR/lib"}.
{runner_log_dir,     "$RUNNER_ROOT_DIR/log"}.
{runner_data_dir,    "$RUNNER_ROOT_DIR/data"}.
{pipe_dir,           "/tmp/$RUNNER_SCRIPT/"}.
{runner_user,        ""}.

