%% -*- mode: erlang; -*-

{erl_opts, [debug_info, {feature, maybe_expr, enable}]}.
{deps, [
    {amqp_client, "4.0.3"},
    {emqx_connector, {path, "../../apps/emqx_connector"}},
    {emqx_resource, {path, "../../apps/emqx_resource"}},
    {emqx_bridge, {path, "../../apps/emqx_bridge"}}
]}.

{shell, [
    {apps, [emqx_bridge_rabbitmq]}
]}.
