{port_specs, [
    {"priv/emqttd_plugin_mysql_app.so", [
        "c_src/*.c"
    ]}
]}.

{port_env, [
    {".*", "CXXFLAGS", "$CXXFLAGS -g -Wall -Werror -O3"},

    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin)",
        "LDFLAGS", "$LDFLAGS -lstdc++ -lcrypto"},

    %% OS X Leopard flags for 64-bit
    {"darwin9.*-64$", "CXXFLAGS", "-m64"},
    {"darwin9.*-64$", "LDFLAGS", "-arch x86_64"},

    %% OS X Snow Leopard flags for 32-bit
    {"darwin10.*-32$", "CXXFLAGS", "-m32"},
    {"darwin10.*-32$", "LDFLAGS", "-arch i386"},

    %% This will merge into basho/rebar/rebar.config eventually
    {"win32", "CFLAGS", "/Wall /DWIN32 /D_WINDOWS /D_WIN32 /DWINDOWS"},
    {"win32", "CXXFLAGS", "-g -Wall -O3"}
]}.


{eunit_opts, [
    verbose,
    {report, {
        eunit_surefire, [{dir,"."}]
    }}
]}.
