emqx_gateway_api_authn {

add_authn.desc:
"""为指定网关开启认证器实现客户端认证的功能。<br/>
当未配置认证器或关闭认证器时，则认为允许所有客户端的连接。<br/>
注：在网关中仅支持添加一个认证器，而不是像 MQTT 一样允许配置多个认证器构成认证链。"""

add_user.desc:
"""添加用户（仅支持 built_in_database 类型的认证器）"""

delete_authn.desc:
"""删除指定网关的认证器。"""

delete_user.desc:
"""删除用户（仅支持 built_in_database 类型的认证器）"""

get_authn.desc:
"""获取指定网关认证器的配置
当网关或认证未启用时，返回 404。"""

get_user.desc:
"""获取用户信息（仅支持 built_in_database 类型的认证器）"""

import_users.desc:
"""导入用户（仅支持 built_in_database 类型的认证器）"""

is_superuser.desc:
"""是否是超级用户"""

like_user_id.desc:
"""使用用户 ID （username 或 clientid）模糊搜索，仅支持按子串的方式进行搜索。"""

list_users.desc:
"""获取用户列表（仅支持 built_in_database 类型的认证器）"""

update_authn.desc:
"""更新指定网关认证器的配置，或停用认证器。"""

update_user.desc:
"""更新用户信息（仅支持 built_in_database 类型的认证器）"""

user_id.desc:
"""用户 ID"""

}
