emqx_authz_schema {

deny.desc:
"""授权失败的次数。"""

deny.label:
"""授权失败次数"""

redis_sentinel.desc:
"""使用 Redis 授权（哨兵模式）。"""

redis_sentinel.label:
"""redis_sentinel"""

rate.desc:
"""命中速率，单位：次/秒。"""

rate.label:
"""速率"""

status.desc:
"""资源状态。"""

status.label:
"""状态"""

method.desc:
"""HTTP 请求方法"""

method.label:
"""method"""

query.desc:
"""访问控制数据查询语句/查询命令。"""

query.label:
"""查询语句"""

metrics_total.desc:
"""授权实例被触发的总次数。"""

metrics_total.label:
"""授权实例被触发的总次数"""

redis_cluster.desc:
"""使用 Redis 授权（集群模式）。"""

redis_cluster.label:
"""redis_cluster"""

mysql.desc:
"""使用 MySOL 数据库授权"""

mysql.label:
"""mysql"""

postgresql.desc:
"""使用 PostgreSQL 数据库授权"""

postgresql.label:
"""postgresql"""

mongo_rs.desc:
"""使用 MongoDB 授权（副本集模式）"""

mongo_rs.label:
"""mongo_rs"""

type.desc:
"""数据后端类型"""

type.label:
"""type"""

mongo_sharded.desc:
"""使用 MongoDB 授权（分片集群模式）。"""

mongo_sharded.label:
"""mongo_sharded"""

body.desc:
"""HTTP request body。"""

body.label:
"""Request Body"""

url.desc:
"""授权 HTTP 服务器地址。"""

url.label:
"""URL"""

node.desc:
"""节点名称。"""

node.label:
"""节点名称。"""

headers.desc:
"""HTTP Headers 列表"""

headers.label:
"""请求头"""

rate_last5m.desc:
"""5分钟内平均命中速率，单位：次/秒。"""

rate_last5m.label:
"""5分钟内速率"""

headers_no_content_type.desc:
"""HTTP Headers 列表 (无 <code>content-type</code>) 。"""

headers_no_content_type.label:
"""请求头(无 content-type)"""

node_error.desc:
"""节点上产生的错误。"""

node_error.label:
"""节点产生的错误"""

builtin_db.desc:
"""使用内部数据库授权（mnesia）。"""

builtin_db.label:
"""Buitin Database"""

enable.desc:
"""设为 <code>true</code> 或 <code>false</code> 以启用或禁用此访问控制数据源"""

enable.label:
"""enable"""

matched.desc:
"""请求命中次数。"""

matched.label:
"""已命中"""

node_status.desc:
"""每个节点上资源的状态。"""

node_status.label:
"""节点资源状态"""

rate_max.desc:
"""最大命中速率，单位：次/秒。"""

rate_max.label:
"""最大速率"""

filter.desc:
"""在查询中定义过滤条件的条件表达式。
过滤器支持如下占位符：<br/>
- <code>${username}</code>：将在运行时被替换为客户端连接时使用的用户名<br/>
- <code>${clientid}</code>：将在运行时被替换为客户端连接时使用的客户端标识符"""

filter.label:
"""过滤器"""

path.desc:
"""包含 ACL 规则的文件路径。
如果在启动 EMQX 节点前预先配置该路径，
那么可以将该文件置于任何 EMQX 可以访问到的位置。

如果从 EMQX Dashboard 或 HTTP API 创建或修改了规则集，
那么EMQX将会生成一个新的文件并将它存放在 `data_dir` 下的 `authz` 子目录中，
并从此弃用旧的文件。"""

path.label:
"""path"""

redis_single.desc:
"""使用 Redis 授权（单实例）。"""

redis_single.label:
"""redis_single"""

failed.desc:
"""请求失败次数。"""

failed.label:
"""失败"""

metrics.desc:
"""资源统计指标。"""

metrics.label:
"""指标"""

authorization.desc:
"""客户端授权相关配置"""

authorization.label:
"""授权"""

collection.desc:
"""`MongoDB` 授权数据集。"""

collection.label:
"""数据集"""

mongo_single.desc:
"""使用 MongoDB 授权（单实例）。"""

mongo_single.label:
"""mongo_single"""

file.desc:
"""使用静态文件授权"""

file.label:
"""文件"""

http_post.desc:
"""使用外部 HTTP 服务器授权(POST 请求)。"""

http_post.label:
"""http_post"""

request_timeout.desc:
"""HTTP 请求超时时长。"""

request_timeout.label:
"""请求超时时间"""

allow.desc:
"""授权成功的次数。"""

allow.label:
"""授权成功次数"""

cmd.desc:
"""访问控制数据查查询命令"""

cmd.label:
"""查询命令"""

nomatch.desc:
"""没有匹配到任何授权规则的次数。"""

nomatch.label:
"""没有匹配到任何授权规则的次数"""

sources.desc:
"""授权数据源。<br/>
授权（ACL）数据源的列表。
它被设计为一个数组，而不是一个散列映射，
所以可以作为链式访问控制。<br/>

当授权一个 'publish' 或 'subscribe' 行为时，
该配置列表中的所有数据源将按顺序进行检查。
如果在某个客户端未找到时(使用 ClientID 或 Username)。
将会移动到下一个数据源。直至得到 'allow' 或 'deny' 的结果。<br/>

如果在任何数据源中都未找到对应的客户端信息。
配置的默认行为 ('authorization.no_match') 将生效。<br/>

注意：
数据源使用 'type' 进行标识。
使用同一类型的数据源多于一次不被允许。"""

sources.label:
"""数据源"""

node_metrics.desc:
"""每个节点上资源的统计指标。"""

node_metrics.label:
"""节点资源指标"""

success.desc:
"""请求成功次数。"""

success.label:
"""成功"""

http_get.desc:
"""使用外部 HTTP 服务器授权(GET 请求)。"""

http_get.label:
"""http_get"""

}
