emqx_plugins_schema {

check_interval.desc:
"""检查间隔：检查集群中插件的状态是否一致，<br/>
如果连续3次检查结果不一致，则报警。"""

enable.desc:
"""设置为“true”以启用此插件"""

enable.label:
"""启用"""

install_dir.desc:
"""插件安装包的目录，出于安全考虑，该目录应该值允许 <code>emqx</code>，或用于运行 EMQX 服务的用户拥有写入权限。"""

install_dir.label:
"""安装目录"""

name_vsn.desc:
"""插件的名称{name}-{version}。<br/>
它应该与插件的发布包名称一致，如my_plugin-0.1.0。"""

name_vsn.label:
"""名称-版本"""

plugins.desc:
"""管理EMQX插件。<br/>
插件可以是EMQX安装包中的一部分，也可以是一个独立的安装包。<br/>
独立安装的插件称为“外部插件”。"""

plugins.label:
"""插件"""

state.desc:
"""描述插件的状态"""

state.label:
"""插件状态"""

states.desc:
"""一组插件的状态。插件将按照定义的顺序启动"""

states.label:
"""插件启动顺序及状态"""

}
