emqx_ee_schema_registry_http_api {

desc_param_path_schema_name.desc:
"""模式名称"""

desc_param_path_schema_name.label:
"""模式名称"""

desc_schema_registry_api_delete.desc:
"""删除一个模式"""

desc_schema_registry_api_delete.label:
"""删除模式"""

desc_schema_registry_api_get.desc:
"""通过名称获取模式"""

desc_schema_registry_api_get.label:
"""获取模式"""

desc_schema_registry_api_list.desc:
"""列出所有注册的模式"""

desc_schema_registry_api_list.label:
"""列表模式"""

desc_schema_registry_api_post.desc:
"""注册一个新的模式"""

desc_schema_registry_api_post.label:
"""注册模式"""

desc_schema_registry_api_put.desc:
"""更新一个现有的模式"""

desc_schema_registry_api_put.label:
"""更新模式"""

}
