emqx_resource_schema {

auto_restart_interval.desc:
"""资源断开以后，自动重连的时间间隔。"""

auto_restart_interval.label:
"""自动重连间隔"""

batch_size.desc:
"""最大批量请求大小。如果设为1，则无批处理。"""

batch_size.label:
"""最大批量请求大小"""

batch_time.desc:
"""在较低消息率情况下尝试累积批量输出时的最大等待间隔，以提高资源的利用率。"""

batch_time.label:
"""批量等待最大间隔"""

buffer_mode.desc:
"""队列操作模式。
<code>memory_only</code>: 所有的消息都缓存在内存里。<code>volatile_offload</code>: 先将消息缓存在内存中，当内存中的消息堆积超过一定限制（配置项 <code>buffer_seg_bytes</code> 指定该限制）后， 消息会开始缓存到磁盘上。"""

buffer_mode.label:
"""缓存模式"""

buffer_seg_bytes.desc:
"""当缓存模式是 <code>volatile_offload</code> 时适用。该配置用于指定缓存到磁盘上的文件的大小。"""

buffer_seg_bytes.label:
"""缓存文件大小"""

creation_opts.desc:
"""资源启动相关的选项。"""

creation_opts.label:
"""资源启动选项"""

enable_batch.desc:
"""启用批量模式。"""

enable_batch.label:
"""启用批量模式"""

enable_queue.desc:
"""启用磁盘缓存队列（仅对 egress 方向桥接有用）。"""

enable_queue.label:
"""启用磁盘缓存队列"""

health_check_interval.desc:
"""健康检查间隔。"""

health_check_interval.label:
"""健康检查间隔"""

inflight_window.desc:
"""请求飞行队列窗口大小。当请求模式为异步时，如果需要严格保证来自同一 MQTT 客户端的消息有序，则必须将此值设为 1。"""

inflight_window.label:
"""请求飞行队列窗口"""

max_buffer_bytes.desc:
"""每个缓存 worker 允许使用的最大字节数。"""

max_buffer_bytes.label:
"""缓存队列最大长度"""

query_mode.desc:
"""请求模式。可选 '同步/异步'，默认为'异步'模式。"""

query_mode.label:
"""请求模式"""

request_timeout.desc:
"""从请求进入缓冲区开始计时，如果请求在规定的时间内仍停留在缓冲区内或者已发送但未能及时收到响应或确认，该请求将被视为过期。"""

request_timeout.label:
"""请求超期"""

resource_opts.desc:
"""资源相关的选项。"""

resource_opts.label:
"""资源选项"""

resume_interval.desc:
"""在发送失败后尝试重传飞行窗口中的请求的时间间隔。"""

resume_interval.label:
"""重试时间间隔"""

start_after_created.desc:
"""是否在创建资源后立即启动资源。"""

start_after_created.label:
"""创建后立即启动"""

start_timeout.desc:
"""在回复资源创建请求前等待资源进入健康状态的时间。"""

start_timeout.label:
"""启动超时时间"""

worker_pool_size.desc:
"""缓存队列 worker 数量。仅对 egress 类型的桥接有意义。当桥接仅有 ingress 方向时，可设置为 0，否则必须大于 0。"""

worker_pool_size.label:
"""缓存池大小"""

}
