emqx_gateway_api {

delete_gateway.desc:
"""停用指定网关"""

enable_gateway.desc:
"""使用配置启动某一网关。"""

gateway_created_at.desc:
"""网关创建时间"""

gateway_current_connections.desc:
"""当前连接数"""

gateway_enable_in_path.desc:
"""是否开启此网关"""

gateway_listener_id.desc:
"""监听器 ID"""

gateway_listener_name.desc:
"""监听器名称"""

gateway_listener_running.desc:
"""监听器运行状态"""

gateway_listener_type.desc:
"""监听器类型"""

gateway_listeners.desc:
"""网关监听器列表"""

gateway_max_connections.desc:
"""最大连接数"""

gateway_name.desc:
"""网关名称"""

gateway_name_in_qs.desc:
"""网关名称.<br/>
可取值为 `stomp`、`mqttsn`、`coap`、`lwm2m`、`exproto`"""

gateway_node_status.desc:
"""网关在集群中每个节点上的状态"""

gateway_started_at.desc:
"""网关启用时间"""

gateway_status.desc:
"""网关启用状态"""

gateway_status_in_qs.desc:
"""通过网关状态筛选<br/>
可选值为 `running`、`stopped`、`unloaded`"""

gateway_stopped_at.desc:
"""网关停用时间"""

get_gateway.desc:
"""获取网关配置详情"""

list_gateway.desc:
"""该接口会返回指定或所有网关的概览状态，
包括当前状态、连接数、监听器状态等。"""

node.desc:
"""节点名称"""

update_gateway.desc:
"""更新指定网关的基础配置、和启用的状态。<br/>
注：认证、和监听器的配置更新需参考对应的 API 接口。"""

}
