emqx_ee_schema_registry_schema {

avro_type.desc:
"""[阿帕奇-阿夫罗](https://avro.apache.org/) 序列化格式。"""

avro_type.label:
"""阿帕奇-阿夫罗"""

schema_description.desc:
"""对该模式的描述。"""

schema_description.label:
"""模式描述"""

schema_name.desc:
"""模式的一个名称，将作为其标识符。"""

schema_name.label:
"""模式名称"""

schema_registry_root.desc:
"""模式注册表的配置。"""

schema_registry_root.label:
"""模式注册表"""

schema_registry_schemas.desc:
"""注册的模式。"""

schema_registry_schemas.label:
"""注册的模式"""

schema_source.desc:
"""模式的源文本。"""

schema_source.label:
"""模式来源"""

schema_type.desc:
"""模式类型。"""

schema_type.label:
"""模式类型"""

}
