emqx_authn_schema {

backend.desc:
"""后端类型。"""

backend.label:
"""后端类型"""

enable.desc:
"""设为 <code>true</code> 或 <code>false</code> 以启用或禁用此认证数据源。"""

enable.label:
"""启用"""

failed.desc:
"""请求失败次数。"""

failed.label:
"""失败"""

matched.desc:
"""请求命中次数。"""

matched.label:
"""已命中"""

mechanism.desc:
"""认证机制。"""

mechanism.label:
"""认证机制"""

metrics.desc:
"""资源统计指标。"""

metrics.label:
"""指标"""

metrics_failed.desc:
"""在当前实例中找到需要的认证信息，并且实例返回认证失败的次数。"""

metrics_failed.label:
"""实例认证失败的次数"""

metrics_nomatch.desc:
"""在当前实例中没有找到需要的认证信息，实例被忽略的次数。"""

metrics_nomatch.label:
"""实例被忽略的次数"""

metrics_rate.desc:
"""实例被触发的速率。触发速率等于匹配速率 + 忽略速率，单位：次/秒。"""

metrics_rate.label:
"""实例被触发的速率"""

metrics_rate_last5m.desc:
"""实例5分钟内平均触发速率，单位：次/秒。"""

metrics_rate_last5m.label:
"""实例5分钟内平均触发速率"""

metrics_rate_max.desc:
"""实例曾经达到的最高触发速率，单位：次/秒。"""

metrics_rate_max.label:
"""实例曾经达到的最高触发速率"""

metrics_success.desc:
"""在当前实例中找到需要的认证信息，并且实例返回认证成功的次数。"""

metrics_success.label:
"""实例认证成功的次数"""

metrics_total.desc:
"""当前实例被触发的总次数。"""

metrics_total.label:
"""当前实例被触发的总次数"""

node.desc:
"""节点名称。"""

node.label:
"""节点名称。"""

node_error.desc:
"""节点上产生的错误。"""

node_error.label:
"""节点产生的错误"""

node_metrics.desc:
"""每个节点上资源的统计指标。"""

node_metrics.label:
"""节点资源指标"""

node_status.desc:
"""每个节点上资源的状态。"""

node_status.label:
"""节点资源状态"""

rate.desc:
"""命中速率，单位：次/秒。"""

rate.label:
"""速率"""

rate_last5m.desc:
"""5分钟内平均命中速率，单位：次/秒。"""

rate_last5m.label:
"""5分钟内速率"""

rate_max.desc:
"""最大命中速率，单位：次/秒。"""

rate_max.label:
"""最大速率"""

status.desc:
"""资源状态。"""

status.label:
"""状态"""

success.desc:
"""请求成功次数。"""

success.label:
"""成功"""

}
