emqx_node_rebalance_api {

load_rebalance_status.desc:
"""获取当前节点的rebalance状态"""

load_rebalance_status.label:
"""获取rebalance状态"""

load_rebalance_global_status.desc:
"""获取集群中所有rebalance/evacuation进程的状态"""

load_rebalance_global_status.label:
"""获取全局rebalance状态"""

load_rebalance_availability_check.desc:
"""检查节点是否正在被evacuate或rebalance"""

load_rebalance_availability_check.label:
"""可用性检查"""

load_rebalance_start.desc:
"""启动rebalance进程"""

load_rebalance_start.label:
"""启动rebalance"""

load_rebalance_stop.desc:
"""停止rebalance进程"""

load_rebalance_stop.label:
"""停止rebalance"""

load_rebalance_evacuation_start.desc:
"""启动evacuation进程"""

load_rebalance_evacuation_start.label:
"""启动evacuation"""

load_rebalance_evacuation_stop.desc:
"""停止evacuation进程"""

load_rebalance_evacuation_stop.label:
"""停止evacuation"""

param_node.desc:
"""节点名称"""

param_node.label:
"""节点名称"""

wait_health_check.desc:
"""启动rebalance进程前等待的时间，单位为秒"""

wait_health_check.label:
"""等待健康检查"""

conn_evict_rate.desc:
"""逐出连接的速率，以每秒连接数表示"""

conn_evict_rate.label:
"""连接驱逐率"""

sess_evict_rate.desc:
"""逐出会话的速率，以每秒会话为单位"""

sess_evict_rate.label:
"""会话驱逐率"""

abs_conn_threshold.desc:
"""节点上的连接数与接收节点上的平均连接数之间的最大期望差值"""

abs_conn_threshold.label:
"""绝对连接阈值"""

rel_conn_threshold.desc:
"""节点上的连接数与接收节点上的平均连接数之间的最大期望分数"""

rel_conn_threshold.label:
"""相对连接阈值"""

abs_sess_threshold.desc:
"""节点上的会话数与接收节点上的平均会话数之间的最大期望差异"""

abs_sess_threshold.label:
"""绝对会话阈值"""

rel_sess_threshold.desc:
"""节点上的会话数与接收节点上的平均会话数之间的最大期望分数"""

rel_sess_threshold.label:
"""相对会话阈值"""

wait_takeover.desc:
"""开始会话疏散过程之前等待的时间，以秒为单位"""

wait_takeover.label:
"""等待接管"""

redirect_to.desc:
"""将客户端重定向到的服务器参考（MQTTv5 服务器重定向）"""

redirect_to.label:
"""重定向至"""

migrate_to.desc:
"""将会话迁移到的节点"""

migrate_to.label:
"""迁移到"""

rebalance_nodes.desc:
"""参与rebalance的节点"""

rebalance_nodes.label:
"""重新平衡节点"""

local_status_enabled.desc:
"""节点是否正在撤离"""

local_status_enabled.label:
"""当地避难状况"""

local_status_process.desc:
"""正在节点上执行的过程：疏散或重新平衡"""

local_status_process.label:
"""节点进程"""

local_status_state.desc:
"""正在节点上执行的进程的状态"""

local_status_state.label:
"""重新平衡/疏散当前状态"""

local_status_coordinator_node.desc:
"""协调再平衡过程的节点"""

local_status_coordinator_node.label:
"""协调节点"""

local_status_connection_eviction_rate.desc:
"""逐出连接的速率，以每秒连接数表示"""

local_status_connection_eviction_rate.label:
"""连接驱逐率"""

local_status_session_eviction_rate.desc:
"""逐出会话的速率，以每秒会话为单位"""

local_status_session_eviction_rate.label:
"""会话驱逐率"""

local_status_connection_goal.desc:
"""节点在重新平衡/疏散过程后应该拥有的连接数"""

local_status_connection_goal.label:
"""连接目标"""

local_status_session_goal.desc:
"""疏散过程后节点应有的会话数"""

local_status_session_goal.label:
"""会话目标"""

local_status_disconnected_session_goal.desc:
"""重新平衡过程后节点应具有的断开连接的会话数"""

local_status_disconnected_session_goal.label:
"""断开连接的会话目标"""

local_status_session_recipients.desc:
"""会话被疏散到的节点列表"""

local_status_session_recipients.label:
"""会话收件人"""

local_status_recipients.desc:
"""在重新平衡期间连接/会话被疏散到的节点列表"""

local_status_recipients.label:
"""收件人"""

local_status_stats.desc:
"""疏散/再平衡过程的统计"""

local_status_stats.label:
"""统计数据"""

status_stats_initial_connected.desc:
"""疏散/重新平衡过程之前节点上的连接数"""

status_stats_initial_connected.label:
"""初始连接"""

status_stats_current_connected.desc:
"""节点上的当前连接数"""

status_stats_current_connected.label:
"""当前连接"""

status_stats_initial_sessions.desc:
"""疏散/重新平衡过程之前节点上的会话数"""

status_stats_initial_sessions.label:
"""初始会话"""

status_stats_current_sessions.desc:
"""节点上的当前会话数"""

status_stats_current_sessions.label:
"""当前会话"""

status_stats_current_disconnected_sessions.desc:
"""节点上当前断开连接的会话数"""

status_stats_current_disconnected_sessions.label:
"""当前断开连接的会话"""

coordinator_status_donors.desc:
"""正在疏散连接/会话的节点列表"""

coordinator_status_donors.label:
"""捐助者"""

coordinator_status_donor_conn_avg.desc:
"""每个供体节点的平均连接数"""

coordinator_status_donor_conn_avg.label:
"""捐助者连接平均值"""

coordinator_status_donor_sess_avg.desc:
"""每个供体节点的平均会话数"""

coordinator_status_donor_sess_avg.label:
"""平均捐助会议"""

coordinator_status_node.desc:
"""协调疏散/再平衡过程的节点"""

coordinator_status_node.label:
"""协调节点"""

evacuation_status_node.desc:
"""正在撤离的节点"""

evacuation_status_node.label:
"""疏散节点"""

global_status_evacuations.desc:
"""正在撤离的节点列表"""

global_status_evacuations.label:
"""疏散"""

global_status_rebalances.desc:
"""协调再平衡的节点列表"""

global_status_rebalances.label:
"""再平衡"""

empty_response.desc:
"""响应为空"""

empty_response.label:
"""空响应"""
}

