emqx_bridge_opents {

    config_enable.desc:
        """启用/禁用桥接"""

    config_enable.label:
        "启用/禁用桥接"

    desc_config.desc:
        """OpenTSDB 桥接配置"""

    desc_config.label:
        "OpenTSDB 桥接配置"

    desc_type.desc:
        """Bridge 类型"""

    desc_type.label:
        "桥接类型"

    desc_name.desc:
        """桥接名字"""

    desc_name.label:
        "桥接名字"
}
