emqx_retainer_api {

config_content.desc:
"""配置内容"""

config_not_found.desc:
"""配置不存在"""

delete_matching_api.desc:
"""删除对应的消息"""

from_clientid.desc:
"""发布者的 ClientID"""

from_username.desc:
"""发布者的用户名"""

get_config_api.desc:
"""查看配置内容"""

list_retained_api.desc:
"""查看保留消息列表"""

lookup_api.desc:
"""通过不带通配符的主题查看对应的保留消息"""

message_detail.desc:
"""消息详情"""

message_not_exist.desc:
"""消息不存在"""

msgid.desc:
"""消息 ID"""

payload.desc:
"""消息内容"""

publish_at.desc:
"""消息发送时间, RFC 3339 格式"""

qos.desc:
"""QoS"""

retained_list.desc:
"""保留消息列表"""

topic.desc:
"""主题"""

unsupported_backend.desc:
"""不支持的后端"""

update_config_failed.desc:
"""配置更新失败"""

update_config_success.desc:
"""配置更新成功"""

update_retainer_api.desc:
"""更新配置"""

}
