emqx_mgmt_api_status {

get_status_api.desc:
"""作为节点的健康检查。 返回一个纯文本的响应，描述节点的状态。

如果 EMQX 应用程序已经启动并运行，返回状态代码 200，否则返回 503。

这个API是在v5.0.10中引入的。
GET `/status`端点（没有`/api/...`前缀）也是这个端点的一个别名，工作方式相同。 这个别名从v5.0.0开始就有了。"""

get_status_api.label:
"""服务健康检查"""

get_status_response200.desc:
"""Node emqx@127.0.0.1 is started
emqx is running"""

get_status_response503.desc:
"""Node emqx@127.0.0.1 is stopped
emqx is not_running"""

}
