emqx_ee_schema_registry_http_api {
  # apis
  desc_schema_registry_api_list {
    desc {
      en: "List all registered schemas"
      zh: "列出所有注册的模式"
    }
    label {
      en: "List schemas"
      zh: "列表模式"
    }
  }

  desc_schema_registry_api_get {
    desc {
      en: "Get a schema by its name"
      zh: "通过名称获取模式"
    }
    label {
      en: "Get schema"
      zh: "获取模式"
    }
  }

  desc_schema_registry_api_post {
    desc {
      en: "Register a new schema"
      zh: "注册一个新的模式"
    }
    label {
      en: "Register schema"
      zh: "注册模式"
    }
  }

  desc_schema_registry_api_put {
    desc {
      en: "Update an existing schema"
      zh: "更新一个现有的模式"
    }
    label {
      en: "Update schema"
      zh: "更新模式"
    }
  }

  desc_schema_registry_api_delete {
    desc {
      en: "Delete a schema"
      zh: "删除一个模式"
    }
    label {
      en: "Delete schema"
      zh: "删除模式"
    }
  }

  # params
  desc_param_path_schema_name {
    desc {
      en: "The schema name"
      zh: "模式名称"
    }
    label {
      en: "Schema name"
      zh: "模式名称"
    }
  }
}
