emqx_authn_api {

authentication_get.desc:
"""List authenticators for global authentication."""
authentication_get.label:
"""List authenticators"""

authentication_id_delete.desc:
"""Delete authenticator from global authentication chain."""
authentication_id_delete.label:
"""Delete authenticator"""

authentication_id_get.desc:
"""Get authenticator from global authentication chain."""
authentication_id_get.label:
"""Get authenticator"""

authentication_id_position_put.desc:
"""Move authenticator in global authentication chain."""
authentication_id_position_put.label:
"""Move authenticator"""

authentication_id_put.desc:
"""Update authenticator from global authentication chain."""
authentication_id_put.label:
"""Update authenticator"""

authentication_id_status_get.desc:
"""Get authenticator status from global authentication chain."""
authentication_id_status_get.label:
"""Get authenticator status"""

authentication_id_users_get.desc:
"""List users in authenticator in global authentication chain."""
authentication_id_users_get.label:
"""List users in authenticator"""

authentication_id_users_post.desc:
"""Create users for authenticator in global authentication chain."""
authentication_id_users_post.label:
"""Create users for authenticator"""

authentication_id_users_user_id_delete.desc:
"""Delete user in authenticator in global authentication chain."""
authentication_id_users_user_id_delete.label:
"""Delete user in authenticator"""

authentication_id_users_user_id_get.desc:
"""Get user from authenticator in global authentication chain."""
authentication_id_users_user_id_get.label:
"""Get user from authenticator"""

authentication_id_users_user_id_put.desc:
"""Update user in authenticator in global authentication chain."""
authentication_id_users_user_id_put.label:
"""Update user in authenticator"""

authentication_post.desc:
"""Create authenticator for global authentication."""
authentication_post.label:
"""Create authenticator"""

authentication_order_put.desc:
"""Reorder all authenticators in global authentication chain."""
authentication_order_put.label:
"""Reorder Authenticators"""

authentication_cache_status_get.desc:
"""Get authentication cache status."""

authentication_cache_status_get.label:
"""Authentication Cache Status"""

authentication_cache_get.desc:
"""Get authentication cache settings."""

authentication_cache_get.label:
"""Authentication Cache Settings"""

authentication_cache_put.desc:
"""Update authentication cache settings."""

authentication_cache_put.label:
"""Update Authentication Cache Settings"""

is_superuser.desc:
"""Is superuser"""
is_superuser.label:
"""Is superuser"""

like_user_id.desc:
"""Fuzzy search user_id (username or clientid)."""

like_user_id.label:
"""like_user_id"""

listeners_listener_id_authentication_get.desc:
"""List authenticators for listener authentication."""
listeners_listener_id_authentication_get.label:
"""List authenticators for listener"""

listeners_listener_id_authentication_id_delete.desc:
"""Delete authenticator from listener authentication chain."""
listeners_listener_id_authentication_id_delete.label:
"""Delete authenticator from listener"""

listeners_listener_id_authentication_id_get.desc:
"""Get authenticator from listener authentication chain."""
listeners_listener_id_authentication_id_get.label:
"""Get authenticator from listener"""

listeners_listener_id_authentication_id_position_put.desc:
"""Move authenticator in listener authentication chain."""
listeners_listener_id_authentication_id_position_put.label:
"""Move authenticator in listener"""

listeners_listener_id_authentication_id_put.desc:
"""Update authenticator from listener authentication chain."""
listeners_listener_id_authentication_id_put.label:
"""Update authenticator from listener"""

listeners_listener_id_authentication_id_status_get.desc:
"""Get authenticator status from listener authentication chain."""
listeners_listener_id_authentication_id_status_get.label:
"""Get authenticator status from listener"""

listeners_listener_id_authentication_id_users_get.desc:
"""List users in authenticator in listener authentication chain."""
listeners_listener_id_authentication_id_users_get.label:
"""List users in authenticator in listener"""

listeners_listener_id_authentication_id_users_post.desc:
"""Create users for authenticator in listener authentication chain."""
listeners_listener_id_authentication_id_users_post.label:
"""Create users for authenticator in listener"""

listeners_listener_id_authentication_id_users_user_id_delete.desc:
"""Delete user in authenticator in listener authentication chain."""
listeners_listener_id_authentication_id_users_user_id_delete.label:
"""Delete user in authenticator in listener"""

listeners_listener_id_authentication_id_users_user_id_get.desc:
"""Get user from authenticator in listener authentication chain."""
listeners_listener_id_authentication_id_users_user_id_get.label:
"""Get user from authenticator in listener"""

listeners_listener_id_authentication_id_users_user_id_put.desc:
"""Update user in authenticator in listener authentication chain."""
listeners_listener_id_authentication_id_users_user_id_put.label:
"""Update user in authenticator in listener"""

listeners_listener_id_authentication_post.desc:
"""Create authenticator for listener authentication."""
listeners_listener_id_authentication_post.label:
"""Create authenticator for listener"""

param_auth_id.desc:
"""Authenticator ID."""
param_auth_id.label:
"""Authenticator ID"""

param_listener_id.desc:
"""Listener ID."""
param_listener_id.label:
"""Listener ID"""

param_position.desc:
"""Position of authenticator in chain. Possible values are 'front', 'rear', 'before:{other_authenticator}', 'after:{other_authenticator}'."""
param_position.label:
"""Position of authenticator"""

param_user_id.desc:
"""User ID."""
param_user_id.label:
"""User ID"""

authentication_cache_reset_post.desc:
"""Reset node-wise authentication cache"""

authentication_cache_reset_post.label:
"""Reset node-wise authentication cache"""

param_clientid.desc:
"""Client ID"""

param_clientid.label:
"""Client ID"""

}
