emqx_bridge_s3_upload {

s3_upload.label:
"""Upload to S3"""
s3_upload.desc:
"""Action that takes incoming events and uploads them to the S3 API compatible service."""

s3_parameters.label:
"""S3 Upload parameters"""
s3_parameters.desc:
"""Set of parameters for the upload action."""

s3_direct_upload_mode.label:
"""Direct S3 Upload"""
s3_direct_upload_mode.desc:
"""Enables uploading of events to the S3 service as separate objects."""

s3_direct_upload_parameters.label:
"""Direct S3 Upload action parameters"""
s3_direct_upload_parameters.desc:
"""Set of parameters for the upload action. Action supports templates in S3 bucket name, object key and object content."""

s3_object_content.label:
"""S3 Object Content"""
s3_object_content.desc:
"""Content of the S3 object being uploaded. Supports templates."""

s3_aggregated_upload_mode.label:
"""Aggregated S3 Upload"""
s3_aggregated_upload_mode.desc:
"""Enables time-based aggregation of incoming events and uploading them to the S3 service as a single object."""

s3_aggregated_upload_parameters.label:
"""Aggregated S3 Upload action parameters"""
s3_aggregated_upload_parameters.desc:
"""Set of parameters for the aggregated upload action."""

s3_aggregation.label:
"""Aggregation parameters"""
s3_aggregation.desc:
"""Set of parameters governing the aggregation process."""

s3_aggregation_interval.label:
"""Time interval"""
s3_aggregation_interval.desc:
"""Amount of time events will be aggregated in a single object before uploading."""

s3_aggregation_max_records.label:
"""Maximum number of records"""
s3_aggregation_max_records.desc:
"""Number of records (events) allowed per each aggregated object. Each aggregated upload will contain no more than that number of events, but may contain less.<br/>
If event rate is high enough, there obviously may be more than one aggregated upload during the same time interval. These uploads will have different, but consecutive sequence numbers, which will be a part of S3 object key."""

s3_aggregated_container.label:
"""Container for aggregated events"""
s3_aggregated_container.desc:
"""Settings governing the file format of an upload containing aggregated events."""

s3_aggregated_container_csv.label:
"""CSV container"""
s3_aggregated_container_csv.desc:
"""Records (events) will be aggregated and uploaded as a CSV file."""

s3_aggregated_container_csv_column_order.label:
"""CSV column order"""
s3_aggregated_container_csv_column_order.desc:
"""Event fields that will be ordered first as columns in the resulting CSV file.<br/>
Regardless of this setting, resulting CSV will contain all the fields of aggregated events, but all the columns not explicitly mentioned here will be ordered after the ones listed here in the lexicographical order."""

s3_aggregated_upload_key.label:
"""S3 object key template"""
s3_aggregated_upload_key.desc:
"""Template for the S3 object key of an aggregated upload.<br/>
Template may contain placeholders for the following variables:
<ul>
<li><code>${action}</code>: name of the action (required).</li>
<li><code>${node}</code>: name of the EMQX node conducting the upload (required).</li>
<li><code>${datetime.{format}}</code>: date and time when aggregation started, formatted according to the <code>{format}</code> string (required):
    <ul>
    <li><code>${datetime.rfc3339utc}</code>: RFC3339-formatted date and time in UTC,</li>
    <li><code>${datetime.rfc3339}</code>: RFC3339-formatted date and time in local timezone,</li>
    <li><code>${datetime.unix}</code>: Unix timestamp.</li>
    </ul>
</li>
<li><code>${datetime_until.{format}}</code>: date and time when aggregation ended, with the same formatting options.</li>
<li><code>${sequence}</code>: sequence number of the aggregated upload within the same time interval (required).</li>
</ul>
All other placeholders are considered invalid. Note that placeholders marked as required will be added as a path suffix to the S3 object key if they are missing from the template."""

}
