emqx_dashboard_sso_ldap {

ldap_bind.desc:
"""Configuration of authenticator using the LDAP bind operation as the authentication method."""

query_timeout.desc:
"""Timeout for the LDAP query."""

query_timeout.label:
"""Query Timeout"""

filter.desc:
"""The filter for matching users in LDAP is by default `(&(objectClass=person)(uid=${username}))`. For Active Directory, it should be set to `(&(objectClass=user)(sAMAccountName=${username}))` by default. Please refer to [LDAP Filters](https://ldap.com/ldap-filters/) for more details."""

filter.label:
"""Filter"""

LDAP.desc:
"""LDAP (Lightweight Directory Access Protocol) is a protocol for accessing and managing directory information services over a network. It can be used as a Single Sign-On (SSO) provider to authenticate users by binding to the LDAP server with their credentials."""
LDAP.label: "LDAP"
}
