emqx_prometheus_schema {

headers.desc:
"""An HTTP Headers when pushing to Push Gateway.<br/>
For example, <code> { Authorization = "some-authz-tokens"}</code>"""

interval.desc:
"""Data reporting interval"""

job_name.desc:
"""Job Name that is pushed to the Push Gateway. Available variables:<br/>
- ${cluster_name}: Name of EMQX cluster.<br/>
- ${name}: Name of EMQX node.<br/>
- ${host}: Host name of EMQX node.<br/>
For example, when the EMQX node name is <code>emqx@127.0.0.1</code> then the <code>name</code>
variable takes value <code>emqx</code> and the <code>host</code> variable takes value <code>127.0.0.1</code>.
Default value is: <code>${name}/instance/${name}~${host}</code>"""

prometheus.desc:
"""EMQX's Prometheus scraping endpoint is enabled by default without authentication.
You can inspect it with a `curl` command like this: `curl -f "127.0.0.1:18083/api/v5/prometheus/stats"`"""

prometheus.label:
"""Prometheus"""

push_gateway.desc:
"""Push Gateway is optional, should not be configured if prometheus is to scrape EMQX."""

enable_basic_auth.desc:
"""Enable or disable basic authentication for prometheus scrape api, not for Push Gateway"""

collectors.desc:
"""The internal advanced metrics of the virtual machine are initially disabled
and are usually only enabled during performance testing.
Enabling them will increase the CPU load."""

recommend_setting.desc:
"""Recommended setting"""

push_gateway_url.desc:
"""URL of Pushgateway server. Pushgateway is optional, should not be configured if prometheus is to scrape EMQX."""
push_gateway_enable.desc:
"""Enable or disable Pushgateway"""

clear_metrics_before_push.desc:
"""Clear metrics before pushing to Pushgateway.<br/>
Because Pushgateway retains the last value of a metric after it has been removed,
this can cause Prometheus to fail to reflect the removal of these metrics when scraping them.<br/>
The default behavior is set to true, meaning that emqx will clean up all metrics of this job in Pushgateway before each metric push."""

mnesia_collector.desc:
"""Collects Mnesia metrics mainly using <code> mnesia:system_info/1 </code>"""

vm_dist_collector.desc:
"""Enable or disable VM distribution collector,
collects information about the sockets and processes involved in the Erlang distribution mechanism."""

vm_memory_collector.desc:
"""Collects information about memory dynamically allocated by the Erlang emulator using
<code> erlang:memory/0 </code>."""

vm_msacc_collector.desc:
"""Enable or disable VM microstate accounting metrics collector."""

vm_statistics_collector.desc:
"""Enable or disable VM statistics collector."""

vm_system_info_collector.desc:
"""Enable or disable VM system info collector."""

legacy_deprecated_setting.desc:
"""Deprecated since 5.4.0"""

legacy_enable.desc:
"""Deprecated since 5.4.0, use `prometheus.push_gateway.url` instead"""

legacy_headers.desc:
"""Deprecated since 5.4.0, use `prometheus.push_gateway.headers` instead"""

legacy_interval.desc:
"""Deprecated since 5.4.0, use `prometheus.push_gateway.interval` instead"""

legacy_job_name.desc:
"""Deprecated since 5.4.0, use `prometheus.push_gateway.job_name` instead"""

legacy_push_gateway_server.desc:
"""Deprecated since 5.4.0, use `prometheus.push_gateway.url` instead"""

legacy_mnesia_collector.desc:
"""Deprecated since 5.4.0, use `prometheus.collectors.mnesia` instead"""

legacy_vm_dist_collector.desc:
"""Deprecated since 5.4.0, use `prometheus.collectors.vm_dist` instead"""

legacy_vm_memory_collector.desc:
"""Deprecated since 5.4.0, use `prometheus.collectors.vm_memory` instead"""

legacy_vm_msacc_collector.desc:
"""Deprecated since 5.4.0, use `prometheus.collectors.vm_msacc` instead"""

legacy_vm_statistics_collector.desc:
"""Deprecated since 5.4.0, use `prometheus.collectors.vm_statistics` instead"""

legacy_vm_system_info_collector.desc:
"""Deprecated, use `prometheus.collectors.vm_system_info` instead"""

legacy_deprecated_setting.desc:
"""Deprecated since 5.4.0"""

}
