emqx_license_schema {

connection_high_watermark_field.desc:
"""High watermark limit above which license connection quota usage alarms are activated"""

connection_high_watermark_field.label:
"""Connection high watermark"""

connection_low_watermark_field.desc:
"""Low watermark limit below which license connection quota usage alarms are deactivated"""

connection_low_watermark_field.label:
"""Connection low watermark"""

dynamic_max_connections {
    label: "Dynamic Connections Limit"
    desc: """~
        Only applicable for "Business Critical" license type. This config sets the current allocation of license for the current cluster.
        This value cannot exceed the connections limit assigned in the license key.~"""
}

key_field {
    label: "License string"
    desc: """~
        This configuration parameter is designated for the license key and supports below input formats:

        - Direct Key: Enter the secret key directly as a string value.
        - File Path: Specify the path to a file that contains the secret key. Ensure the path starts with <code>file://</code>.
        - `default`: Use string value `default` to apply the default trial license.

        Note: An invalid license key or an incorrect file path may prevent EMQX from starting successfully.
        If a file path is used, EMQX attempts to reload the license key from the file every 2 minutes.
        Any failure in reloading the license file will be recorded as an error level log message,
        and EMQX continues to apply the license loaded previously.~"""
}

license_root {
    label: "License"
    desc: """~
        Defines the EMQX Enterprise license.

        EMQX initially comes with a default trial license for early-stage development and testing. This trial license allows up to 25 concurrent sessions across the cluster, with the session quota shared among the nodes. After a node runs continuously for 30 days, its session quota resets to 0. A node restart is required to reactivate the quota.

        Apply for a license key here: https://www.emqx.com/apply-licenses/emqx?version=5~"""
}
}
