emqx_ldap_authn_bind {

ldap_bind.desc:
"""Configuration of authenticator using the LDAP bind operation as the authentication method."""

query_timeout.desc:
"""Timeout for the LDAP query."""

query_timeout.label:
"""Query Timeout"""
}
