emqx_dashboard_sso_api {

list_running.desc:
"""List all running SSO backends"""
list_running.label:
"""Running Backends"""

get_sso.desc:
"""List all SSO backends"""
get_sso.label:
"""SSO Backends"""

login.desc:
"""Get Dashboard Auth Token."""
login.label:
"""Get Dashboard Auth Token."""

get_backend.desc:
"""Get details of a backend"""
get_backend.label:
"""Backend Details"""

update_backend.desc:
"""Update a backend"""
update_backend.label:
"""Update Backend"""

delete_backend.desc:
"""Delete a backend"""
delete_backend.label:
"""Delete Backend"""

saml_sso_acs.desc:
"""SAML SSO ACS URL"""

sp_saml_metadata.desc:
"""SP SAML Metadata"""

redirect.desc:
"""Redirect to IDP SSO login page"""

login_failed401.desc:
"""Login failed. Bad username or password"""

backend_not_found.desc:
"""Operate failed. Backend not exists"""

backend_name.desc:
"""Backend name"""

backend_name.label:
"""Backend Name"""

running.desc:
"""Is the backend running"""

running.label:
"""Running"""

last_error.desc:
"""Last error of this backend"""

last_error.label:
"""Last Error"""

}
