emqx_nats_schema {

nats.desc:
"""The NATS gateway provides EMQX with the ability to access NATS protocol."""

server_id.desc:
"""Server ID."""

server_name.desc:
"""Server Name."""

protocol.desc:
"""A group of settings for NATS Server protocol."""

max_payload_size.desc:
"""The maximum number of bytes of Payload allowed per NATS PUB/HPUB message."""

tcp_ws_listeners.desc:
"""The gateway's Websocket listener adopts the same structure as the MQTT Websocket listener."""

ws_listener.desc:
"""Websocket Listener."""

wss_listener.desc:
"""Websocket over TLS Listener."""

websocket.desc:
"""Websocket Options."""

}
