emqx_mgmt_api_configs {

get_configs.desc:
"""Get all the configurations of the specified keys, including hot and non-hot updatable items."""
get_configs.label:
"""Get all the configurations."""

update_configs.desc:
"""Update the configurations of the specified keys."""
update_configs.label:
"""Update Configurations."""

node_name.desc:
"""Node's name. Will deprecated in 5.2.0."""
node_name.label:
"""Node's name (deprecated)."""

rest_conf_query.desc:
"""Reset the config entry specified by the query string parameter `conf_path`.<br/>
- For a config entry that has default value, this resets it to the default value;
- For a config entry that has no default value, an error 400 will be returned"""
rest_conf_query.label:
"""Reset the config entry with query"""

get_global_zone_configs.desc:
"""Get the MQTT-related configuration"""
get_global_zone_configs.label:
"""Get the MQTT-related configuration"""

update_global_zone_configs.desc:
"""Update MQTT-related configuration"""
update_global_zone_configs.label:
"""Update MQTT-related configuration"""

get_node_level_limiter_configs.desc:
"""Get the node-level limiter configs"""
get_node_level_limiter_configs.label:
"""Get the node-level limiter configs"""

update_node_level_limiter_configs.desc:
"""Update the node-level limiter configs"""
update_node_level_limiter_configs.label:
"""Update the node-level limiter configs"""

}
