emqx_authz_schema {

deny.desc:
"""The number of authentication failures."""

deny.label:
"""The Number of Authentication Failures"""

rate.desc:
"""The rate of matched, times/second."""

rate.label:
"""Rate"""

status.desc:
"""The status of the resource."""

status.label:
"""Status"""

metrics_total.desc:
"""The total number of times the authorization rule was triggered."""

metrics_total.label:
"""The Total Number of Times the Authorization Rule was Triggered"""

type.desc:
"""Backend type."""

type.label:
"""type"""

node.desc:
"""Node name."""

node.label:
"""Node Name."""

rate_last5m.desc:
"""The average rate of matched in the last 5 minutes, times/second."""

rate_last5m.label:
"""Rate in Last 5min"""

node_error.desc:
"""The error of node."""

node_error.label:
"""Error in Node"""

enable.desc:
"""Set to <code>true</code> or <code>false</code> to disable this ACL provider"""

enable.label:
"""enable"""

matched.desc:
"""Count of this resource is queried."""

matched.label:
"""Matched"""

node_status.desc:
"""The status of the resource for each node."""

node_status.label:
"""Resource Status in Node"""

rate_max.desc:
"""The max rate of matched, times/second."""

rate_max.label:
"""Max Rate"""

failed.desc:
"""Count of query failed."""

failed.label:
"""Failed"""

ignore.desc:
"""Count of query ignored.  This counter is increased whenever the authorization source attempts to authorize a request, but either it's not applicable, or an error was encountered and the result is undecidable"""
ignore.label:
"""Ignored"""

metrics.desc:
"""The metrics of the resource."""

metrics.label:
"""Metrics"""

authorization.desc:
"""Configuration related to the client authorization."""

authorization.label:
"""authorization"""

allow.desc:
"""The number of times the authentication was successful."""

allow.label:
"""The Number of Times the Authentication was Successful"""

nomatch.desc:
"""The number of times that no authorization rules were matched."""

nomatch.label:
"""The Number of Times that no Authorization Rules were Matched"""

sources.desc:
"""Authorization data sources.<br/>
An array of authorization (ACL) data providers.
It is designed as an array, not a hash-map, so the sources can be
ordered to form a chain of access controls.<br/>

When authorizing a 'publish' or 'subscribe' action, the configured
sources are checked in order. When checking an ACL source,
in case the client (identified by username or client ID) is not found,
it moves on to the next source. And it stops immediately
once an 'allow' or 'deny' decision is returned.<br/>

If the client is not found in any of the sources,
the default action configured in 'authorization.no_match' is applied.<br/>

NOTE:
The source elements are identified by their 'type'.
It is NOT allowed to configure two or more sources of the same type."""

sources.label:
"""sources"""

node_metrics.desc:
"""The metrics of the resource for each node."""

node_metrics.label:
"""Resource Metrics in Node"""

success.desc:
"""Count of query success."""

success.label:
"""Success"""

authz_latency_buckets.desc:
"""The buckets of the total authorization latency histogram metric."""

authz_latency_buckets.label:
"""Total Authorization Latency Metric Buckets"""

}
