emqx_mgmt_api_alarms {

activate_at.desc:
"""Alarm start time, using rfc3339 standard time format."""

deactivate_at.desc:
"""Alarm end time, using rfc3339 standard time format."""

delete_alarms_api.desc:
"""Remove all historical alarms."""
delete_alarms_api.label:
"""Remove all historical alarms."""

delete_alarms_api_response204.desc:
"""Historical alarms have been cleared successfully."""

details.desc:
"""Alarm details, provides more alarm information, mainly for program processing."""

duration.desc:
"""Indicates how long the alarm has been active in milliseconds."""

get_alarms_qs_activated.desc:
"""It is used to specify the alarm type of the query.
When true, it returns the currently activated alarm,
and when it is false, it returns the historical alarm.
The default is false."""

list_alarms_api.desc:
"""List currently activated alarms or historical alarms, determined by query parameters."""
list_alarms_api.label:
"""List alarms"""

message.desc:
"""Alarm message, which describes the alarm content in a human-readable format."""

name.desc:
"""Alarm name, used to distinguish different alarms."""

node.desc:
"""The name of the node that triggered this alarm."""

force_deactivate_alarm_api.desc:
"""Force deactivate an alarm. This operation will forcefully deactivate an active alarm."""

force_deactivate_alarm_api_response204.desc:
"""The alarm has been successfully deactivated."""

force_deactivate_alarm_api_response400.desc:
"""The alarm does not exist or has already been deactivated."""
}
