emqx_mq_schema {
    gc_interval {
        desc: """~
            The interval at which the Message Queues will clean up expired messages."""
        label: "GC Interval"
    }

    regular_queue_retention_period {
        desc: """~
            The maximum retention period of messages in regular Message Queues.
            Individual Message Queues may set a shorter retention period."""
        label: "Regular Queue Retention Period"
    }

    max_queue_count {
        desc: """~
            The maximum number of Message Queues that can be created."""
        label: "Max Queue Count"
    }

    find_queue_retry_interval {
        desc: """~
            The interval at which subscribers will retry to find a queue if the queue is not found
            when subscribing to a queue topic."""
        label: "Find Queue Retry Interval"
    }

    mq {
        desc: """~
            Settings for an individual Message Queue."""
        label: "Message Queue Settings"
    }

    topic_filter {
        desc: """~
            The filter used to determine which messages are getting into the message queue."""
        label: "Topic Filter"
    }

    is_lastvalue {
        desc: """~
            Indicates if the message has Last-Value semantics. Last-Value semantics means that
            messages overwrite previous messages with the same queue key in the same topic."""
        label: "Is Last Value"
    }

    consumer_max_inactive {
        desc: """~
            The maximum duration a consumer waits for any message queue subscribers after the last
            subscriber disconnected."""
        label: "Consumer Max Inactive"
    }

    ping_interval {
        desc: """~
            The interval at which subscribers and the consumer process ping each other to ensure connectivity."""
        label: "Ping Interval"
    }

    redispatch_interval {
        desc: """~
            The interval at which messages are redispatched if rejected."""
        label: "Redispatch Interval"
    }

    local_max_inflight {
        desc: """~
            The maximum number of messages from a Message Queue that may be inflight to an MQTT client."""
        label: "Local Max Inflight"
    }

    busy_session_retry_interval {
        desc: """~
            The interval at which Message Queue messages are retried to deliver to an MQTT client that has
            its inflight window full."""
        label: "Busy Session Retry Interval"
    }

    stream_max_buffer_size {
        desc: """~
            The maximum number of messages from a DS stream buffered by the Message Queue consumer."""
        label: "Stream Max Buffer Size"
    }

    stream_max_unacked {
        desc: """~
            Threshold at which the DS stops delivering messages to a Message Queue consumer stream after its
            buffer is full."""
        label: "Stream Max Unacked"
    }

    consumer_persistence_interval {
        desc: """~
            The interval at which Message Queue state of consumption is persisted."""
        label: "Consumer Persistence Interval"
    }

    data_retention_period {
        desc: """~
            The period for which data is retained in the Message Queue."""
        label: "Data Retention Period"
    }

    dispatch_strategy {
        desc: """~
            The strategy used for dispatching messages from Message Queue to the Queue subscribers."""
        label: "Dispatch Strategy"
    }

    key_expression {
        desc: """~
            The expression used to determine the key of the message for Last-Value Message Queues."""
        label: "Key Expression"
    }

    mq_individual_limits {
        desc: """~
            The byte size and count limits for an individual Message Queue."""
        label: "Message Queue Limits"
    }

    max_shard_message_count {
        desc: """~
            The maximum number of messages in a shard for the Message Queue. The number of shards is configured
            for all Message Queues in the Durable Storage settings.
            The total count limit for the Message Queue is `n_shards * max_shard_message_count`."""
        label: "Max Shard Message Count"
    }

    max_shard_message_bytes {
        desc: """~
            The maximum number of bytes in a shard for the Message Queue. The number of shards is configured
            for all Message Queues in the Durable Storage settings. Note that this limit is not aware of the replication factor.
            So the total byte limit for the Message Queue is `n_shards * replication_factor * max_shard_message_bytes`."""
        label: "Max Shard Message Bytes"
    }

    enable {
        desc: """~
            Whether to enable the Message Queue."""
        label: "Enable"
    }

    auto_create {
        desc: """~
            Settings for automatically creating the Message Queue if it does not exist
            when subscribing to the queue topic."""
        label: "Auto Create Settings"
    }

    auto_create_regular {
        desc: """~
            Regular Message Queue settings for automatic creation"""
        label: "Auto Create Regular Settings"
    }

    auto_create_lastvalue {
        desc: """~
            Last-Value Message Queue settings for automatic creation"""
        label: "Auto Create Last-Value Settings"
    }

    auto_create_regular_enable {
        desc: """~
            Use Last-Value settings for automatic Message Queue creation"""
        label: "Use Last-Value Settings"
    }

    auto_create_lastvalue_enable {
        desc: """~
            Use Regular settings for automatic Message Queue creation"""
        label: "Use Regular Settings"
    }

}
