emqx_mt_api {
    ns_list {
        desc: """~
            List all namespaces
            The namespaces are sorted in lexicographical order,
            so this API can be used for prefix based fuzzy search.~"""
        label: "List Namespaces"
    }
    client_list {
        desc: "List all clients in a namespace"
        label: "List Clients"
    }
    client_count {
        desc: "Count all clients in a namespace"
        label: "Count Clients"
    }
    last_ns_in_query {
        desc: """~
            The last namespace from the previous page.
            For the first page, use empty string.~"""
        label: "Last Namespace"
    }
    limit_in_query {
        desc: "The number of items to return"
        label: "Limit"
    }
    last_client_in_query {
        desc: """~
            The last client from the previous page.
            For the first page, use empty string.~"""
        label: "Last Client ID"
    }
    explicit_ns_list {
        desc: """~
            List all explicit namespaces
            The namespaces are sorted in lexicographical order,
            so this API can be used for prefix based fuzzy search.~"""
        label: "List explicit namespaces"
    }
    create_explicit_ns {
        desc: "Create explicit namespace"
        label: "Create explicit namespace"
    }
    delete_explicit_ns {
        desc: "Delete explicit namespace"
        label: "Delete explicit namespace"
    }
    get_client_limiter {
        desc: "Get client limiter configuration"
        label: "Get client limiter"
    }
    create_client_limiter {
        desc: "Create client limiter configuration"
        label: "Create client limiter"
    }
    update_client_limiter {
        desc: "Update client limiter configuration"
        label: "Update client limiter"
    }
    delete_client_limiter {
        desc: "Delete client limiter configuration"
        label: "Delete client limiter"
    }
    get_tenant_limiter {
        desc: "Get tenant limiter configuration"
        label: "Get tenant limiter"
    }
    create_tenant_limiter {
        desc: "Create tenant limiter configuration"
        label: "Create tenant limiter"
    }
    update_tenant_limiter {
        desc: "Update tenant limiter configuration"
        label: "Update tenant limiter"
    }
    delete_tenant_limiter {
        desc: "Delete tenant limiter configuration"
        label: "Delete tenant limiter"
    }
}
