emqx_ee_connector_hstreamdb {
    config {
        desc {
                en: "HStreamDB connection config"
                zh: "HStreamDB 连接配置。"
        }
        label: {
                en: "Connection config"
                zh: "连接配置"
            }
    }

    type {
        desc {
                en: "The Connector Type."
                zh: "连接器类型。"
        }
        label: {
                en: "Connector Type"
                zh: "连接器类型"
            }
    }

    name {
        desc {
                en: "Connector name, used as a human-readable description of the connector."
                zh: "连接器名称，人类可读的连接器描述。"
        }
        label: {
                en: "Connector Name"
                zh: "连接器名称"
            }
    }
    url {
        desc {
                en: """HStreamDB Server URL"""
                zh: """HStreamDB 服务器 URL"""
            }
        label {
                en: """HStreamDB Server URL"""
                zh: """HStreamDB 服务器 URL"""
                }
        }
    stream_name {
        desc {
                en: """HStreamDB Stream Name"""
                zh: """HStreamDB 流名称"""
            }
        label {
                en: """HStreamDB Stream Name"""
                zh: """HStreamDB 流名称"""
                }
    }
    ordering_key {
        desc {
                en: """HStreamDB Ordering Key"""
                zh: """HStreamDB 分区键"""
            }
        label {
                en: """HStreamDB Ordering Key"""
                zh: """HStreamDB 分区键"""
                }
    }
    pool_size {
        desc {
                en: """HStreamDB Pool Size"""
                zh: """HStreamDB 连接池大小"""
            }
        label {
                en: """HStreamDB Pool Size"""
                zh: """HStreamDB 连接池大小"""
            }
    }
}
