emqx_bridge_hstreamdb {

config_direction.desc:
"""The direction of this bridge, MUST be 'egress'"""

config_direction.label:
"""Bridge Direction"""

desc_config.desc:
"""Configuration for an HStreamDB bridge."""

desc_config.label:
"""HStreamDB Bridge Configuration"""

desc_connector.desc:
"""Generic configuration for the connector."""

desc_connector.label:
"""Connector Generic Configuration"""

desc_name.desc:
"""Bridge name, used as a human-readable description of the bridge."""

desc_name.label:
"""Bridge Name"""

desc_type.desc:
"""The Bridge Type"""

desc_type.label:
"""Bridge Type"""

local_topic.desc:
"""The MQTT topic filter to be forwarded to the HStreamDB. All MQTT 'PUBLISH' messages with the topic
matching the local_topic will be forwarded.<br/>
NOTE: if this bridge is used as the action of a rule (EMQX rule engine), and also local_topic is
configured, then both the data got from the rule and the MQTT messages that match local_topic
will be forwarded."""

local_topic.label:
"""Local Topic"""

record_template.desc:
"""The HStream Record template to be forwarded to the HStreamDB. Placeholders supported.<br>
NOTE: When you use `raw record` template (which means the data is not a valid JSON), you should use `read` or `subscription` in HStream to get the data."""

record_template.label:
"""HStream Record"""

}
