emqx_dashboard_sso_saml {

dashboard_addr.desc:
"""The address of the EMQX Dashboard."""
dashboard_addr.label:
"""Dashboard Address"""

idp_metadata_url.desc:
"""The URL of the IdP metadata."""
idp_metadata_url.label:
"""IdP Metadata URL"""

sign_request.desc:
"""Whether to sign the SAML request."""
sign_request.label:
"""Sign SAML Request"""

sp_public_key.desc:
"""The public key of the SP."""
sp_public_key.label:
"""SP Public Key"""

sp_private_key.desc:
"""The private key of the SP."""
sp_private_key.label:
"""SP Private Key"""

idp_signs_envelopes.desc:
"""Whether to require IDP to sign SAML Response envelopes (outer signature). For security, at least one of envelope or assertion signature should be enabled in production."""
idp_signs_envelopes.label:
"""Require Signed Response Envelopes from IDP"""

idp_signs_assertions.desc:
"""Whether to require IDP to sign SAML Assertions (inner signature). For security, at least one of envelope or assertion signature should be enabled in production."""
idp_signs_assertions.label:
"""Require Signed Assertions from IDP"""

}
