emqx_bridge_gcp_pubsub_consumer_schema {

  source_parameters.desc:
  """Source specific configs."""
  source_parameters.label:
  """Source Specific Configs"""

  consumer_source.desc:
  """Source configs."""
  consumer_source.label:
  """Source"""

  config_connector.desc:
  """Configuration for a GCP PubSub Consumer Client."""
  config_connector.label:
  """GCP PubSub Consumer Client Configuration"""

}
