emqx_gateway_api_listeners {

add_listener.desc:
"""Create the gateway listener.<br/>
Note: For listener types not supported by a gateway, this API returns `400: BAD_REQUEST`."""
add_listener.label:
"""Add Listener"""

add_listener_authn.desc:
"""Enable authenticator for specified listener for client authentication.<br/>
When authenticator is enabled for a listener, all clients connecting to that listener will use that authenticator for authentication."""
add_listener_authn.label:
"""Add Listener Authenticator"""

add_user.desc:
"""Add user for the authenticator (only supports built_in_database)"""
add_user.label:
"""Add User"""

current_connections.desc:
"""Current Connections"""
current_connections.label:
"""Current Connections"""

delete_listener.desc:
"""Delete the gateway listener. All connected clients under the deleted listener will be disconnected."""
delete_listener.label:
"""Delete Listener"""

delete_listener_authn.desc:
"""Remove authenticator for the listener."""
delete_listener_authn.label:
"""Delete Listener Authenticator"""

delete_user.desc:
"""Delete the user for the gateway authenticator (only supports built_in_database)"""
delete_user.label:
"""Delete User"""

get_listener.desc:
"""Get the gateway listener configs"""
get_listener.label:
"""Get Listener"""

get_listener_authn.desc:
"""Get the listener's authenticator configs."""
get_listener_authn.label:
"""Get Listener Authenticator"""

get_user.desc:
"""Get user info from the gateway authenticator (only supports built_in_database)"""
get_user.label:
"""Get User"""

import_users.desc:
"""Import users into the gateway authenticator (only supports built_in_database)"""
import_users.label:
"""Import Users"""

list_listeners.desc:
"""Gets a list of gateway listeners. This interface returns all the configs of the listener (including the authenticator on that listener), as well as the status of that listener running in the cluster."""
list_listeners.label:
"""List Listeners"""

list_users.desc:
"""Get the users for the authenticator (only supported by <code>built_in_database</code>)"""
list_users.label:
"""List Users"""

listener_id.desc:
"""Listener ID"""
listener_id.label:
"""Listener ID"""

listener_node_status.desc:
"""listener status of each node in the cluster"""
listener_node_status.label:
"""Listener Node Status"""

listener_status.desc:
"""listener status"""
listener_status.label:
"""Listener Status"""

node.desc:
"""Node Name"""
node.label:
"""Node Name"""

update_listener.desc:
"""Update the gateway listener. The listener being updated performs a restart and all clients connected to that listener will be disconnected."""
update_listener.label:
"""Update Listener"""

update_listener_authn.desc:
"""Update authenticator configs for the listener, or disable/enable it."""
update_listener_authn.label:
"""Update Listener Authenticator"""

update_user.desc:
"""Update the user info for the gateway authenticator (only supports built_in_database)"""
update_user.label:
"""Update User"""

example_tcp_listener.desc:
"""An example TCP listener configuration payload."""
example_tcp_listener.label:
"""Example TCP Listener Configuration"""

example_ssl_listener.desc:
"""An example SSL listener configuration payload."""
example_ssl_listener.label:
"""Example SSL Listener Configuration"""

example_udp_listener.desc:
"""An example UDP listener configuration payload."""
example_udp_listener.label:
"""Example UDP Listener Configuration"""

example_dtls_listener.desc:
"""An example DTLS listener configuration payload."""
example_dtls_listener.label:
"""Example DTLS Listener Configuration"""

example_dtls_listener_with_psk_ciphers.desc:
"""An example DTLS listener configuration payload using PSK ciphers."""
example_dtls_listener_with_psk_ciphers.label:
"""Example DTLS Listener with PSK Ciphers"""

example_listener_with_authn.desc:
"""An example TCP listener configuration payload with authentication enabled."""
example_listener_with_authn.label:
"""Example TCP Listener with Authentication"""

example_ws_listener.desc:
"""An example WebSocket listener configuration payload."""
example_ws_listener.label:
"""Example WebSocket Listener Configuration"""

example_wss_listener.desc:
"""An example secure WebSocket listener configuration payload."""
example_wss_listener.label:
"""Example Secure WebSocket Listener Configuration"""

deleted.desc:
"""Deleted"""
deleted.label:
"""Deleted"""

auth_not_existed.desc:
"""Authentication or listener does not existed"""
auth_not_existed.label:
"""Authentication Not Existed"""

listener_name_occupied.desc:
"""Listener name has occupied"""
listener_name_occupied.label:
"""Listener Name Occupied"""

listener_not_found.desc:
"""Listener not found"""
listener_not_found.label:
"""Listener Not Found"""

bad_request.desc: """Bad request."""
bad_request.label: """Bad Request"""

not_found.desc: """Listener not found."""
not_found.label: """Not Found"""

}
