emqx_dashboard_sso_schema {

backend_enable.desc:
"""Whether to enable this backend."""

backend.desc:
"""Backend type."""

backend.label:
"""Backend Type"""

sso_struct.desc:
"""Dashboard Single Sign-On"""

sso_struct.label:
"""Dashboard Single Sign-On"""

}
