emqx_resource_schema {

batch_size.desc:
"""Maximum batch count. If equal to 1, there's effectively no batching."""

batch_size.label:
"""Max batch size"""

batch_time.desc:
"""Maximum waiting interval when accumulating a batch at a low message rates for more efficient resource usage."""

batch_time.label:
"""Max batch wait time"""

buffer_seg_bytes.desc:
"""Applicable when buffer mode is set to <code>volatile_offload</code>.
This value is to specify the size of each on-disk buffer file."""

buffer_seg_bytes.label:
"""Segment File Bytes"""

creation_opts.desc:
"""Creation options."""

creation_opts.label:
"""Creation Options"""

enable_batch.desc:
"""Batch mode enabled."""

enable_batch.label:
"""Enable batch"""

enable_queue.desc:
"""Enable disk buffer queue (only applicable for egress bridges).
When Enabled, messages will be buffered on disk when the bridge connection is down.
When disabled the messages are buffered in RAM only."""

enable_queue.label:
"""Enable disk buffer queue"""

health_check_interval.desc:
"""Health check interval."""

health_check_interval.label:
"""Health Check Interval"""

health_check_interval_jitter.desc:
"""A uniform random delay to be added to health check interval, so that Actions and Sources from the same Connector start their health checks at different instants."""

health_check_interval_jitter.label:
"""Health Check Interval Jitter"""

health_check_timeout.desc:
"""Health check timeout.  If a health check call takes more than this time to return a result, the resource is deemed disconnected."""

health_check_timeout.label:
"""Health Check Timeout"""

inflight_window.desc:
"""Query inflight window. When query_mode is set to async, this config has to be set to 1 if messages from the same MQTT client have to be strictly ordered."""

inflight_window.label:
"""Inflight window"""

max_buffer_bytes.desc:
"""Maximum number of bytes to buffer for each buffer worker."""

max_buffer_bytes.label:
"""Max buffer queue size"""

query_mode.desc:
"""Query mode. Optional 'sync/async', default 'async'."""

query_mode.label:
"""Query mode"""

request_ttl.desc:
"""Starting from the moment when the request enters the buffer, if the request remains in the buffer for the specified time or is sent but does not receive a response or acknowledgement in time, the request is considered expired."""

request_ttl.label:
"""Request TTL"""

resource_opts.desc:
"""Resource options."""

resource_opts.label:
"""Resource Options"""

resume_interval.desc:
"""The interval at which the buffer worker attempts to resend failed requests in the inflight window."""

resume_interval.label:
"""Resume Interval"""

start_after_created.desc:
"""Whether start the resource right after created."""

start_after_created.label:
"""Start After Created"""

start_timeout.desc:
"""Time interval to wait for an auto-started resource to become healthy before responding resource creation requests."""

start_timeout.label:
"""Start Timeout"""

worker_pool_size.desc:
"""The number of buffer workers. Only applicable for egress type bridges.
For bridges only have ingress direction data flow, it can be set to 0 otherwise must be greater than 0."""

worker_pool_size.label:
"""Buffer Pool Size"""

}
