emqx_ft_api {

file_list.desc:
"""List all uploaded files."""

file_list_transfer.desc:
"""List a file uploaded during specified transfer, identified by client id and file id."""

file_transfer_get_config.desc:
"""Show current File Transfer configuration."""

file_transfer_update_config.desc:
"""Replace File Transfer configuration."""

}

emqx_ft_storage_exporter_fs_api {

file_get.desc:
"""Get a file by its id."""

}
