emqx_bridge_v2_api {

desc_api1.desc:
"""List all created bridges."""

desc_api1.label:
"""List All Bridges"""

desc_api2.desc:
"""Create a new bridge by type and name."""

desc_api2.label:
"""Create Bridge"""

desc_api3.desc:
"""Get a bridge by id."""

desc_api3.label:
"""Get Bridge"""

desc_api4.desc:
"""Update a bridge by id."""

desc_api4.label:
"""Update Bridge"""

desc_api5.desc:
"""Delete a bridge by id."""

desc_api5.label:
"""Delete Bridge"""

desc_api6.desc:
"""Reset a bridge metrics by id."""

desc_api6.label:
"""Reset Bridge Metrics"""

desc_api7.desc:
"""Start bridge on all nodes in the cluster."""

desc_api7.label:
"""Cluster Bridge Operation"""

desc_api8.desc:
"""Start bridge on a specific node."""

desc_api8.label:
"""Node Bridge Operation"""

desc_api9.desc:
"""Test creating a new bridge."""

desc_api9.label:
"""Test Bridge Creation"""

desc_api10.desc:
"""Lists the available action types."""

desc_api10.label:
"""List action types"""

desc_api11.desc:
"""Lists the available source types."""

desc_api11.label:
"""List source types"""

desc_bridge_metrics.desc:
"""Get bridge metrics by id."""

desc_bridge_metrics.label:
"""Get Bridge Metrics"""

desc_enable_bridge.desc:
"""Enable or Disable bridge on all nodes in the cluster."""

desc_enable_bridge.label:
"""Cluster Bridge Enable"""

actions_summary.desc:
"""Summarize actions."""

sources_summary.desc:
"""Summarize actions."""

desc_param_path_enable.desc:
"""Whether to enable this bridge."""

desc_param_path_enable.label:
"""Enable bridge"""

desc_param_path_id.desc:
"""The bridge id. Must be of format {type}:{name}."""

desc_param_path_id.label:
"""Bridge ID"""

desc_qs_also_delete_dep_actions.desc:
"""Whether to cascade delete dependent actions."""

desc_qs_also_delete_dep_actions.label:
"""Cascade delete dependent actions?"""

desc_param_path_node.desc:
"""The node name, e.g. 'emqx@127.0.0.1'."""

desc_param_path_node.label:
"""The node name"""

desc_param_path_operation_cluster.desc:
"""Operation can be one of: 'start'."""

desc_param_path_operation_cluster.label:
"""Cluster Operation"""

desc_param_path_operation_on_node.desc:
"""Operation can be one of: 'start'."""

desc_param_path_operation_on_node.label:
"""Node Operation"""

}
