emqx_bridge_disk_log_connector_schema {
  config_connector.label:
  """Disk Log Connector Configuration"""
  config_connector.desc:
  """Configuration for a Disk Logging connector."""

  filepath.label:
  """Log filepath"""
  filepath.desc:
  """Path to the log file to be written to.  Note that both this file path and the directory containing it must also be writable by the EMQX application user, as it'll also contain compressed files once the file rotates."""

  max_file_size.label:
  """Maximum File Size"""
  max_file_size.desc:
  """Maximum size for the currently active log file.  At least one entry is written to each log, so the final file size may exceed this maximum if a single log entry exceeds this value."""

  max_file_number.label:
  """Maximum Number of Files"""
  max_file_number.desc:
  """Maximum number of log files to be used.  The active log file is written to the same file name specified in `filepath`, and archived logs are compressed and named in the format `filepath.N.gz`, where `N` is `0 .. max_file_number - 1`."""
}
