emqx_bridge_cassandra {

action_parameters.desc:
"""Action specific configs."""
action_parameters.label:
"""Action"""

cassandra_action.desc:
"""Action configs."""
cassandra_action.label:
"""Action"""

config_enable.desc:
"""Enable or disable this bridge"""

config_enable.label:
"""Enable Or Disable Bridge"""

cql_template.desc:
"""CQL Template"""

cql_template.label:
"""CQL Template"""

desc_config.desc:
"""Configuration for a Cassandra bridge."""

desc_config.label:
"""Cassandra Bridge Configuration"""

desc_name.desc:
"""Bridge name."""

desc_name.label:
"""Bridge Name"""

desc_type.desc:
"""The Bridge Type"""

desc_type.label:
"""Bridge Type"""

}
