emqx_bridge_redis {

redis_type.label:
"""Redis Type"""
redis_type.desc:
"""Single mode. Must be set to 'single' when Redis server is running in single mode.
Sentinel mode. Must be set to 'sentinel' when Redis server is running in sentinel mode.
Cluster mode. Must be set to 'cluster' when Redis server is running in clustered mode."""

command_template.desc:
"""Redis command template used to export messages. Each list element stands for a command name or its argument.
For example, to push payloads in a Redis list by key `msgs`, the elements should be the following:
`rpush`, `msgs`, `${payload}`."""

command_template.label:
"""Redis Command Template"""

config_enable.desc:
"""Enable or disable this action ."""

config_enable.label:
"""Enable Or Disable Action"""

desc_config.desc:
"""Configuration for a Redis action."""

desc_config.label:
"""Redis Action Configuration"""

desc_name.desc:
"""Action name, used as a human-readable identifier."""

desc_name.label:
"""Action Name"""

desc_type.desc:
"""The Action Type"""

desc_type.label:
"""Action Type"""

desc_local_topic.desc:
"""The MQTT topic filter to be forwarded to Redis. All MQTT 'PUBLISH' messages with the topic
matching the local_topic will be forwarded.<br/>
NOTE: If this action is used as the action of a rule (EMQX rule engine), and also local_topic is
configured, then both the data got from the rule and the MQTT messages that match local_topic
will be forwarded."""

desc_local_topic.label:
"""Local Topic"""

desc_action_parameters.desc:
"""The parameters of the action."""
desc_action_parameters.label:
"""Action Parameters"""

}
