emqx_bridge_syskeeper_proxy {

config_enable.desc:
"""Enable or disable this connector"""

config_enable.label:
"""Enable Or Disable Connector"""

desc_config.desc:
"""Configuration for a Syskeeper proxy connector"""

desc_config.label:
"""Syskeeper Proxy Connector Configuration"""

desc_name.desc:
"""Action name"""

desc_name.label:
"""Action Name"""

desc_type.desc:
"""The action type."""

desc_type.label:
"""Action Type"""

listen.desc:
"""The listening address for this Syskeeper proxy server"""

listen.label:
"""Listen Address"""

acceptors.desc:
"""The number of the acceptors"""

acceptors.label:
"""Acceptors"""

handshake_timeout.desc:
"""The maximum to wait for the handshake when a connection is created"""

handshake_timeout.label:
"""Handshake Timeout"""

}
