emqx_rule_engine_api {

    api1 {
                   desc {
                         en: "List all rules"
                         zh: "列出所有规则"
                        }
                   label: {
                           en: "List All Rules"
                           zh: "列出所有规则"
                          }
                  }
   api1_enable {
                   desc {
                         en: "Filter enable/disable rules"
                         zh: "根据规则是否开启条件过滤"
                        }
                  }

   api1_from {
                   desc {
                         en: "Filter rules by from(topic), exact match"
                         zh: "根据规则来源 Topic 过滤, 需要完全匹配"
                        }
                  }

   api1_like_id {
                   desc {
                         en: "Filter rules by id, Substring matching"
                         zh: "根据规则 id 过滤, 使用子串模糊匹配"
                        }
                  }

   api1_like_from {
                   desc {
                         en: "Filter rules by from(topic), Substring matching"
                         zh: "根据规则来源 Topic 过滤, 使用子串模糊匹配"
                        }
                  }

   api1_like_description {
                   desc {
                         en: "Filter rules by description, Substring matching"
                         zh: "根据规则描述过滤, 使用子串模糊匹配"
                        }
                  }
   api1_match_from {
                   desc {
                         en: "Filter rules by from(topic), Mqtt topic matching"
                         zh: "根据规则来源 Topic 过滤, 使用 MQTT Topic 匹配"
                        }
                  }

    api2 {
                   desc {
                         en: "Create a new rule using given Id"
                         zh: "通过指定 ID 创建规则"
                        }
                   label: {
                           en: "Create Rule By ID"
                           zh: "通过指定 ID 创建规则"
                          }
                  }

    api3 {
                   desc {
                         en: "List all events can be used in rules"
                         zh: "列出所有能被规则使用的事件"
                        }
                   label: {
                           en: "List All Events Can Be Used In Rule"
                           zh: "列出所有能被规则使用的事件"
                          }
                  }

    api4 {
                   desc {
                         en: "Get a rule by given Id"
                         zh: "通过 ID 查询规则"
                        }
                   label: {
                           en: "Get Rule"
                           zh: "查询规则"
                          }
                  }

    api4_1 {
                   desc {
                         en: "Get a rule's metrics by given Id"
                         zh: "通过给定的 Id 获得规则的指标数据"
                        }
                   label: {
                           en: "Get Metric"
                           zh: "获得指标数据"
                          }
                  }

    api5 {
                   desc {
                         en: "Update a rule by given Id to all nodes in the cluster"
                         zh: "通过 ID 更新集群里所有节点上的规则"
                        }
                   label: {
                           en: "Update Cluster Rule"
                           zh: "更新集群规则"
                          }
                  }

    api6 {
                   desc {
                         en: "Delete a rule by given Id from all nodes in the cluster"
                         zh: "通过 ID 删除集群里所有节点上的规则"
                        }
                   label: {
                           en: "Delete Cluster Rule"
                           zh: "删除集群规则"
                          }
                  }

    api7 {
                   desc {
                         en: "Reset a rule metrics"
                         zh: "重置规则计数"
                        }
                   label: {
                           en: "Reset Rule Metrics"
                           zh: "重置规则计数"
                          }
                  }

    api8 {
                   desc {
                         en: "Test a rule"
                         zh: "测试一个规则"
                        }
                   label: {
                           en: "Test Rule"
                           zh: "测试规则"
                          }
                  }
    desc9 {
                   desc {
                         en: "List of rules"
                         zh: "列出所有规则"
                        }
                   label: {
                           en: "List Rules"
                           zh: "列出所有规则"
                          }
                  }
}
