emqx_bridge_hstreamdb_connector {

config.desc:
"""HStreamDB connection config"""

config.label:
"""Connection config"""

type.desc:
"""The Connector Type."""

type.label:
"""Connector Type"""

name.desc:
"""Connector name, used as a human-readable description of the connector."""

name.label:
"""Connector Name"""

url.desc:
"""HStreamDB Server URL. Using gRPC http server address."""

url.label:
"""HStreamDB Server URL"""

stream_name.desc:
"""HStreamDB Stream Name."""

stream_name.label:
"""HStreamDB Stream Name"""

partition_key.desc:
"""HStreamDB Partition Key. Placeholders supported."""

partition_key.label:
"""HStreamDB Partition Key"""

pool_size.desc:
"""HStreamDB Pool Size."""

pool_size.label:
"""HStreamDB Pool Size"""

grpc_timeout.desc:
"""HStreamDB gRPC Timeout."""

grpc_timeout.label:
"""HStreamDB gRPC Timeout"""

}
