emqx_bridge_rocketmq_connector {

access_key.desc:
"""RocketMQ server `accessKey`."""

access_key.label:
"""AccessKey"""

refresh_interval.desc:
"""RocketMQ Topic Route Refresh Interval."""

refresh_interval.label:
"""Topic Route Refresh Interval"""

secret_key.desc:
"""RocketMQ server `secretKey`."""

secret_key.label:
"""SecretKey"""

security_token.desc:
"""RocketMQ Server Security Token"""

security_token.label:
"""Security Token"""

send_buffer.desc:
"""The socket send buffer size of the RocketMQ driver client."""

send_buffer.label:
"""Send Buffer Size"""

servers.desc:
"""The IPv4 or IPv6 address or the hostname to connect to.<br/>
A host entry has the following form: `Host[:Port]`.<br/>
The RocketMQ default port 9876 is used if `[:Port]` is not specified."""

servers.label:
"""Server Host"""

sync_timeout.desc:
"""Timeout of RocketMQ driver synchronous call."""

sync_timeout.label:
"""Sync Timeout"""

topic.desc:
"""RocketMQ Topic"""

topic.label:
"""RocketMQ Topic"""

namespace.label: """Namespace / Instance ID"""
namespace.desc:
"""The namespace field MUST be set if you are using the RocketMQ service in
aliyun cloud and also the namespace is enabled,
or if you have configured a namespace in your RocketMQ server.
For RocketMQ in aliyun cloud, the namespace is the instance ID."""

}
