emqx_ds_shared_sub_api {

param_queue_id.desc:
"""The ID of the durable queue."""

param_queue_id.label:
"""Queue ID"""

durable_queues_get.desc:
"""Get the list of durable queues."""

durable_queues_get.label:
"""Durable Queues"""

durable_queue_get.desc:
"""Get the information of a durable queue."""

durable_queue_get.label:
"""Durable Queue"""

durable_queue_delete.desc:
"""Delete a durable queue."""

durable_queue_delete.label:
"""Delete Durable Queue"""

durable_queues_post.desc:
"""Declare new durable queue."""

durable_queues_post.label:
"""Declare Durable Queue"""


}
