emqx_bridge_hstreamdb {

config_direction.desc:
"""The direction of this bridge, MUST be 'egress'"""

config_direction.label:
"""Bridge Direction"""

desc_config.desc:
"""Configuration for an HStreamDB action."""

desc_config.label:
"""HStreamDB Action Configuration"""

desc_connector.desc:
"""Generic configuration for the connector."""

desc_connector.label:
"""Connector Generic Configuration"""

desc_name.desc:
"""Action name, a human-readable identifier."""

desc_name.label:
"""Action Name"""

desc_type.desc:
"""The type of the action."""

desc_type.label:
"""Action Type"""

local_topic.desc:
"""The MQTT topic filter to be forwarded to the HStreamDB. All MQTT 'PUBLISH' messages with the topic
matching the local_topic will be forwarded.<br/>
NOTE: If this action is used as the action of a rule (EMQX rule engine), and also local_topic is
configured, then both the data got from the rule and the MQTT messages that match local_topic
will be forwarded."""

local_topic.label:
"""Local Topic"""

record_template.desc:
"""The HStream Record template to be forwarded to the HStreamDB. Placeholders supported.<br>
NOTE: When you use `raw record` template (which means the data is not a valid JSON), you should use `read` or `subscription` in HStream to get the data."""

record_template.label:
"""HStream Record"""

action_parameters.desc:
"""Action specific configuration."""

action_parameters.label:
"""Action"""

grpc_flush_timeout.desc:
"""Time interval for flushing gRPC calls to the HStreamDB server."""

grpc_flush_timeout.label:
"""gRPC Flush Interval"""

aggregation_pool_size.desc:
"""The size of the record aggregation pool. A larger aggregation pool size can lead to enhanced parallelization but may also result in reduced efficiency due to smaller batch sizes."""

aggregation_pool_size.label:
"""Aggregation Pool Size"""

max_batches.desc:
"""Maximum number of unconfirmed batches in the flush queue."""

max_batches.label:
"""Max Batches"""

writer_pool_size.desc:
"""The size of the writer pool. A larger pool may increase parallelization and concurrent write operations, potentially boosting throughput. Trade-offs include greater memory consumption and possible resource contention."""

writer_pool_size.label:
"""Writer Pool Size"""

batch_size.desc:
"""Maximum number of insert data clauses that can be sent in a single request."""

batch_size.label:
"""Max Batch Append Count"""

batch_interval.desc:
"""Maximum interval that is allowed between two successive (batch) request."""

batch_interval.label:
"""Max Batch Interval"""

hstreamdb_action.desc:
"""Configuration for HStreamDB action."""

hstreamdb_action.label:
"""HStreamDB Action Configuration"""

config_connector.desc:
"""Configuration for an HStreamDB connector."""

config_connector.label:
"""HStreamDB Connector Configuration"""

}
