emqx_connector_schema {

desc_connectors.desc:
"""Connectors that are used to connect to external systems"""

desc_connectors.label:
"""Connectors"""


connector_field.desc:
"""Name of the connector specified by the action, used for external resource selection."""

connector_field.label:
"""Connector"""

}
