emqx_bridge_mqtt_pubsub_schema {
  action_parameters.desc:
  """Action specific configs."""
  action_parameters.label:
  """Action"""

  ingress_parameters.desc:
  """Source specific configs."""
  ingress_parameters.label:
  """Source"""

  mqtt_publisher_action.desc:
  """Action configs."""
  mqtt_publisher_action.label:
  """Action"""

  mqtt_subscriber_source.desc:
  """Source configs."""
  mqtt_subscriber_source.label:
  """Source"""

  source_no_local.label:
  """No Local"""
  source_no_local.desc:
  """Whether to set the no-local flag when subscribing to the remote topic.  If set to true, and you use the same connector to publish messages to a topic you also subscribe to, this prevents the server from forwarding your own published messages back to you.  Only takes effect when using MQTT protocol version 5.  Note that if you use a pool of workers larger than 1 you will still receive duplicated messages back."""

}
