emqx_license_http_api {

desc_license_info_api.desc:
"""Get license info"""

desc_license_info_api.label:
"""License info"""

desc_license_key_api.desc:
"""Update a license key"""

desc_license_key_api.label:
"""Update license"""

desc_license_setting_api.desc:
"""Update license setting"""

desc_license_setting_api.label:
"""Update license setting"""

bad_license_key.desc:
"""Bad license key"""
bad_license_key.label:
"""Bad License Key"""

bad_setting_value.desc:
"""Bad setting value"""
bad_setting_value.label:
"""Bad Setting Value"""

}
