emqx_bridge_es_connector {

server.desc:
"""The IPv4 or IPv6 address or the hostname to connect to.
A host entry has the following form: `Host[:Port]`.
The Elasticsearch default port 9200 is used if `[:Port]` is not specified."""

server.label:
"""Server Host"""

config_authentication.desc:
"""Authentication configuration"""

config_authentication.label:
"""Authentication"""

auth_basic.desc:
"""Parameters for basic authentication."""

auth_basic.label:
"""Basic auth params"""

config_auth_basic_username.desc:
"""The username as configured at the ElasticSearch REST interface"""

config_auth_basic_username.label:
  """HTTP Basic Auth Username"""

config_auth_basic_password.desc:
"""The password as configured at the ElasticSearch REST interface"""

config_auth_basic_password.label:
"""HTTP Basic Auth Password"""

config_max_retries.desc:
"""HTTP request max retry times if failed."""

config_max_retries.label:
"""HTTP Request Max Retries"""

desc_config.desc:
"""Configuration for ElasticSearch bridge."""

desc_config.label:
"""ElasticSearch Bridge Configuration"""

}
