emqx_authn_ldap_schema {

ldap.desc:
"""Configuration of authenticator using LDAP as authentication data source."""

password_attribute.desc:
"""Indicates which attribute is used to represent the user's password."""

password_attribute.label:
"""Password Attribute"""

is_superuser_attribute.desc:
"""Indicates which attribute is used to represent whether the user is a superuser."""

is_superuser_attribute.label:
"""IsSuperuser Attribute"""

query_timeout.desc:
"""Timeout for the LDAP query."""

query_timeout.label:
"""Query Timeout"""

hash_method.desc:
"""Authenticate by comparing the hashed password which was provided by the `password attribute`."""

bind_method.desc:
"""Authenticate by the LDAP bind operation."""

method.desc:
"""Authentication method."""

method_type.desc:
"""Authentication method type."""

bind_password.desc:
"""The template for password to bind."""

bind_password.label:
"""Bind Password"""

acl_ttl_attribute.desc:
"""Indicates which attribute is used to represent the ACL TTL."""

acl_ttl_attribute.label:
"""ACL TTL Attribute"""

}
