emqx_prometheus_api {

get_prom_conf_info.desc:
"""Get Prometheus config info"""
get_prom_conf_info.label:
"""Get Prometheus config info"""

update_prom_conf_info.desc:
"""Update Prometheus config"""
update_prom_conf_info.label:
"""Update Prometheus config"""

get_prom_data.desc:
"""Get Prometheus Metrics"""
get_prom_data.label:
"""Prometheus Metrics"""

get_prom_auth_data.desc:
"""Get Prometheus Metrics for AuthN, AuthZ and Banned"""
get_prom_auth_data.label:
"""Prometheus Metrics for Auth"""

get_prom_data_integration_data.desc:
"""Get Prometheus Metrics for Data Integration"""
get_prom_data_integration_data.label:
"""Prometheus Metrics for Data Integration"""

get_prom_schema_validation.desc:
"""Get Prometheus Metrics for Schema Validation"""
get_prom_schema_validation.label:
"""Prometheus Metrics for Schema Validation"""

}
