emqx_bridge_rabbitmq {

    local_topic.desc:
    """The MQTT topic filter to be forwarded to RabbitMQ. All MQTT 'PUBLISH' messages with the topic matching the local_topic will be forwarded.
    NOTE: if this bridge is used as the action of a rule (EMQX rule engine), and also local_topic is configured, then both the data got from the rule and the MQTT messages that match local_topic will be forwarded."""

    local_topic.label:
    """Local Topic"""

    config_enable.desc:
    """Enable or disable this bridge"""

    config_enable.label:
    """Enable or Disable Bridge"""

    desc_config.desc:
    """Configuration for a RabbitMQ bridge."""

    desc_config.label:
    """RabbitMQ Bridge Configuration"""

    desc_type.desc:
    """The Bridge Type"""

    desc_type.label:
    """Bridge Type"""

    desc_name.desc:
    """Bridge name."""

    desc_name.label:
    """Bridge Name"""

}
