emqx_mq_api {

    ## Method descriptions

    message_queues_list {
        desc: "List message queues with pagination."
        label: "List Message Queues"
    }
    message_queues_create {
        desc: "Create a new message queue."
        label: "Create Message Queue"
    }
    message_queues_get {
        desc: "Get message queue."
        label: "Get Message Queue"
    }
    message_queues_update {
        desc: "Update message queue."
        label: "Update Message Queue"
    }
    message_queues_delete {
        desc: "Delete message queue."
        label: "Delete Message Queue"
    }
    message_queues_config_get {
        desc: "Get message queue config."
        label: "Get Message Queue Config"
    }
    message_queues_config_update {
        desc: "Update message queue config."
        label: "Update Message Queue Config"
    }

    ## Request/Response elements

    bad_cursor {
        desc: "Bad cursor"
    }
    message_queues_delete_success {
        desc: "Message queue deleted successfully"
    }
    message_queue_already_exists {
        desc: "Message queue already exists"
    }
    message_queue_not_found {
        desc: "Message queue not found"
    }
    service_unavailable {
        desc: "Service unavailable"
    }
    invalid_message_queue {
        desc: "Invalid message queue"
    }
    invalid_message_queue_config {
        desc: "Invalid message queue config"
    }
    topic_filter {
        desc: "Topic filter"
    }
}
