emqx_postgresql {

server.desc:
"""The IPv4 or IPv6 address or the hostname to connect to.<br/>
A host entry has the following form: `Host[:Port]`.<br/>
The PostgreSQL default port 5432 is used if `[:Port]` is not specified."""

server.label:
"""Server Host"""

config_connector.desc:
"""The configuration for the PostgreSQL connector."""

config_connector.label:
"""PostgreSQL Connector Config"""

disable_prepared_statements.label:
"""Disable Prepared Statements"""
disable_prepared_statements.desc:
"""~
Disables the usage of prepared statements in the connections.
Some endpoints, like PGBouncer or Supabase in Transaction mode, do not
support session features such as prepared statements.  For such connections,
this option should be enabled.~"""

}
