emqx_bridge_opents {

    config_enable.desc:
        """Enable or disable this bridge"""

    config_enable.label:
        "Enable Or Disable Bridge"

    desc_config.desc:
        """Configuration for an OpenTSDB bridge."""

    desc_config.label:
        "OpenTSDB Bridge Configuration"

    desc_type.desc:
        """The Bridge Type"""

    desc_type.label:
        "Bridge Type"

    desc_name.desc:
        """Bridge name."""

    desc_name.label:
        "Bridge Name"

action_parameters.desc:
"""OpenTSDB action parameters"""

action_parameters.label:
"""Parameters"""

action_parameters_data.desc:
"""OpenTSDB action parameter data"""

action_parameters_data.label:
"""Parameter Data"""

config_parameters_timestamp.desc:
"""Timestamp. Placeholders in the format of ${var} are supported"""

config_parameters_timestamp.label:
"""Timestamp"""

config_parameters_metric.desc:
"""Metric. Placeholders in the format of ${var} are supported"""

config_parameters_metric.label:
"""Metric"""

config_parameters_tags.desc:
"""Tags. Only supports with placeholder to extract tags from a variable or a tags map"""

config_parameters_tags.label:
"""Tags"""

config_parameters_value.desc:
"""Value. Placeholders in the format of ${var} are supported"""

config_parameters_value.label:
"""Value"""

}
