emqx_statsd_schema {

  get_statsd_config_api {
    desc {
      en: """List the configuration of StatsD metrics collection and push service."""
      zh: """列出 StatsD 指标采集和推送服务的的配置。"""
    }
  }

  update_statsd_config_api {
    desc {
      en: """Update the configuration of StatsD metrics collection and push service."""
      zh: """更新 StatsD 指标采集和推送服务的配置。"""
    }
  }

  statsd {
    desc {
      en: """StatsD metrics collection and push configuration."""
      zh: """StatsD 指标采集与推送配置。"""
    }
    label {
      en: """StatsD"""
      zh: """StatsD"""
    }
  }

  server {
    desc {
      en: """StatsD server address."""
      zh: """StatsD 服务器地址。"""
    }
  }

  sample_interval {
    desc {
      en: """The sampling interval for metrics."""
      zh: """指标的采样间隔。"""
    }
  }

  flush_interval {
    desc {
      en: """The push interval for metrics."""
      zh: """指标的推送间隔。"""
    }
  }
  tags {
    desc {
      en: """The tags for metrics."""
      zh: """指标的标签。"""
    }
  }

  enable {
    desc {
      en: """Enable or disable StatsD metrics collection and push service."""
      zh: """启用或禁用 StatsD 指标采集和推送服务。"""
    }
  }
}
