emqx_bridge_couchbase_action_schema {
  couchbase.label:
  """Upload to Couchbase"""
  couchbase.desc:
  """Action that takes incoming events and uploads them to the Couchbase service."""

  parameters.label:
  """Couchbase action parameters"""
  parameters.desc:
  """Set of parameters for the action."""

  sql.label:
  """SQL Template"""
  sql.desc:
  """SQL Template"""

  max_retries.label:
  """Max Retries"""
  max_retries.desc:
  """Max retry times if error on sending request."""

}
