emqx_ds_shared_sub_schema {

enable.desc:
"""Enable the shared subscription feature."""

enable.label:
"""Enable Shared Subscription"""

session_find_leader_timeout_ms.desc:
"""The timeout in milliseconds for the session to find a leader.
If the session cannot find a leader within this time, the session will retry."""

session_find_leader_timeout_ms.label:
"""Session Find Leader Timeout"""

session_renew_lease_timeout_ms.desc:
"""The timeout in milliseconds for the session to wait for the leader to renew the lease.
If the leader does not renew the lease within this time, the session will consider
the leader as lost and try to find a new leader."""

session_renew_lease_timeout_ms.label:
"""Session Renew Lease Timeout"""

session_min_update_stream_state_interval_ms.desc:
"""The minimum interval in milliseconds for the session to update the stream state.
If session has no updates for the stream state within this time, the session will
send empty updates."""

session_min_update_stream_state_interval_ms.label:
"""Session Min Update Stream State Interval"""

leader_renew_lease_interval_ms.desc:
"""The interval in milliseconds for the leader to renew the lease."""

leader_renew_lease_interval_ms.label:
"""Leader Renew Lease Interval"""

leader_renew_streams_interval_ms.desc:
"""The interval in milliseconds for the leader to renew the streams."""

leader_renew_streams_interval_ms.label:
"""Leader Renew Streams Interval"""

leader_drop_timeout_interval_ms.desc:
"""The interval in milliseconds for the leader to drop non-responsive sessions."""

leader_drop_timeout_interval_ms.label:
"""Leader Drop Timeout Interval"""

leader_session_update_timeout_ms.desc:
"""The timeout in milliseconds for the leader to wait for the session to update the stream state.
If the session does not update the stream state within this time, the leader will drop the session."""

leader_session_update_timeout_ms.label:
"""Leader Session Update Timeout"""

leader_session_not_replaying_timeout_ms.desc:
"""The timeout in milliseconds for the leader to wait for the session leave intermediate states."""

leader_session_not_replaying_timeout_ms.label:
"""Leader Session Not Replaying Timeout"""

}
