emqx_authz_postgresql_schema {

query.desc:
"""Database query used to retrieve authorization data."""

query.label:
"""query"""

postgresql.desc:
"""Authorization using a PostgreSQL database."""

postgresql.label:
"""postgresql"""

}
