emqx_mgmt_api_listeners {

list_node_live_statuses.desc:
"""List all running node's listeners live status. group by listener type"""
list_node_live_statuses.label:
"""List all running node's listeners live status. group by listener type"""

list_listeners.desc:
"""List all running node's listeners for the specified type."""
list_listeners.label:
"""List all running node's listeners for the specified type."""

listener_type.desc:
"""Listener type"""
listener_type.label:
"""Listener type"""

create_on_all_nodes.desc:
"""Create the specified listener on all nodes."""
create_on_all_nodes.label:
"""Create the specified listener on all nodes."""

list_by_id.desc:
"""List all running node's listeners for the specified id."""
list_by_id.label:
"""List all running node's listeners for the specified id."""

update_lisener.desc:
"""Update the specified listener on all nodes."""
update_lisener.label:
"""Update the specified listener on all nodes."""

create_on_all_nodes_2.desc:
"""Create the specified listener on all nodes."""
create_on_all_nodes_2.label:
"""Create the specified listener on all nodes."""

delete_on_all_nodes.desc:
"""Delete the specified listener on all nodes."""
delete_on_all_nodes.label:
"""Delete the specified listener on all nodes."""

start_on_all_nodes.desc:
"""Start the listener on all nodes."""
start_on_all_nodes.label:
"""Start the listener on all nodes."""

stop_on_all_nodes.desc:
"""Stop the listener on all nodes."""
stop_on_all_nodes.label:
"""Stop the listener on all nodes."""

restart_on_all_nodes.desc:
"""Restart listeners on all nodes."""
restart_on_all_nodes.label:
"""Restart listeners on all nodes."""


}
