emqx_ee_connector_dynamo {

    url {
        desc {
          en: """The url of DynamoDB endpoint."""
          zh: """DynamoDB 的地址。"""
        }
        label: {
              en: "DynamoDB Endpoint"
              zh: "DynamoDB 地址"
            }
    }

    table {
        desc {
          en: """DynamoDB Table."""
          zh: """DynamoDB 的表。"""
        }
        label: {
              en: "Table "
              zh: "表"
            }
    }

    aws_access_key_id {
        desc {
          en: """Access Key ID for connecting to DynamoDB."""
          zh: """DynamoDB 的访问 ID。"""
        }
        label: {
             en: "AWS Access Key ID"
             zh: "连接访问 ID"
            }
    }

    aws_secret_access_key {
        desc {
          en: """AWS Secret Access Key for connecting to DynamoDB."""
          zh: """DynamoDB 的访问密钥。"""
        }
        label: {
              en: "AWS Secret Access Key"
              zh: "连接访问密钥"
            }
    }
}
