emqx_dashboard_schema {

backlog.desc:
"""Defines the maximum length that the queue of pending connections can grow to."""

backlog.label:
"""Backlog"""

bind.desc:
"""Bind the listener to a specified address and port number, for example `127.0.0.1:18083`.
If configured with just the port number (e.g. `18083`) it's equivalent to binding to all addresses `0.0.0.0`.
The listener is disabled if `bind` is `0`."""

bind.label:
"""Bind"""

bootstrap_users_file.desc:
"""Deprecated, use api_key.bootstrap_file."""

bootstrap_users_file.label:
"""Deprecated"""

cors.desc:
"""Support Cross-Origin Resource Sharing (CORS).
Allows a server to indicate any origins (domain, scheme, or port) other than
its own from which a browser should permit loading resources."""

cors.label:
"""CORS"""

default_password.desc:
"""The password used to initialize a database record for `admin` user.
NOTE: Changing the default password after it has been initialized (boot up for the fist time) has no effect.
Once initialized, the default password `public` must be changed from dashboard or CLI as soon as possible."""

default_password.label:
"""Default password"""

default_username.desc:
"""The default username of the automatically created dashboard user."""

default_username.label:
"""Default username"""

desc_dashboard.desc:
"""Configuration for EMQX dashboard."""

desc_dashboard.label:
"""Dashboard"""

desc_http.desc:
"""Configuration for the dashboard listener (plaintext)."""

desc_http.label:
"""HTTP"""

desc_https.desc:
"""Configuration for the dashboard listener (TLS)."""

desc_https.label:
"""HTTPS"""

desc_listeners.desc:
"""Configuration for the dashboard listener."""

desc_listeners.label:
"""Listeners"""

i18n_lang.desc:
"""Internationalization language support."""

i18n_lang.label:
"""I18n language"""

inet6.desc:
"""Enable IPv6 support, default is false, which means IPv4 only."""

inet6.label:
"""IPv6"""

ipv6_v6only.desc:
"""Disable IPv4-to-IPv6 mapping for the listener.
The configuration is only valid when the inet6 is true."""

ipv6_v6only.label:
"""IPv6 only"""

listener_enable.desc:
"""Ignore or enable this listener"""

listener_enable.label:
"""Enable"""

listeners.desc:
"""HTTP(s) listeners are identified by their protocol type and are
used to serve dashboard UI and restful HTTP API.
Listeners must have a unique combination of port number and IP address.
For example, an HTTP listener can listen on all configured IP addresses
on a given port for a machine by specifying the IP address 0.0.0.0.
Alternatively, the HTTP listener can specify a unique IP address for each listener,
but use the same port."""

listeners.label:
"""Listeners"""

max_connections.desc:
"""The maximum number of concurrent connections allowed by the listener."""

max_connections.label:
"""Maximum connections"""

num_acceptors.desc:
"""Socket acceptor pool size for TCP protocols. Default is the number of schedulers online"""

num_acceptors.label:
"""Number of acceptors"""

proxy_header.desc:
"""Enable support for `HAProxy` header. Be aware once enabled regular HTTP requests can't be handled anymore."""

proxy_header.label:
"""Enable support for HAProxy header"""

sample_interval.desc:
"""How often to update metrics displayed in the dashboard.
Note: `sample_interval` should be a divisor of 60, default is 10s."""

send_timeout.desc:
"""Send timeout for the socket."""

send_timeout.label:
"""Send timeout"""

token_expired_time.desc:
"""JWT token expiration time. Default is 60 minutes"""

token_expired_time.label:
"""Token expired time"""

password_expired_time.desc:
"""The expiration time for the password of users. The default value `0` means the password will never expire."""

ssl_options.desc:
"""SSL/TLS options for the dashboard listener."""

ssl_options.label:
"""SSL options"""

swagger_support.desc:
"""Enable or disable support for swagger API documentation."""

swagger_support.label:
"""Swagger Support"""
}
