emqx_mgmt_api_status {

get_status_api.desc:
"""Serves as a health check for the node.  Returns a plain text response describing the status of the node.  This endpoint requires no authentication.

Returns status code 200 if the EMQX application is up and running, 503 otherwise.
This API was introduced in v5.0.10.
The GET `/status` endpoint (without the `/api/...` prefix) is also an alias to this endpoint and works in the same way.  This alias has been available since v5.0.0."""

get_status_api.label:
"""Service health check"""

get_status_response200.desc:
"""Node emqx@127.0.0.1 is started
emqx is running"""

get_status_response503.desc:
"""Node emqx@127.0.0.1 is stopped
emqx is not_running"""

}
