emqx_authn_pgsql {
  authentication {
    desc {
      en: """Configuration of authenticator using PostgreSQL as authentication data source."""
      zh: """使用 PostgreSQL 作为认证数据源的认证器的配置项。"""
    }
  }

  query {
    desc {
      en: """SQL used to query data for authentication, such as password hash."""
      zh: """用于查询密码散列等用于认证的数据的 SQL 语句。"""
    }
    label: {
      en: """Query"""
      zh: """查询语句"""
    }
  }
}
