emqx_bridge_greptimedb {

config_enable.desc:
"""Enable or disable this action."""

config_enable.label:
"""Enable Or Disable Action"""

desc_config.desc:
"""Configuration for an GreptimeDB action."""

desc_config.label:
"""GreptimeDB Action Configuration"""

desc_name.desc:
"""The name of the action."""

desc_name.label:
"""Action Name"""

desc_type.desc:
"""The type of the action."""

desc_type.label:
"""Action Type"""

local_topic.desc:
"""The MQTT topic filter to be forwarded to the GreptimeDB. All MQTT 'PUBLISH' messages with the topic
matching the local_topic will be forwarded.<br/>
NOTE: If this Sink is used as the action of a rule (EMQX rule engine), and also local_topic is
configured, then both the data got from the rule and the MQTT messages that match local_topic
will be forwarded."""

local_topic.label:
"""Local Topic"""

write_syntax.desc:
"""Conf of GreptimeDB gRPC protocol to write data points. Write syntax is a text-based format that provides the measurement, tag set, field set, and timestamp of a data point, and placeholder supported, which is the same as InfluxDB line protocol.
See also [InfluxDB 2.3 Line Protocol](https://docs.influxdata.com/influxdb/v2.3/reference/syntax/line-protocol/) and
[GreptimeDB 1.8 Line Protocol](https://docs.influxdata.com/influxdb/v1.8/write_protocols/line_protocol_tutorial/) <br/>
TLDR:<br/>
```
<measurement>[,<tag_key>=<tag_value>[,<tag_key>=<tag_value>]] <field_key>=<field_value>[,<field_key>=<field_value>] [<timestamp>]
```
Please note that a placeholder for an integer value must be annotated with a suffix `i`. For example `${payload.int_value}i`."""

write_syntax.label:
"""Write Syntax"""

action_parameters.label:
"""Action Parameters"""
action_parameters.desc:
"""Additional parameters specific to this action type"""

connector.label:
"""GreptimeDB Connector"""
connector.desc:
"""GreptimeDB Connector Configs"""

greptimedb_action.label:
"""GreptimeDB Action"""
greptimedb_action.desc:
"""Action to interact with a GreptimeDB connector"""

}
