emqx_bridge_tdengine {

config_enable.desc:
"""Enable or disable this bridge"""

config_enable.label:
"""Enable Or Disable Bridge"""

desc_config.desc:
"""Configuration for a TDengine bridge."""

desc_config.label:
"""TDengine Bridge Configuration"""

desc_name.desc:
"""Bridge name."""

desc_name.label:
"""Bridge Name"""

desc_type.desc:
"""The Bridge Type"""

desc_type.label:
"""Bridge Type"""

sql_template.desc:
"""SQL Template"""

sql_template.label:
"""SQL Template"""

action_parameters.desc:
"""TDengine action parameters"""

action_parameters.label:
"""Parameters"""

}
