emqx_dashboard_api {

change_pwd_api.desc:
"""Change dashboard user password"""
change_pwd_api.label:
"""Change dashboard user password"""

create_user_api.desc:
"""Create dashboard user"""
create_user_api.label:
"""Create dashboard user"""

create_user_api_success.desc:
"""Create dashboard user success"""
create_user_api_success.label:
"""Create dashboard user success"""

delete_user_api.desc:
"""Delete dashboard user"""
delete_user_api.label:
"""Delete dashboard user"""

license.desc:
"""EMQX License. opensource or enterprise"""

list_users_api.desc:
"""Dashboard list users"""
list_users_api.label:
"""Dashboard list users"""

login_api.desc:
"""Get Dashboard Auth Token."""
login_api.label:
"""Get Dashboard Auth Token."""

login_failed401.desc:
"""Login failed. Bad username or password"""

login_failed_response400.desc:
"""Login failed. Bad username or password"""

login_success.desc:
"""Dashboard Auth Success"""

logout_api.desc:
"""Dashboard user logout.
This endpoint is only for the Dashboard, not the `API Key`.
The token from the `/login` endpoint must be a bearer authorization in the headers."""
logout_api.label:
"""Dashboard user logout"""

new_pwd.desc:
"""New password"""

old_pwd.desc:
"""Old password"""

password.desc:
"""Dashboard Password"""

token.desc:
"""Dashboard Auth Token"""

update_user_api.desc:
"""Update dashboard user description"""
update_user_api.label:
"""Update dashboard user description"""

update_user_api200.desc:
"""Update dashboard user success"""

user_description.desc:
"""Dashboard User Description"""

username.desc:
"""Dashboard Username"""

users_api404.desc:
"""Dashboard user not found"""

version.desc:
"""EMQX Version"""

role.desc:
"""User role"""

backend.desc:
"""User account source"""

password_expire_in_seconds.desc:
"""Time in seconds until the password expiresc."""

}
