emqx_dashboard_sso_saml_api {


backend_not_found.desc:
"""backend_not_found"""
backend_not_found.label:
"""backend_not_found"""


login_failed401.desc:
"""login_failed401"""
login_failed401.label:
"""login_failed401"""


redirect.desc:
"""redirect"""
redirect.label:
"""redirect"""


saml_sso_acs.desc:
"""saml_sso_acs"""
saml_sso_acs.label:
"""saml_sso_acs"""


sp_saml_metadata.desc:
"""sp_saml_metadata"""
sp_saml_metadata.label:
"""sp_saml_metadata"""

}
