emqx_authz_mnesia_schema {

builtin_db.desc:
"""Authorization using a built-in database (mnesia)."""

builtin_db.label:
"""Builtin Database"""

max_rules.desc:
"""Maximum number of rules per client/user. Note that performance may decrease as number of rules increases."""

}
