emqx_authz_api_settings {

authorization_settings_get.desc:
"""Get authorization settings"""

authorization_settings_put.desc:
"""Update authorization settings"""

bad_request.desc:
"""Bad Request"""
bad_request.label:
"""Bad Request"""


authorization_settings_get.label:
"""Get Authorization Settings"""


authorization_settings_put.label:
"""Update Authorization Settings"""

}
