emqx_message_transformation_schema {

desc_message_transformation.desc:
"""Message transformation configuration."""
desc_message_transformation.label:
"""Message Transformation"""

desc_transformation.desc:
"""A single message transformation rule."""
desc_transformation.label:
"""Transformation"""

desc_operation.desc:
"""A transformation operation that assigns a value to a key."""
desc_operation.label:
"""Operation"""

desc_log_failure.desc:
"""Configuration for logging transformation failures."""
desc_log_failure.label:
"""Log Failure"""

transformations.desc:
"""List of message transformation rules."""
transformations.label:
"""Transformations"""

config_enable.desc:
"""Whether this feature is enabled."""
config_enable.label:
"""Enable"""


failure_action.desc:
"""Action when transformation fails."""
failure_action.label:
"""Failure Action"""


log_failure_at.desc:
"""Log level for recording transformation failures."""
log_failure_at.label:
"""Failure Log Level"""


name.desc:
"""Transformation name."""
name.label:
"""Name"""


operation.desc:
"""List of transformation operations."""
operation.label:
"""Operations"""


operation_key.desc:
"""Target key path to update."""
operation_key.label:
"""Operation Key"""


operation_value.desc:
"""Value or template assigned to the key."""
operation_value.label:
"""Operation Value"""


payload_decoder.desc:
"""Payload decoder configuration."""
payload_decoder.label:
"""Payload Decoder"""


payload_encoder.desc:
"""Payload encoder configuration."""
payload_encoder.label:
"""Payload Encoder"""


topics.desc:
"""Topic filters to apply this transformation."""
topics.label:
"""Topics"""

}
