emqx_auto_subscribe_api {
  list_auto_subscribe_api {
    desc {
      en: """Get auto subscribe topic list"""
      zh: """获取自动订阅主题列表"""
    }
  }

  update_auto_subscribe_api {
    desc {
      en: """Update auto subscribe topic list"""
      zh: """更新自动订阅主题列表"""
    }
  }

  update_auto_subscribe_api_response409 {
    desc {
      en: """Auto Subscribe topics max limit"""
      zh: """超出自定订阅主题列表长度限制"""
    }
  }

}
