emqx_bridge_hstreamdb_connector {

config.desc:
"""HStreamDB connection config"""

config.label:
"""Connection config"""

type.desc:
"""The Connector Type."""

type.label:
"""Connector Type"""

name.desc:
"""A human-readable identifier for the connector."""

name.label:
"""Connector Name"""

url.desc:
"""HStreamDB Server URL. This URL will be used as the gRPC HTTP server address."""

url.label:
"""HStreamDB Server URL"""

stream_name.desc:
"""HStreamDB Stream Name."""

stream_name.label:
"""HStreamDB Stream Name"""

partition_key.desc:
"""HStreamDB Partition Key. Placeholders supported."""

partition_key.label:
"""HStreamDB Partition Key"""

pool_size.desc:
"""The size of the aggregation pool and the writer pool (see the description of the HStreamDB action for more information about these pools). Larger pool sizes can enhance parallelization but may also reduce efficiency due to smaller batch sizes."""

pool_size.label:
"""HStreamDB Pool Size"""

grpc_timeout.desc:
"""The timeout for HStreamDB gRPC requests."""

grpc_timeout.label:
"""HStreamDB gRPC Timeout"""

}
