emqx_authn_mnesia_schema {

builtin_db.desc:
"""Configuration of authenticator using built-in database as data source."""

user_id_type.desc:
"""Specify whether to use `clientid` or `username` for authentication."""

user_id_type.label:
"""Authentication ID Type"""

bootstrap_file.desc:
"""The bootstrap file imports users into the built-in database.
the file content format is determined by `bootstrap_type`."""

bootstrap_file.label:
"""Bootstrap File Path"""

bootstrap_type.desc:
"""plain: bootstrap_file.cvs should have lines of format `{user_id},{password},{is_superuser}` where `user_id` can be either clientid or username depending on `user_id_type`.
hash: bootstrap_file.cvs should have line of format `{user_id},{password_hash},{salt},{is_superuser}.`
All file format support is the same as `authentication/password_based:built_in_database/import_users` API."""

}
