emqx_dashboard_sso_oidc_api {

code_callback.desc:
"""The callback path for the OIDC authorization server."""

bad_request.desc:
"""Bad Request"""
bad_request.label:
"""Bad Request"""

backend_not_found.desc:
"""Backend not found"""
backend_not_found.label:
"""Backend Not Found"""

forbidden.desc:
"""The login was not started by this browser"""
forbidden.label:
"""Forbidden"""

code_callback.label:
"""Code Callback"""


}
