emqx_s3_schema {

access_key_id.desc:
"""The access key ID of the S3 bucket."""

secret_access_key.desc:
"""The secret access key of the S3 bucket."""

bucket.desc:
"""The name of the S3 bucket."""

bucket.label:
"""Bucket"""

bucket_access_method.desc:
"""Method to be used to access the bucket through HTTP API."""

bucket_access_method.label:
"""Bucket Access Method"""

key.desc:
"""Key of the S3 object."""

key.label:
"""Object Key"""

upload_headers.label:
"""S3 object HTTP headers"""

upload_headers.desc:
"""HTTP headers to include in the S3 object upload request.<br/>
Useful to specify content type, content encoding, etc. of the S3 object."""

host.desc:
"""The host of the S3 endpoint."""

port.desc:
"""The port of the S3 endpoint."""

url_expire_time.desc:
"""The time in seconds for which the signed URLs to the S3 objects are valid."""

min_part_size.desc:
"""The minimum part size for multipart uploads.<br/>
Uploaded data will be accumulated in memory until this size is reached."""

max_part_size.desc:
"""The maximum part size for multipart uploads.<br/>
S3 uploader won't try to upload parts larger than this size."""

acl.desc:
"""The ACL to use for the uploaded objects."""

transport_options.desc:
"""Options for the HTTP transport layer used by the S3 client."""

ipv6_probe.desc:
"""Whether to probe for IPv6 support."""

}
