emqx_bridge_v2_schema {

desc_bridges_v2.desc:
"""Configuration for actions."""

desc_bridges_v2.label:
"""Action Configuration"""

desc_sources.desc:
"""Configuration for sources."""

desc_sources.label:
"""Source Configuration"""

mqtt_topic.desc:
"""MQTT topic or topic filter as data source (action input).  If rule action is used as data source, this config should be left empty, otherwise messages will be duplicated in the remote system."""
mqtt_topic.label:
"""Source MQTT Topic"""

config_enable.desc:
"""Enable (true) or disable (false) this action."""
config_enable.label:
"""Enable or Disable"""

}
