emqx_authn_http {
  get {
    desc {
      en: """Configuration of authenticator using HTTP Server as authentication service (Using GET request)."""
      zh: """使用 HTTP Server 作为认证服务的认证器的配置项 (使用 GET 请求)。"""
    }
  }

  post {
    desc {
      en: """Configuration of authenticator using HTTP Server as authentication service (Using POST request)."""
      zh: """使用 HTTP Server 作为认证服务的认证器的配置项 (使用 POST 请求)。"""
    }
  }

  method {
    desc {
      en: """HTTP request method."""
      zh: """HTTP 请求方法。"""
    }
    label {
      en: """Request Method"""
      zh: """请求方法"""
    }
  }

  url {
    desc {
      en: """URL of the HTTP server."""
      zh: """认证 HTTP 服务器地址。"""
    }
    label {
      en: """URL"""
      zh: """URL"""
    }
  }

  headers {
    desc {
      en: """List of HTTP Headers."""
      zh: """HTTP Headers 列表"""
    }
    label {
      en: """Headers"""
      zh: """请求头"""
    }
  }

  headers_no_content_type {
    desc {
      en: """List of HTTP headers (without <code>content-type</code>)."""
      zh: """HTTP Headers 列表 (无 <code>content-type</code>) 。"""
    }
    label {
      en: """headers_no_content_type"""
      zh: """请求头(无 content-type)"""
    }
  }

  body {
    desc {
      en: """HTTP request body."""
      zh: """HTTP request body。"""
    }
    label {
      en: """Request Body"""
      zh: """Request Body"""
    }
  }

  request_timeout {
    desc {
      en: """HTTP request timeout."""
      zh: """HTTP 请求超时时长。"""
    }
    label {
      en: """Request Timeout"""
      zh: """请求超时时间"""
    }
  }
}
