emqx_auth_cache_schema {

auth_cache_config.desc:
"""Configuration of authentication/authorization cache."""

auth_cache_config.label:
"""Cache Configuration"""

enable.desc:
"""Enable or disable the cache."""

enable.label:
"""Enable"""

cache_ttl.desc:
"""Time after which the cached authentication/authorization result will expire."""

cache_ttl.label:
"""Cache TTL"""

cleanup_interval.desc:
"""Interval to clean up expired cached results."""

cleanup_interval.label:
"""Cleanup Interval"""

stat_update_interval.desc:
"""Interval to update cache statistics."""

stat_update_interval.label:
"""Stat Update Interval"""

max_count.desc:
"""Maximum number of cached results."""

max_count.label:
"""Max Cache Size"""

max_memory.desc:
"""Maximum memory usage of the cache."""

max_memory.label:
"""Max Memory Usage"""

rate.desc:
"""The latest increment rate of the counter during the last sample interval."""

rate.label:
"""Rate"""

rate_max.desc:
"""The maximum increment rate of the counter since the node started."""

rate_max.label:
"""Maximum Rate"""

rate_last5m.desc:
"""The average increment rate of the counter during the last 5 minutes."""

rate_last5m.label:
"""Rate Last 5min"""

counter_value.desc:
"""The value of the increment"""

counter_value.label:
"""Counter Value"""

counter_rate.desc:
"""The increment speeds of the counter."""

counter_rate.label:
"""Counter Rate"""

metric_hits.desc:
"""Statistics about cache hits, including the total number of hits and hit rates."""

metric_hits.label:
"""Cache Hit Statistics"""

metric_misses.desc:
"""Statistics about cache misses, including the total number of misses and miss rates."""

metric_misses.label:
"""Cache Miss Statistics"""

metric_inserts.desc:
"""Statistics about cache insertions, including the total number of insertions and insertion rates."""

metric_inserts.label:
"""Cache Insert Statistics"""
s
metric_size.desc:
"""The current number of entries in the cache table."""

metric_size.label:
"""Cache Size"""

metric_memory.desc:
"""The current memory usage of the cache table in bytes."""

metric_memory.label:
"""Cache Memory Usage"""

status_metrics.desc:
"""The metrics of the authentication cache."""

status_metrics.label:
"""Authentication Cache Metrics"""

status_node_metrics.desc:
"""The metrics of the authentication cache for each node."""

status_node_metrics.label:
"""Node Authentication Cache Metrics"""

node.desc:
"""The name of the node."""

node.label:
"""Node Name"""

metrics.desc:
"""The metrics of the authentication cache."""

metrics.label:
"""Authentication Cache Metrics"""

}
