emqx_bridge_rabbitmq {

    config_enable.desc:
    """Enable or disable this bridge"""

    config_enable.label:
    """Enable or Disable Bridge"""

    desc_config.desc:
    """Configuration for a RabbitMQ bridge."""

    desc_config.label:
    """RabbitMQ Bridge Configuration"""

    desc_type.desc:
    """The Bridge Type"""

    desc_type.label:
    """Bridge Type"""

    desc_name.desc:
    """Bridge name."""

    desc_name.label:
    """Bridge Name"""

}
