emqx_ee_schema_registry_schema {
  schema_registry_root {
    desc {
      en: "Schema registry configurations."
      zh: "模式注册表的配置。"
    }
    label {
      en: "Schema registry"
      zh: "模式注册表"
    }
  }

  schema_registry_schemas {
    desc {
      en: "Registered schemas."
      zh: "注册的模式。"
    }
    label {
      en: "Registered schemas"
      zh: "注册的模式"
    }
  }

  schema_name {
    desc {
      en: "A name for the schema that will serve as its identifier."
      zh: "模式的一个名称，将作为其标识符。"
    }
    label {
      en: "Schema name"
      zh: "模式名称"
    }
  }

  schema_type {
    desc {
      en: "Schema type."
      zh: "模式类型。"
    }
    label {
      en: "Schema type"
      zh: "模式类型"
    }
  }

  schema_source {
    desc {
      en: "Source text for the schema."
      zh: "模式的源文本。"
    }
    label {
      en: "Schema source"
      zh: "模式来源"
    }
  }

  schema_description {
    desc {
      en: "A description for this schema."
      zh: "对该模式的描述。"
    }
    label {
      en: "Schema description"
      zh: "模式描述"
    }
  }

  avro_type {
    desc {
      en: "[Apache Avro](https://avro.apache.org/) serialization format."
      zh: "[阿帕奇-阿夫罗](https://avro.apache.org/) 序列化格式。"
    }
    label {
      en: "Apache Avro"
      zh: "阿帕奇-阿夫罗"
    }
  }
}
