emqx_bridge_iotdb_connector {

config_authentication.desc:
"""Authentication configuration"""

config_authentication.label:
"""Authentication"""

auth_basic.desc:
"""Parameters for basic authentication."""

auth_basic.label:
"""Basic auth params"""

config_auth_username.desc:
"""The username as configured at the IoTDB REST/Thrift interface"""

config_auth_username.label:
  """Auth Username"""

config_auth_password.desc:
"""The password as configured at the IoTDB/Thrift REST interface"""

config_auth_password.label:
"""Auth Password"""

config_base_url.desc:
"""The base URL of the external IoTDB service's REST interface."""
config_base_url.label:
"""IoTDB REST Service Base URL"""

config_max_retries.desc:
"""HTTP request max retry times if failed."""

config_max_retries.label:
"""HTTP Request Max Retries"""

desc_config.desc:
"""Configuration for Apache IoTDB bridge."""

desc_config.label:
"""IoTDB Bridge Configuration"""

config_driver.desc:
"""The drivers for IoTDB connector, can be:
- rest
- thrift"""

server.desc:
"""The address of the IoTDB Thrift server (host:port)"""

config_protocol_version.desc:
"""The version of IoTDB Thrift protocol"""

config_zoneId.desc:
"""Timezone for IoTDB Thrift session"""

pool_size.desc:
"""Size for the IoTDB Thrift connection pool"""

connect_timeout.desc:
"""Timeout for connecting to the IoTDB Thrift server"""

recv_timeout.desc:
"""Timeout for IoTDB Thrift server response"""

}
