%% -*- mode: erlang -*-
{deps, [ {jose, {git, "https://github.com/emqx/erlang-jose", {tag, "emqx-1.11.3"}}}
       ]}.

%% Comple Opts
{erl_opts, [warn_unused_vars,
            warn_shadow_vars,
            warn_unused_import,
            warn_obsolete_guard,
            no_debug_info,
            compressed, %% for edge
            {parse_transform}
           ]}.

{overrides, [{add, [{erl_opts, [no_debug_info, compressed]}]}]}.

{edoc_opts, [{preprocess, true}]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, deprecated_function_calls,
               warnings_as_errors, deprecated_functions
              ]}.

%% {erl_opts, [...]}, but for CT runs
%% NOT WORKING!!!
%% %% == Common Test ==
%% {ct_compile_opts, [ export_all
%%                   , nowarn_export_all
%%                   ]}.
%% {ct_opts, []}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.

{plugins, [rebar3_proper]}.
