%% -*- mode: erlang -*-

{erl_opts, [debug_info, nowarn_unused_import]}.
{deps, [
    {emqx, {path, "../emqx"}},
    {emqx_utils, {path, "../emqx_utils"}},
    {emqx_connector, {path, "../emqx_connector"}},
    {emqx_mongodb, {path, "../emqx_mongodb"}},
    {emqx_redis, {path, "../emqx_redis"}},
    {emqx_mysql, {path, "../emqx_mysql"}},
    {emqx_bridge_http, {path, "../emqx_bridge_http"}}
]}.

{shell, [
    % {config, "config/sys.config"},
    {apps, [emqx_authz]}
]}.

{project_plugins, [erlfmt]}.
