##--------------------------------------------------------------------
## Cluster in service discovery using 'etcd' service mode
##
## Configs to instruct how individual nodes can discover each other
##--------------------------------------------------------------------
## Note: This is an example of how to configure this feature
##       you should copy and paste the below data into the emqx.conf for working

cluster {
    ## Human-friendly name of the EMQX cluster.
    name = emqxcl

    ## Service discovery method for the cluster nodes
    discovery_strategy = etcd

    ## List of core nodes that the replicant will connect to
    core_nodes = ['emqx1@192.168.0.1', 'emqx2@192.168.0.2']

    ## Remove disconnected nodes from the cluster after this interval
    autoclean = 5m

    ## If true, the node will try to heal network partitions automatically
    autoheal = true

    etcd {
      ## List of endpoint URLs of the etcd cluster
      ## Type: Comma Separated String
      server = "http://ur1,http://ur2"

      ## Key prefix used for EMQX service discovery
      prefix = emqxcl

      ## Expiration time of the etcd key associated with the node
      node_ttl = 1m
    }
}
