##--------------------------------------------------------------------
## File Transfer
##
## Enables the File Transfer over MQTT feature
##--------------------------------------------------------------------
## Note: This is an example of how to configure this feature
##       you should copy and paste the below data into the emqx.conf for working

## Note: This configuration only works for the EMQX Enterprise version

file_transfer {
    ## Enable the File Transfer feature
    enable = true

    ## Storage backend settings
    storage {
        ## Local file system backend setting
        ## Currently, it's the only available storage backend.
        local {
            ## Enable the backend
            enable = true

            ## Segments and temporary files storage settings
            segments {
                ## Directory where these files are stored
                root = "/var/lib/emqx/transfers/segments"

                ## Garbage collection settings
                gc {
                    ## How often to run GC
                    interval = 1h

                    ## Maximum time to keep parts of incomplete transfers for
                    maximum_segments_ttl = 24h
                }
            }

            ## Local filesystem exporter
            exporter.local {

                ## Enable the backend
                ## Note: Only one backend may be enabled at a time
                enable = true

                ## Directory in the local file system where to store transferred files
                root = "/var/lib/emqx/transfers/exports"
            }
        }
    }
}
