##--------------------------------------------------------------------
## Gateway CoAP
##
## Add a CoAP gateway
##--------------------------------------------------------------------
## Note: This is an example of how to configure this feature
##       you should copy and paste the below data into the emqx.conf for working

gateway.coap {
    enable = true
    connection_required = false
    enable_stats = true
    heartbeat = 30s
    idle_timeout = 30s
    mountpoint = "coap2/"
    notify_type = qos
    publish_qos = coap
    subscribe_qos = coap
}
