%% -*- mode: erlang; -*-

{erl_opts, [debug_info]}.

{deps, [
    {tdengine, {git, "https://github.com/emqx/tdengine-client-erl", {tag, "0.1.9"}}},
    {emqx_connector, {path, "../../apps/emqx_connector"}},
    {emqx_resource, {path, "../../apps/emqx_resource"}},
    {emqx_bridge, {path, "../../apps/emqx_bridge"}}
]}.
