.eunit
deps
*.so
.iml
.idea
*.o
*.beam
*.plt
erl_crash.dump
ebin
rel/example_project
.concrete/DEV_MODE
.rebar
.erlang.mk/
emqx_auth_mysql.d
ct.coverdata
logs/
test/ct.cover.spec
test/*.beam
cover/
eunit.coverdata
data
.placeholder
_build/
rebar.lock
erlang.mk
rebar3.crashdump
etc/emqx_auth_mysql.conf.rendered
.rebar3/
*.swp
.DS_Store
