%% -*- mode: erlang; -*-

{erl_opts, [debug_info]}.
{deps, [
    %% NOTE: mind ecpool version when updating eredis_cluster version
    {eredis_cluster, {git, "https://github.com/emqx/eredis_cluster", {ref, "32333e1cfae9fc16a2ba943048e1cfdc379c95d5"}}},
    {emqx_connector, {path, "../../apps/emqx_connector"}},
    {emqx_resource, {path, "../../apps/emqx_resource"}}
]}.
