%% -*- mode: erlang; -*-

{erl_opts, [debug_info]}.
{deps, [
    %% NOTE: mind ecpool version when updating eredis_cluster version
    {eredis_cluster, {git, "https://github.com/emqx/eredis_cluster", {ref, "34b55acb50f95fd6887c755d2b27b3170502d4e4"}}},
    {emqx_connector, {path, "../../apps/emqx_connector"}},
    {emqx_resource, {path, "../../apps/emqx_resource"}}
]}.
