[
  {emysql, [
    {pool, 4},
    {host, "localhost"},
    {port, 3306},
    {username, "root"},
    {password, "root"},
    {database, "emqtt"},
    {encoding, utf8}
  ]},
  {emqttd_plugin_mysql, [
    {users_table, auth_user},
    {acls_table, auth_acl},
    {field_mapper, [
      {username, username},
      {password, password, pbkdf2},
      {user_super, is_super_user},
      {acl_username, username},
      {acl_rw, rw},
      {acl_topic, topic}
    ]}
  ]}
].
