{erl_opts, [debug_info]}.
{deps, [ {hocon, {git, "https://github.com/emqx/hocon.git", {tag, "0.30.0"}}}
       , {emqx_connector, {path, "../../apps/emqx_connector"}}
       , {emqx_resource, {path, "../../apps/emqx_resource"}}
       , {emqx_bridge, {path, "../../apps/emqx_bridge"}}
       ]}.

{shell, [
    {apps, [emqx_ee_bridge]}
]}.
