{erl_opts, [debug_info]}.
{deps, [ {hocon, {git, "https://github.com/emqx/hocon.git", {tag, "0.32.0"}}}
       , {wolff, {git, "https://github.com/kafka4beam/wolff.git", {tag, "1.7.0"}}}
       , {kafka_protocol, {git, "https://github.com/kafka4beam/kafka_protocol.git", {tag, "4.1.0"}}}
       , {brod_gssapi, {git, "https://github.com/kafka4beam/brod_gssapi.git", {tag, "v0.1.0-rc1"}}}
       , {brod, {git, "https://github.com/kafka4beam/brod.git", {tag, "3.16.4"}}}
       , {emqx_connector, {path, "../../apps/emqx_connector"}}
       , {emqx_resource, {path, "../../apps/emqx_resource"}}
       , {emqx_bridge, {path, "../../apps/emqx_bridge"}}
       ]}.

{shell, [
    {apps, [emqx_ee_bridge]}
]}.
