{erl_opts, [debug_info]}.
{deps, [
    {mysql,  {git, "https://github.com/mysql-otp/mysql-otp", {tag, "1.7.0"}}},
    {eredis, {git, "https://github.com/wooga/eredis.git", {tag, "v1.2.0"}}},
    {poolman, {git, "https://github.com/zhengweixing/poolman.git", {branch, "main"}}},
    {recon, {git, "https://github.com/ferd/recon", {tag, "2.5.1"}}},
    {ehttpd, {git, "git@github.com:alinkiot/ehttpd.git", {branch, "dev"}}},
    {hackney, {git, "https://github.com/benoitc/hackney", {tag, "1.18.0"}}},
    {alinkutil, {git, "git@github.com:alinkiot/alinkutil", {branch, "master"}}}
]}.

