{emqx_management, true}.
{emqx_dashboard, false}.
{emqx_modules, {{enable_plugin_emqx_modules}}}.
{emqx_retainer, {{enable_plugin_emqx_retainer}}}.
{emqx_bridge_mqtt, {{enable_plugin_emqx_bridge_mqtt}}}.
