%% -*- mode: erlang -*-

{erl_opts, [
    nowarn_unused_import,
    debug_info
]}.

{deps, [
    {emqx, {path, "../emqx"}},
    {emqx_resource, {path, "../emqx_resource"}},
    {eldap2, {git, "https://github.com/emqx/eldap2", {tag, "v0.2.2"}}},
    {mysql, {git, "https://github.com/emqx/mysql-otp", {tag, "1.7.2"}}},
    {epgsql, {git, "https://github.com/emqx/epgsql", {tag, "4.7.0.1"}}},
    {mongodb, {git, "https://github.com/emqx/mongodb-erlang", {tag, "v3.0.19"}}},
    %% NOTE: mind ecpool version when updating eredis_cluster version
    {eredis_cluster, {git, "https://github.com/emqx/eredis_cluster", {tag, "0.8.1"}}}
]}.

{shell, [
    % {config, "config/sys.config"},
    {apps, [emqx_connector]}
]}.

{project_plugins, [erlfmt]}.
