%% -*- mode: erlang -*-

{erl_opts, [
    nowarn_unused_import,
    debug_info
]}.

{deps, [
    {emqx, {path, "../emqx"}},
    {eldap2, {git, "https://github.com/emqx/eldap2", {tag, "v0.2.2"}}},
    {mysql, {git, "https://github.com/emqx/mysql-otp", {tag, "1.7.1"}}},
    {epgsql, {git, "https://github.com/emqx/epgsql", {tag, "4.7-emqx.2"}}},
    %% NOTE: mind poolboy version when updating mongodb-erlang version
    {mongodb, {git, "https://github.com/emqx/mongodb-erlang", {tag, "v3.0.13"}}},
    %% NOTE: mind poolboy version when updating eredis_cluster version
    {eredis_cluster, {git, "https://github.com/emqx/eredis_cluster", {tag, "0.7.1"}}},
    %% mongodb-erlang uses a special fork https://github.com/comtihon/poolboy.git
    %% (which has overflow_ttl feature added).
    %% However, it references `{branch, "master}` (commit 9c06a9a on 2021-04-07).
    %% By accident, We have always been using the upstream fork due to
    %% eredis_cluster's dependency getting resolved earlier.
    %% Here we pin 1.5.2 to avoid surprises in the future.
    {poolboy, {git, "https://github.com/emqx/poolboy.git", {tag, "1.5.2"}}},
    {emqtt, {git, "https://github.com/emqx/emqtt", {tag, "1.6.0"}}}
]}.

{shell, [
    % {config, "config/sys.config"},
    {apps, [emqx_connector]}
]}.

{project_plugins, [erlfmt]}.
