[{emqx,
     [{plugins_loaded_file,"loaded_plugins"},
      {plugins_etc_dir,"plugins/"},
      {broker_sys_interval,60},
      {cache_acl,true},
      {allow_anonymous,true},
      {license_file,"../../etc/emqx.lic"},
      {protocol,[{max_clientid_len,1024},{max_packet_size,65536}]},
      {client,
          [{max_publish_rate,5},{idle_timeout,30000},{enable_stats,60000}]},
      {session,
          [{max_subscriptions,0},
           {upgrade_qos,false},
           {max_inflight,32},
           {retry_interval,20000},
           {max_awaiting_rel,100},
           {await_rel_timeout,20000},
           {enable_stats,60000},
           {expiry_interval,7200000}]},
      {mqueue,
          [{priority,[]},
           {type,simple},
           {max_length,infinity},
           {low_watermark,0.2},
           {high_watermark,0.6},
           {store_qos0,true}]},
      {pubsub,[{pool_size,8},{by_clientid,true},{async,true}]},
      {bridge,[{max_queue_len,10000},{ping_down_interval,1}]},
      {listeners, []},
      {sysmon,
          [{long_gc,false},
           {long_schedule,240},
           {large_heap,8388608},
           {busy_port,false},
           {busy_dist_port,true}]}]},
 {gen_rpc,
     [{socket_keepalive_count,2},
      {socket_keepalive_interval,5},
      {socket_keepalive_idle,5},
      {call_receive_timeout,15000},
      {authentication_timeout,5000},
      {send_timeout,5000},
      {connect_timeout,5000},
      {tcp_client_port,5369},
      {tcp_server_port,7369}]}].
