{sys, [
       {lib_dirs, ["../..", "../lib"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "emqtt", "0.1.2",
        [
         kernel,
         stdlib,
         sasl,
         mnesia,
	 lager,
	 compiler,
	 %{folsom, load},
         emqtt
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "emqtt"},
       {profile, embedded},
       {incl_cond, exclude},
       %{mod_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, kernel, [{incl_cond, include}]},
       {app, stdlib, [{incl_cond, include}]},
       {app, sasl, [{incl_cond, include}]},
       {app, mnesia, [{incl_cond, include}]},
       {app, compiler, [{incl_cond, include}]},
       {app, lager, [{incl_cond, include}]},
       %{app, folsom, [{incl_cond, include}]},
       {app, emqtt, [{mod_cond, app}, {incl_cond, include}]}
      ]}.

{target_dir, "emqtt"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "log/"},
           {mkdir, "etc/"},
           {mkdir, "var/data/"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {template, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {template, "files/emqtt", "bin/emqtt"},
           {template, "files/emqtt_ctl", "bin/emqtt_ctl"},
           {template, "files/emqtt.cmd", "bin/emqtt.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {template, "files/app.config", "etc/app.config"},
           {template, "files/vm.args", "etc/vm.args"}
          ]}.
