%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

%% Platform-specific installation paths
{platform_bin_dir,  "./bin"}.
{platform_data_dir, "./var/data"}.
{platform_etc_dir,  "./etc"}.
{platform_lib_dir,  "./lib"}.
{platform_log_dir,  "./log"}.

%%
%% etc/emqttd.config
%%


%%
%% etc/vm.args
%% 

%%
%% bin/emqttd
%% 
{runner_script_dir,  "$(cd ${0%/*} && pwd)"}.
{runner_base_dir,    "${RUNNER_SCRIPT_DIR%/*}"}.
{runner_etc_dir,     "$RUNNER_BASE_DIR/etc"}.
{runner_log_dir,     "$RUNNER_BASE_DIR/log"}.
{pipe_dir,           "/tmp/$RUNNER_SCRIPT/"}.
{runner_user,        ""}.
