%% -*- mode: erlang; -*-

{erl_opts, [debug_info]}.
{deps, [
    %% NOTE: mind ecpool version when updating eredis_cluster version
    {mysql, {git, "https://github.com/emqx/mysql-otp", {tag, "1.8.0.0"}}},
    {emqx_connector, {path, "../../apps/emqx_connector"}},
    {emqx_resource, {path, "../../apps/emqx_resource"}}
]}.
