%% -*- mode: erlang -*-

{erl_opts, [
    debug_info
]}.

{deps, [
    {emqx, {path, "../../apps/emqx"}},
    {emqx_connector, {path, "../../apps/emqx_connector"}},
    {emqx_resource, {path, "../../apps/emqx_resource"}},
    {emqx_bridge, {path, "../../apps/emqx_bridge"}},
    {emqx_bridge_http, {path, "../emqx_bridge_http"}},
    {iotdb, {git, "https://github.com/emqx/iotdb-client-erl.git", {tag, "0.2.0"}}}
]}.
{plugins, [rebar3_path_deps]}.
{project_plugins, [erlfmt]}.
