[
  {ehttpd, [
    {port, 18888},
    {docroot, "priv/www/"},
    {swagger, "priv/swagger/swagger-base.json"},
    {rewrite, "app/alinkdata/priv/rewrite.conf"},
    {expire, 18000},
    {debug, true},
    {token_name, "token"},
    {access_control_allow_headers, "Origin, sessionToken, X-Requested-With, Content-Type, Accept, authorization, istoken"}
  ]},
  {alinkiot, [{plugins, [alinkalarm, alinkiot_tdengine]}]},
  {alinkdata, [
    {mysql, [
      [
        {pool,  default},
        {host, "43.138.194.137"},
        {port, 3306},
        {user, "iot"},
        {password, "sGT7NPGGsNCAkDsB"},
        {database, "iot"},
        {pool_size, 10},
        {query_timeout, 30000},
        {connect_timeout, 30000},
        {keep_alive, true}
      ]
    ]},
    {redis, [
      [
        {pool,  default},
        {host, "43.138.194.137"},
        {port, 6379},
        {password, "sGT7NPGGsNCAkDsB"},
        {database, 0},
        {pool_size, 10}
      ]
    ]},
    {wechat_server, [
        {enable, true},
        {flush_interval, 3600},
        {app_id, <<"wxea1476cc16286747">>},
        {app_secret, <<"b9e9b338cc123d9f21d39db2548b5962">>},
        {msg_template_id, <<"Owf5iu7P5Nkdt3YT_K1njEqWPun5PToNrAOMH-sv-SA">>},
        {notice_template_id, <<"NEqcpEDEFTvBzmBy8_5z96iIvviEFi3dyJXX-jehBFg">>}
    ]},
    {sms, [
        {verify_tpl_id, <<"1510178">>},
        {alert_tpl_id, <<"1785230">>},
        {tencent_sms_appid, <<"1400592785">>},
        {tencent_sms_appkey, <<"d57a59b774e496853017f9fe74bde6a9">>},
        {tecent_sms_sign, <<"有智云"/utf8>>}
    ]}
  ]},
    {alinkiot_tdengine, [
        {host, "43.138.194.137"},
        {port, 6041},
        {username, "root"},
        {password, "taosdata"},
        {database, "alinkiot"},
        {pool_size, 20},
        {flush_interval, 1000},
        {flush_msg_len, 20}
    ]}
].
