%% -*- mode: erlang; -*-

{erl_opts, [debug_info]}.
{deps, [
    {pulsar, {git, "https://github.com/emqx/pulsar-client-erl.git", {tag, "2.0.0"}}},
    {emqx_connector, {path, "../../apps/emqx_connector"}},
    {emqx_resource, {path, "../../apps/emqx_resource"}},
    {emqx_bridge, {path, "../../apps/emqx_bridge"}}
]}.

{shell, [
    % {config, "config/sys.config"},
    {apps, [emqx_bridge_pulsar]}
]}.
