%% -*- mode: erlang; -*-

{erl_opts, [
    warn_unused_vars,
    warn_shadow_vars,
    warn_unused_import,
    warn_obsolete_guard,
    warnings_as_errors,
    debug_info
]}.

{deps, [
    {emqx_resource, {path, "../../apps/emqx_resource"}},
    {emqx_connector_aggregator, {path, "../../apps/emqx_connector_aggregator"}},
    {emqx_s3, {path, "../../apps/emqx_s3"}}
]}.
