%% -*- mode: erlang; -*-

{erl_opts, [debug_info]}.
{deps, [
    {wolff, "4.0.11"},
    {kafka_protocol, "4.2.8"},
    {brod_gssapi, "0.1.3"},
    {brod, "4.4.6"},
    {snappyer, "1.2.10"},
    {emqx_connector, {path, "../../apps/emqx_connector"}},
    {emqx_resource, {path, "../../apps/emqx_resource"}},
    {emqx_bridge, {path, "../../apps/emqx_bridge"}}
]}.

{shell, [
    {apps, [emqx_bridge_kafka]}
]}.
