.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin/*
rel/example_project
.concrete/DEV_MODE
.rebar
.erlang.mk/
emqx_connect_jt808.d
data/
!data/app.config
.idea/
*.iml
emqx_gateway_jt808.d
logs/
cover/
ct.coverdata
eunit.coverdata
test/ct.cover.spec
_build/
etc/emqx_gateway_jt808.conf.rendered
*.swp
rebar.lock
.rebar3/
