%%-*- mode: erlang -*-
{erl_opts, [debug_info]}.

{plugins, [{grpcbox_plugin, "0.7.0"}]}.

{deps, [
        {grpcbox, {git, "https://github.com/tsloughter/grpcbox", {branch, "master"}}}
       ]}.

{grpc, [{protos, ["protos"]},
        {gpb_opts, [{descriptor, true},
                    {module_name_suffix, "_pb"}]}]}.
