%% -*- mode: erlang; -*-

{erl_opts, [debug_info]}.
{deps, [
    {clickhouse, {git, "https://github.com/emqx/clickhouse-client-erl", {tag, "0.3.3"}}},
    {emqx_connector, {path, "../../apps/emqx_connector"}},
    {emqx_resource, {path, "../../apps/emqx_resource"}},
    {emqx_bridge, {path, "../../apps/emqx_bridge"}}
]}.

{shell, [
    {apps, [emqx_bridge_clickhouse]}
]}.
