name: Build slim packages

concurrency:
  group: slim-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_call:
  workflow_dispatch:
    inputs:
      ref:
        required: false

permissions:
  contents: read

jobs:
  linux:
    runs-on: ${{ github.repository_owner == 'emqx' && format('aws-ubuntu22.04-{0}', matrix.arch) || (matrix.arch == 'arm64' && 'ubuntu-22.04-arm' || 'ubuntu-22.04') }}
    env:
      PROFILE: ${{ matrix.profile }}
      ARCH: ${{ matrix.arch }}
      BUILDER_SYSTEM: force_docker

    strategy:
      fail-fast: false
      matrix:
        profile:
          - "emqx-enterprise"
        arch:
          - "arm64"
          - "amd64"

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0
    - name: build tgz
      run: |
        ./scripts/buildx.sh --profile $PROFILE --pkgtype tgz --arch $ARCH
    - name: build pkg
      run: |
        ./scripts/buildx.sh --profile $PROFILE --pkgtype pkg --arch $ARCH
    - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: "${{ matrix.profile }}-${{ matrix.arch }}"
        path: _packages/${{ matrix.profile }}/*
        retention-days: 7
        compression-level: 0

  mac:
    strategy:
      fail-fast: false
      matrix:
        profile:
        - emqx-enterprise
        os:
        - macos-15

    runs-on: ${{ matrix.os }}
    env:
      EMQX_NAME: ${{ matrix.profile }}

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Set up environment
      id: env
      run: |
        source env.sh
        echo "OTP_VSN=$OTP_VSN" >> "$GITHUB_OUTPUT"
        echo "ELIXIR_VSN=$ELIXIR_VSN" >> "$GITHUB_OUTPUT"
    - uses: ./.github/actions/package-macos
      with:
        profile: ${{ matrix.profile }}
        otp: ${{ steps.env.outputs.OTP_VSN }}
        elixir: ${{ steps.env.outputs.ELIXIR_VSN }}
        os: ${{ matrix.os }}
    - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: ${{ matrix.os }}
        path: _packages/**/*
        retention-days: 7
