name: Build slim packages

concurrency:
  group: slim-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_call:
  workflow_dispatch:
    inputs:
      ref:
        required: false

permissions:
  contents: read

env:
  NEW_MIX_BUILD: 1

jobs:
  linux:
    runs-on: ${{ github.repository_owner == 'emqx' && format('aws-ubuntu22.04-{0}', matrix.build.arch) || (matrix.build.arch == 'arm64' && 'ubuntu-22.04-arm' || 'ubuntu-22.04') }}
    env:
      PROFILE: ${{ matrix.build.profile }}
      ARCH: ${{ matrix.build.arch }}
      BUILDER_SYSTEM: force_docker

    strategy:
      fail-fast: false
      matrix:
        build:
          - profile: "emqx-enterprise"
            arch: "arm64"
          - profile: "emqx-enterprise"
            arch: "amd64"

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        fetch-depth: 0
    - name: build tgz
      run: |
        ./scripts/buildx.sh --profile $PROFILE --pkgtype tgz --arch $ARCH
    - name: build pkg
      run: |
        ./scripts/buildx.sh --profile $PROFILE --pkgtype pkg --arch $ARCH
    - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: "${{ matrix.build.profile }}-${{ matrix.build.arch }}"
        path: _packages/${{ matrix.build.profile }}/*
        retention-days: 7
        compression-level: 0

  mac:
    strategy:
      fail-fast: false
      matrix:
        profile:
        - emqx-enterprise
        os:
        - macos-15

    runs-on: ${{ matrix.os }}
    env:
      EMQX_NAME: ${{ matrix.profile }}

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - name: Set up environment
      id: env
      run: |
        source env.sh
        echo "OTP_VSN=$OTP_VSN" >> "$GITHUB_OUTPUT"
        echo "ELIXIR_VSN=$ELIXIR_VSN" >> "$GITHUB_OUTPUT"
    - uses: ./.github/actions/package-macos
      with:
        profile: ${{ matrix.profile }}
        otp: ${{ steps.env.outputs.OTP_VSN }}
        elixir: ${{ steps.env.outputs.ELIXIR_VSN }}
        os: ${{ matrix.os }}
    - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: ${{ matrix.os }}
        path: _packages/**/*
        retention-days: 7
