name: Cross build packages

concurrency:
  group: build-packages-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_call:
    inputs:
      profile:
        required: true
        type: string
      publish:
        required: true
        type: boolean
      otp_vsn:
        required: true
        type: string
      elixir_vsn:
        required: true
        type: string
      builder_vsn:
        required: true
        type: string
    secrets:
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
      AWS_DEFAULT_REGION:
        required: true
      AWS_S3_BUCKET:
        required: true
      AWS_CLOUDFRONT_ID:
        required: true
      APPLE_ID_PASSWORD:
        required: true
      APPLE_DEVELOPER_IDENTITY:
        required: true
      APPLE_DEVELOPER_ID_BUNDLE:
        required: true
      APPLE_DEVELOPER_ID_BUNDLE_PASSWORD:
        required: true
      APPLE_DEVELOPER_ID_BUNDLE_NEW:
        required: true
      APPLE_DEVELOPER_ID_BUNDLE_PASSWORD_NEW:
        required: true
  workflow_dispatch:
    inputs:
      ref:
        required: false
      profile:
        required: true
        default: 'emqx-enterprise'
      publish:
        required: false
        type: boolean
        default: false
      otp_vsn:
        required: false
        type: string
        default: '27.3.4.2-5'
      elixir_vsn:
        required: false
        type: string
        default: '1.18.3'
      builder_vsn:
        required: false
        type: string
        default: '6.0-3'

permissions:
  contents: read

jobs:
  linux:
    runs-on: ${{ github.repository_owner == 'emqx' && format('aws-ubuntu22.04-{0}', matrix.arch) || (matrix.arch == 'arm64' && 'ubuntu-22.04-arm' || 'ubuntu-22.04') }}
    strategy:
      fail-fast: false
      matrix:
        profile:
          - ${{ inputs.profile }}
        os:
          - el7
        arch:
          - amd64
          - arm64
        otp:
          - ${{ inputs.otp_vsn }}
        builder:
          - ${{ inputs.builder_vsn }}
        elixir:
          - ${{ inputs.elixir_vsn }}

    defaults:
      run:
        shell: bash

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        ref: ${{ github.event.inputs.ref }}
        fetch-depth: 0
    - name: Apply patch
      run: |
        cat <<'EOF' | git apply
        diff --git a/Makefile b/Makefile
        index 03946e1d..d664efad 100644
        --- a/Makefile
        +++ b/Makefile
        @@ -52,16 +52,17 @@ $(REBAR): .prepare ensure-rebar3

         .PHONY: ensure-hex
         ensure-hex:
        -       @mix local.hex 2.2.1 --if-missing --force
        +       @mix archive.install github hexpm/hex branch latest --force

         .PHONY: ensure-mix-rebar3
         ensure-mix-rebar3: $(REBAR)
        -       @mix local.rebar rebar3 $(CURDIR)/rebar3 --if-missing --force
        +       mkdir -p /root/.mix/elixir/1-18
        +       cp /usr/local/bin/rebar3 /root/.mix/elixir/1-18/

         .PHONY: ensure-mix-rebar
         ensure-mix-rebar: $(REBAR)
        -       @mix local.rebar --if-missing --force
        -
        +       mkdir -p /root/.mix/elixir/1-18
        +       cp /usr/local/bin/rebar3 /root/.mix/elixir/1-18/

         .PHONY: elixir-common-deps
         elixir-common-deps: $(ELIXIR_COMMON_DEPS)
        diff --git a/build b/build
        index 0fcfb820..67991070 100755
        --- a/build
        +++ b/build
        @@ -64,12 +64,6 @@ export PKG_VSN

         SYSTEM="$(./scripts/get-distro.sh)"

        -if [[ $SYSTEM == "el7" ]];
        -then
        -    log_red "WARNING: CentOS 7 is deprecated, please use CentOS 8/9 or Rocky Linux 8/9 instead."
        -    exit 1
        -fi
        -
         ARCH="$(uname -m)"
         case "$ARCH" in
             x86_64)
        diff --git a/scripts/buildx.sh b/scripts/buildx.sh
        index eeb94d0b..88ad01a6 100755
        --- a/scripts/buildx.sh
        +++ b/scripts/buildx.sh
        @@ -133,7 +133,7 @@ HOST_SYSTEM="$(./scripts/get-distro.sh)"
         BUILDER_SYSTEM="${BUILDER_SYSTEM:-$(echo "$EMQX_BUILDER" | awk -F'-' '{print $NF}')}"

         if [[ "${PKGTYPE}" != 'rel' && "${PKGTYPE}" != 'relup' ]]; then
        -  CMD_RUN="make ${MAKE_TARGET} && ./scripts/pkg-tests.sh ${MAKE_TARGET}"
        +  CMD_RUN="mkdir -p /root/.config/rebar3 && echo '{hex, [{ssl_options, [{middlebox_comp_mode, false}]}]}.' > /root/.config/rebar3/rebar.config && make ${MAKE_TARGET} && ./scripts/pkg-tests.sh ${MAKE_TARGET}"
         else
           CMD_RUN="make ${MAKE_TARGET}"
         fi
        @@ -163,6 +163,7 @@ elif docker info; then
                 --platform="linux/$ARCH" \
                 --env ACLOCAL_PATH="/usr/share/aclocal:/usr/local/share/aclocal" \
                 --env EMQX_FLAVOR="$EMQX_FLAVOR" \
        +        --env BUILD_WITHOUT_QUIC=1 \
                 "$EMQX_BUILDER" \
                 bash -euc "git config --global --add safe.directory /emqx && $CMD_RUN"
         else
        'EOF'
    - name: build tgz
      env:
        PROFILE: ${{ matrix.profile }}
        ARCH: ${{ matrix.arch }}
        OS: ${{ matrix.os }}
        BUILDER: "ghcr.io/emqx/emqx-builder/${{ matrix.builder }}:${{ matrix.elixir }}-${{ matrix.otp }}-${{ matrix.os }}"
        BUILDER_SYSTEM: force_docker
      run: |
        ./scripts/buildx.sh \
          --profile $PROFILE \
          --arch $ARCH \
          --builder $BUILDER \
          --pkgtype tgz
    - name: build pkg
      env:
        PROFILE: ${{ matrix.profile }}
        ARCH: ${{ matrix.arch }}
        OS: ${{ matrix.os }}
        BUILDER: "ghcr.io/emqx/emqx-builder/${{ matrix.builder }}:${{ matrix.elixir }}-${{ matrix.otp }}-${{ matrix.os }}"
        BUILDER_SYSTEM: force_docker
      run: |
        ./scripts/buildx.sh \
          --profile $PROFILE \
          --arch $ARCH \
          --builder $BUILDER \
          --pkgtype pkg
    - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: ${{ matrix.profile }}-${{ matrix.os }}-${{ matrix.arch }}-${{ matrix.builder }}-${{ matrix.otp }}-${{ matrix.elixir }}
        path: _packages/${{ matrix.profile }}/
        retention-days: 90
