name: Check integrity of rebar and mix dependencies

on:
  workflow_call:
    inputs:
      builder:
        required: true
        type: string

permissions:
  contents: read

jobs:
  check_deps_integrity:
    runs-on: ubuntu-22.04
    container: ${{ inputs.builder }}
    env:
      MIX_ENV: ${{ matrix.profile }}
      PROFILE: ${{ matrix.profile }}
    strategy:
      matrix:
        profile:
          - emqx-enterprise
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - run: make ensure-rebar3
      - name: Setup mix
        run: make elixir-common-deps mix-deps-get
      - name: print mix dependency tree
        run: mix deps.tree
      - name: Upload produced lock files
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: failure()
        with:
          name: ${{ matrix.profile }}_produced_lock_files
          path: |
            mix.lock
            rebar.lock
          retention-days: 1
