name: Run Configuration tests

concurrency:
  group: conftest-${{ github.event_name }}-${{ github.sha }}
  cancel-in-progress: true

on:
  workflow_call:
    inputs:
      runner:
        required: true
        type: string
      builder:
        required: true
        type: string

jobs:
  run_conf_tests:
    runs-on: ${{ inputs.runner }}
    container: ${{ inputs.builder }}
    env:
      PROFILE: ${{ matrix.profile }}
    strategy:
      fail-fast: false
      matrix:
        profile:
          - emqx
          - emqx-enterprise
    steps:
      - uses: AutoModality/action-clean@v1
      - uses: actions/download-artifact@v3
        with:
          name: ${{ matrix.profile }}
      - name: extract artifact
        run: |
          unzip -o -q ${{ matrix.profile }}.zip
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - run: ./scripts/test/check-example-configs.sh
      - run: ./scripts/conf-test/run.sh
      - name: print erlang log
        if: failure()
        run: |
          cat _build/${{ matrix.profile }}/rel/emqx/logs/erlang.log.*
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: logs-${{ matrix.profile }}
          path: _build/${{ matrix.profile }}/rel/emqx/logs

