name: Run Boot tests

concurrency:
  group: boot-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_call:
    inputs:
      builder:
        required: true
        type: string

permissions:
  contents: read

jobs:
  boot:
    runs-on: ubuntu-22.04
    container: ${{ inputs.builder }}
    env:
      PROFILE: ${{ matrix.profile }}
    strategy:
      fail-fast: false
      matrix:
        profile:
          - emqx-enterprise
    steps:
      - uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          name: ${{ matrix.profile }}-release
      - name: extract artifact
        run: |
          unzip -o -q ${{ matrix.profile }}-release.zip
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - run: make ${{ matrix.profile }}
      - name: install bats
        run: |
          apt-get update
          apt-get install -y bats
      - run: bats --verbose-run ./scripts/test/emqx-boot.bats
