name: Run Configuration tests

concurrency:
  group: conftest-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_call:
    inputs:
      builder:
        required: true
        type: string

permissions:
  contents: read

jobs:
  run_conf_tests:
    runs-on: ubuntu-22.04
    container: ${{ inputs.builder }}
    env:
      PROFILE: ${{ matrix.profile }}
    strategy:
      fail-fast: false
      matrix:
        profile:
          - emqx-enterprise
    steps:
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: ${{ matrix.profile }}-release
      - name: extract artifact
        run: |
          unzip -o -q ${{ matrix.profile }}-release.zip
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - run: make ${{ matrix.profile }}
      - run: ./scripts/test/check-example-configs.sh
      - run: ./scripts/conf-test/run.sh
      - name: print erlang log
        if: failure()
        run: |
          cat _build/${{ matrix.profile }}/rel/emqx/log/erlang.log.*
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: failure()
        with:
          name: conftest-logs-${{ matrix.profile }}
          path: _build/${{ matrix.profile }}/rel/emqx/log
          retention-days: 7
