name: Check emqx app standalone

on:
  push:
    tags:
      - v*
      - e*
  pull_request:

jobs:
    check_all:
        strategy:
          matrix:
            container:
              - "emqx/build-env:erl23.2.7.2-emqx-2-ubuntu20.04"
              - "emqx/build-env:erl24.0.1-emqx-1-ubuntu20.04"

        runs-on: ubuntu-20.04
        container: ${{ matrix.container }}

        steps:
        - uses: actions/checkout@v2
        - name: run
          run: |
            make ensure-rebar3
            cp rebar3 apps/emqx/
            cd apps/emqx
            ./rebar3 xref
            ./rebar3 dialyzer
            ./rebar3 eunit -v
            ./rebar3 ct -v
            ./rebar3 proper -d test/props
