name: Docker image tests

concurrency:
  group: docker-tests-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_call:

permissions:
  contents: read

jobs:
  basic-tests:
    runs-on: ubuntu-22.04
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        profile:
          - ["emqx-enterprise", "emqx/emqx-enterprise:5.4.0"]

    env:
      EMQX_NAME: ${{ matrix.profile[0] }}
      EMQX_IMAGE_OLD_VERSION_TAG: ${{ matrix.profile[1] }}

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/download-artifact@95815c38cf2ff2164869cbab79da8d1f422bc89e # v4.2.1
        with:
          name: ${{ env.EMQX_NAME }}-docker
      - name: load docker image
        run: |
          EMQX_TAG=$(docker load < ${EMQX_NAME}-docker-*.tar.gz 2>/dev/null | sed 's/Loaded image: //g')
          echo "_EMQX_DOCKER_IMAGE_TAG=$EMQX_TAG" >> $GITHUB_ENV
      - name: dashboard tests
        working-directory: ./scripts/ui-tests
        run: |
          set -eu
          docker compose up --abort-on-container-exit --exit-code-from selenium
      - name: test two nodes cluster with proto_dist=inet_tls in docker
        run: |
          export LICENSE_KEY1='default' # for old version
          export LICENSE_KEY2='evaluation' # for new version
          ## -d 2 means only put node 2 (latest version) behind haproxy
          ./scripts/test/start-two-nodes-in-docker.sh -d 2 -P $EMQX_IMAGE_OLD_VERSION_TAG $_EMQX_DOCKER_IMAGE_TAG
          HTTP_PORT=$(docker inspect --format='{{(index (index .NetworkSettings.Ports "18083/tcp") 0).HostPort}}' haproxy)
          ./scripts/test/emqx-smoke-test.sh localhost $HTTP_PORT
          ## -c menas 'cleanup'
          ./scripts/test/start-two-nodes-in-docker.sh -c
      - name: cleanup
        if: always()
        working-directory: ./scripts/ui-tests
        run: |
          docker compose rm -fs

  paho-mqtt-testing:
    runs-on: ${{ github.repository_owner == 'emqx' && 'aws-ubuntu22.04-amd64' || 'ubuntu-22.04' }}
    defaults:
      run:
        shell: bash
    env:
      EMQX_NAME: ${{ matrix.profile }}
      _EMQX_TEST_DB_BACKEND: ${{ matrix.profile == 'emqx-enterprise' && 'rlog' || 'mnesia' }}

    strategy:
      fail-fast: false
      matrix:
        profile:
          - emqx-enterprise
          #TODO: fix
          #- emqx-enterprise-elixir
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/download-artifact@95815c38cf2ff2164869cbab79da8d1f422bc89e # v4.2.1
        with:
          name: ${{ env.EMQX_NAME }}-docker
      - name: load docker image
        run: |
          EMQX_TAG=$(docker load < ${EMQX_NAME}-docker-*.tar.gz 2>/dev/null | sed 's/Loaded image: //g')
          echo "_EMQX_DOCKER_IMAGE_TAG=$EMQX_TAG" >> $GITHUB_ENV
      - name: run emqx
        timeout-minutes: 5
        run: |
          ./.ci/docker-compose-file/scripts/run-emqx.sh $_EMQX_DOCKER_IMAGE_TAG $_EMQX_TEST_DB_BACKEND
      - name: make paho tests
        run: |
          if ! docker exec -i python /scripts/pytest.sh "$_EMQX_TEST_DB_BACKEND"; then
            echo "DUMP_CONTAINER_LOGS_BGN"
            echo "============== haproxy =============="
            docker logs haproxy
            echo "==============  node1  =============="
            docker logs node1.emqx.io
            echo "==============  node2  =============="
            docker logs node2.emqx.io
            echo "DUMP_CONTAINER_LOGS_END"
            exit 1
          fi
      # simple smoke test for node_dump
      - name: test node_dump
        run: |
          docker exec -t -u root node1.emqx.io bash -c 'apt-get -y update && apt-get -y install net-tools'
          docker exec -t -u root node1.emqx.io node_dump
