name: Spellcheck

concurrency:
  group: spellcheck-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_call:

permissions:
  contents: read

jobs:
  spellcheck:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: "emqx-enterprise-schema-dump"
      - name: Run spellcheck
        run: |
          bash scripts/spellcheck/spellcheck.sh _build/docgen/emqx-enterprise/schema-en.json
