name: Spellcheck

concurrency:
  group: spellcheck-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_call:

permissions:
  contents: read

jobs:
  spellcheck:
    strategy:
      matrix:
        profile:
        - emqx-enterprise
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: "${{ matrix.profile }}-schema-dump"
      - name: Run spellcheck
        run: |
          bash scripts/spellcheck/spellcheck.sh _build/docgen/${{ matrix.profile }}/schema-en.json
