name: Static checks

concurrency:
  group: static-checks-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_call:
    inputs:
      builder:
        required: true
        type: string
      ct-matrix:
        required: true
        type: string

env:
  IS_CI: "yes"

permissions:
  contents: read

jobs:
  static_checks:
    runs-on: ${{ github.repository_owner == 'emqx' && 'aws-ubuntu22.04-amd64' || 'ubuntu-22.04' }}
    name: "static_checks (${{ matrix.profile }})"
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJson(inputs.ct-matrix) }}
    container: "${{ inputs.builder }}"
    steps:
      - uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: ${{ matrix.profile }}-release
      - name: extract artifact
        run: |
          unzip -o -q ${{ matrix.profile }}-release.zip
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: "emqx_dialyzer_${{ matrix.profile }}_plt"
          key: rebar3-dialyzer-plt-${{ matrix.profile }}-${{ hashFiles('rebar.*', 'apps/*/rebar.*') }}
          restore-keys: |
            rebar3-dialyzer-plt-${{ matrix.profile }}-
      - name: run static checks
        run: make static_checks
