name: Update emqx/emqx-docs
on:
  workflow_call:
    secrets:
      AUTH_APP_PRIVATE_KEY:
        required: true
  workflow_dispatch:
    inputs:
      tag:
        required: true
        type: string

permissions:
  contents: read

jobs:
  update_emqx_docs:
    runs-on: ubuntu-22.04
    env:
      TAG: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.tag || github.ref_name }}
      PROFILE: emqx-enterprise
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ env.TAG }}
          fetch-depth: 0

      - name: Check if "${{ env.PROFILE }}-schema-dump" artifact is already available
        id: check-artifact
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
        with:
          result-encoding: string
          script: |
            const { data: artifacts } = await github.rest.actions.listWorkflowRunArtifacts(
              {
                owner: context.repo.owner,
                repo: context.repo.repo,
                run_id: context.runId,
                per_page: 100
              },
              res => res.data.artifacts
            );
            return artifacts.some(a => a.name === `${{ env.PROFILE }}-schema-dump`);

      - name: Compile
        if: steps.check-artifact.outputs.result == 'false'
        run: |
          scripts/buildx.sh --profile $PROFILE --pkgtype rel

      - name: Generate GitHub App token
        id: app-token
        uses: actions/create-github-app-token@df432ceedc7162793a195dd1713ff69aefc7379e # v2.0.6
        with:
          app-id: ${{ vars.AUTH_APP_ID }}
          private-key: ${{ secrets.AUTH_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}

      - name: Upload schema-dump artifact
        if: steps.check-artifact.outputs.result == 'false'
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: "${{ env.PROFILE }}-schema-dump"
          path: |
            env.sh
            _build/docgen/${{ env.PROFILE }}/*.json
            _build/docgen/${{ env.PROFILE }}/*.hocon
          retention-days: 7

      - name: Trigger update-api-and-cfg-manual.yaml workflow in emqx/emqx-docs
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
        run: |
          gh --repo emqx/emqx-docs workflow run update-api-and-cfg-manual.yaml -f version=${TAG##e} -f run_id=${GITHUB_RUN_ID}

      - name: Generate changelog
        run: |
          TAG_PATTERN=$(echo "${TAG:0:1}*")
          PREV_TAG=$(git describe --abbrev=0 --tags --match "${TAG_PATTERN}" --exclude '*rc*' --exclude '*alpha*' --exclude '*beta*' --exclude '*docker*' HEAD~1)

          changes_dir=("changes/ce" "changes/ee")
          while read -r file; do
             tar --append --file=changes.tar $file
          done < <(git diff --diff-filter=A --name-only "tags/${PREV_TAG}...HEAD" "${changes_dir[@]}")
          gzip changes.tar

      - name: Upload changes.tar.gz artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: changes
          path: changes.tar.gz
          retention-days: 7

      - name: Trigger workflows in emqx/emqx-docs
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
        run: |
          gh --repo emqx/emqx-docs workflow run update-changelog.yaml -f version=${TAG} -f run_id=${GITHUB_RUN_ID}
