name: Update emqx/emqx-docs
on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:
    inputs:
      tag:
        required: true
        type: string

permissions:
  contents: read

jobs:
  update_emqx_docs:
    runs-on: ${{ endsWith(github.repository, '/emqx') && 'ubuntu-22.04' || 'aws-ubuntu22.04-amd64' }}
    env:
      TAG: ${{ github.event_name == 'push' && github.ref_name || github.event.inputs.tag }}
    steps:
      - name: Generate GitHub App token
        id: app-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ vars.AUTH_APP_ID }}
          private-key: ${{ secrets.AUTH_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}

      - name: Create PR in emqx/emqx-docs
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
        run: |
          gh --repo emqx/emqx-docs workflow run update-api-and-cfg-manual.yaml -f version=${GITHUB_REF_NAME##[v|e]} -f repository=${GITHUB_REPOSITORY} -f run_id=${GITHUB_RUN_ID}

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ env.TAG }}
          fetch-depth: 0

      - name: Detect emqx profile
        id: parse-git-ref
        run: |
          JSON="$(./scripts/parse-git-ref.sh refs/tags/$TAG)"
          PROFILE=$(echo "$JSON" | jq -cr '.profile')
          echo "profile=$PROFILE" | tee -a $GITHUB_ENV
          TAG_PATTERN=$(echo "${TAG:0:1}*")
          PREV_TAG=$(git describe --abbrev=0 --tags --match "${TAG_PATTERN}" --exclude '*rc*' --exclude '*alpha*' --exclude '*beta*' --exclude '*docker*' HEAD~1)
          echo "PREV_TAG=$PREV_TAG" | tee -a $GITHUB_ENV

      - name: Generate changelog
        run: |
          changes_dir=("changes/ce")
          if [ "$PROFILE" == "emqx-enterprise" ]; then
            changes_dir+=("changes/ee")
          fi

          while read -r file; do
             tar --append --file=changes.tar $file
          done < <(git diff --diff-filter=A --name-only "tags/${PREV_TAG}...HEAD" "${changes_dir[@]}")
          gzip changes.tar

      - name: Upload artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: changes
          path: changes.tar.gz
          retention-days: 7
          
      - name: Trigger update-changelog workflow in emqx/emqx-docs
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
        run: |
          gh --repo emqx/emqx-docs workflow run update-changelog.yaml -f version=${TAG} -f repository=${GITHUB_REPOSITORY} -f run_id=${GITHUB_RUN_ID}

