name: Update emqx/emqx-docs
on:
  workflow_call:
    secrets:
      AUTH_APP_PRIVATE_KEY:
        required: true
  workflow_dispatch:
    inputs:
      tag:
        required: true
        type: string

permissions:
  contents: read

jobs:
  update_emqx_docs:
    runs-on: ubuntu-22.04
    env:
      TAG: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.tag || github.ref_name }}
      PROFILE: emqx-enterprise
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ env.TAG }}
          fetch-depth: 0

      - name: Check if "${{ env.PROFILE }}-schema-dump" artifact is already available
        id: check-artifact
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          result-encoding: string
          script: |
            const { data } = await github.rest.actions.listWorkflowRunArtifacts({
              owner: context.repo.owner,
              repo: context.repo.repo,
              run_id: context.runId,
              per_page: 100
            });
            const list = data.artifacts ?? [];
            return list.some(a => a.name === `${process.env.PROFILE}-schema-dump`);

      - name: Compile
        if: steps.check-artifact.outputs.result == 'false'
        run: |
          scripts/buildx.sh --profile $PROFILE --pkgtype rel

      - name: Generate GitHub App token
        id: app-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ vars.AUTH_APP_ID }}
          private-key: ${{ secrets.AUTH_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}

      - name: Upload schema-dump artifact
        if: steps.check-artifact.outputs.result == 'false'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: "${{ env.PROFILE }}-schema-dump"
          path: |
            env.sh
            _build/docgen/${{ env.PROFILE }}/*.json
            _build/docgen/${{ env.PROFILE }}/*.hocon
          retention-days: 7

      - name: Trigger update-api-and-cfg-manual.yaml workflow in emqx/emqx-docs
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
        run: |
          gh --repo emqx/emqx-docs workflow run update-api-and-cfg-manual.yaml -f version=${TAG##e} -f run_id=${GITHUB_RUN_ID}

      - name: Generate changelog
        run: |
          PREV_TAG=$(./scripts/find-prev-rel-tag.sh)

          changes_dir=("changes/ee")
          while read -r file; do
             tar --append --file=changes.tar $file
          done < <(git diff --diff-filter=A --name-only "tags/${PREV_TAG}...HEAD" "${changes_dir[@]}")
          gzip changes.tar

      - name: Upload changes.tar.gz artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: changes
          path: changes.tar.gz
          retention-days: 7

      - name: Trigger workflows in emqx/emqx-docs
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
        run: |
          gh --repo emqx/emqx-docs workflow run update-api-and-cfg-manual.yaml -f version=${TAG##e} -f run_id=${GITHUB_RUN_ID}
