%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
[{kernel, 
	[{start_timer, true},
	 {start_pg2, true}
 ]},
 {sasl, [
	{sasl_error_logger, {file, "log/emqttd_sasl.log"}}
 ]},
 {ssl, [
    %{versions, ['tlsv1.2', 'tlsv1.1']}
 ]},
 {lager, [
	{error_logger_redirect, false},
	{crash_log, "log/emqttd_crash.log"},
	{handlers, [
		{lager_console_backend, info},
		{lager_file_backend, [
            {formatter_config, [time, " ", pid, " [",severity,"] ", message, "\n"]},
			{file, "log/emqttd_info.log"},
			{level, info},
			{size, 104857600},
			{date, "$D0"},
			{count, 10}
		]},
		{lager_file_backend, [
            {formatter_config, [time, " ", pid, " [",severity,"] ", message, "\n"]},
			{file, "log/emqttd_error.log"},
			{level, error},
			{size, 10485760},
			{date, "$D0"},
			{count, 10}
		]}
	]}
 ]},
 {esockd, [
    {logger, {lager, info}}
 ]},
 {emqttd, [
    {access_control, [
        %% Authetication. , Anonymous Default
        {auth, [
            %% authentication with username, password
            %{username, []},
            %% authentication with clientid
            %{clientid, [{password, no}, {file, "etc/clients.config"}]},
            %% allow all
            {anonymous, []}
        ]},
        %% ACL config
        {acl, [
            %% User internal ACL module
            {internal,  [{file, "etc/acl.config"}, {nomatch, allow}]}
        ]}
    ]},
    %% Packet
    {packet, [
        {max_clientid_len, 1024},
        {max_packet_size, 16#ffff}
    ]},
    %% Session
    {session, [
        {expires, 1}, %hour
        {max_queue, 1000},
        {store_qos0, false}
    ]},
    %% Retain messages
    {retained, [
        {max_message_num, 100000},
        {max_playload_size, 16#ffff}
    ]},
    %% PubSub
    {pubsub, []},
    %% Broker
    {broker, [
        {sys_interval, 60}
    ]},
    %% Metrics
    {metrics, [
        {pub_interval, 60}
    ]},
    %% Bridge
    {bridge, [
        {max_queue_len, 1000}, %NO effect now
        {ping_down_interval, 1} %seconds
    ]},
    %% Listen Ports
    {listen, [
        {mqtt, 1883, [
            {backlog, 512},
            {acceptors, 16},
            {max_clients, 1024},
            {access, [{allow, all}]}
        ]},
        {mqtts, 8883, [
            {backlog, 128},
            {acceptors, 4},
            {max_clients, 1024},
            {access, [{allow, all}]},
            %{cacertfile, "etc/ssl/cacert.pem"}, 
            {ssl, [{certfile, "etc/ssl.crt"},
                   {keyfile,  "etc/ssl.key"}]}
        ]},
        {http, 8083, [
            {acceptors, 4},
            {max_clients, 512},
            {access, [{allow, "127.0.0.1"}]}
        ]}
    ]},
    % Plugins 
    {plugins, [
        {emqttd_auth_ldap, [ldap_params]},
        {emqttd_auth_mysql, [mysql_params]}
    ]}
 ]}
].

