%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
[{kernel, 
	[{start_timer, true}, 
	 {start_pg2, true}
 ]},
 {sasl, [
	{sasl_error_logger, {file, "log/emqtt_sasl.log"}}
 ]},
 {mnesia, [
	{dir, "data"}
 ]},
 {lager, [
	{error_logger_redirect, false},
	{crash_log, "log/emqtt_crash.log"},
	{handlers, [
		{lager_console_backend, debug},
		{lager_file_backend, [
			{file, "log/emqtt_error.log"},
			{level, error},
			{size, 10485760},
			{date, "$D0"},
			{count, 5}
		]},
		{lager_file_backend, [
			{file, "log/emqtt_info.log"},
			{level, info},
			{size, 10485760},
			{date, "$D0"},
			{count, 5}
		]}
	]}
 ]},
 {emqtt, [
    {auth, {anonymous, []}}, %internal, anonymous
    {listen, [
        {mqtt, 1883, [
            {max_conns, 1024},
            {acceptor_pool, 4}
        ]},
        {http, 8083, [
            {max_conns, 512},
            {acceptor_pool, 1}
        ]}
    ]}
 ]}
].

