%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
[{kernel, 
	[{start_timer, true},
	 {start_pg2, true}
 ]},
 {sasl, [
	{sasl_error_logger, {file, "log/emqttd_sasl.log"}}
 ]},
 {mnesia, [
	{dir, "data"}
 ]},
 {ssl, [
    %{versions, ['tlsv1.2', 'tlsv1.1']}
 ]},
 {lager, [
	{error_logger_redirect, false},
	{crash_log, "log/emqttd_crash.log"},
	{handlers, [
		{lager_console_backend, debug},
		{lager_file_backend, [
			{file, "log/emqttd_error.log"},
			{level, error},
			{size, 10485760},
			{date, "$D0"},
			{count, 5}
		]},
		{lager_file_backend, [
			{file, "log/emqttd_info.log"},
			{level, info},
			{size, 10485760},
			{date, "$D0"},
			{count, 5}
		]}
	]}
 ]},
 {esockd, [
    {logger, {lager, info}}
 ]},
 {emqttd, [
    %Authetication. Internal, Anonymous Default.
    {auth, {anonymous, []}}, 
    {access, []},
    {packet, [
        {max_clientid_len, 1024},
        {max_packet_size, 16#ffff}
    ]},
    {session, [
        {expires, 1},
        {max_queue, 1000},
        {store_qos0, false}
    ]},
    {retain, [
        {store_limit, 100000}
    ]},
    {broker, [
        {sys_interval, 60}
    ]},
    {metrics, [
        {pub_interval, 60}
    ]},
    {bridge, [
        {max_queue_len, 1000},
        {ping_down_interval, 1} %seconds
    ]},
    {listen, [
        {mqtt, 1883, [
            {backlog, 512},
            {max_clients, 1024},
            {acceptors, 16}
        ]},
        {mqtts, 8883, [
            {backlog, 128},
            {acceptors, 4},
            {max_clients, 1024},
            %{cacertfile, "etc/ssl/cacert.pem"}, 
            {ssl, [{certfile, "etc/ssl.crt"},
                   {keyfile,  "etc/ssl.key"}]}
        ]},
        {http, 8083, [
            {acceptors, 4}
            {max_clients, 512},
        ]}
    ]}
 ]}
].

